	UPDATE [dbo].[TerminalRegistration] SET [Endpoint] = 'terminals.fr8.co:39768' WHERE [Endpoint] LIKE 'terminalAtlassian.fr8.co'
	UPDATE [dbo].[TerminalRegistration] SET [Endpoint] = 'terminals.fr8.co:46281' WHERE [Endpoint] LIKE 'terminalAzure.fr8.co'
	UPDATE [dbo].[TerminalRegistration] SET [Endpoint] = 'terminals.fr8.co:61121' WHERE [Endpoint] LIKE 'terminalBasecamp2.fr8.co'
	UPDATE [dbo].[TerminalRegistration] SET [Endpoint] = 'terminals.fr8.co:53234' WHERE [Endpoint] LIKE 'terminalDocuSign.fr8.co'
	UPDATE [dbo].[TerminalRegistration] SET [Endpoint] = 'terminals.fr8.co:19760' WHERE [Endpoint] LIKE 'terminalDropbox.fr8.co'
	UPDATE [dbo].[TerminalRegistration] SET [Endpoint] = 'terminals.fr8.co:47011' WHERE [Endpoint] LIKE 'terminalExcel.fr8.co'
	UPDATE [dbo].[TerminalRegistration] SET [Endpoint] = 'terminals.fr8.co:22666' WHERE [Endpoint] LIKE 'terminalFacebook.fr8.co'
	UPDATE [dbo].[TerminalRegistration] SET [Endpoint] = 'terminals.fr8.co:50705' WHERE [Endpoint] LIKE 'terminalFr8Core.fr8.co'
	UPDATE [dbo].[TerminalRegistration] SET [Endpoint] = 'terminals.fr8.co:30701' WHERE [Endpoint] LIKE 'terminalPapertrail.fr8.co'
	UPDATE [dbo].[TerminalRegistration] SET [Endpoint] = 'terminals.fr8.co:48317' WHERE [Endpoint] LIKE 'terminalQuickBooks.fr8.co'
	UPDATE [dbo].[TerminalRegistration] SET [Endpoint] = 'terminals.fr8.co:51234' WHERE [Endpoint] LIKE 'terminalSalesforce.fr8.co'
	UPDATE [dbo].[TerminalRegistration] SET [Endpoint] = 'terminals.fr8.co:10601' WHERE [Endpoint] LIKE 'terminalSendGrid.fr8.co'
	UPDATE [dbo].[TerminalRegistration] SET [Endpoint] = 'terminals.fr8.co:39504' WHERE [Endpoint] LIKE 'terminalSlack.fr8.co'
	UPDATE [dbo].[TerminalRegistration] SET [Endpoint] = 'terminals.fr8.co:59022' WHERE [Endpoint] LIKE 'terminalTelegram.fr8.co'
	UPDATE [dbo].[TerminalRegistration] SET [Endpoint] = 'terminals.fr8.co:30699' WHERE [Endpoint] LIKE 'terminalTwilio.fr8.co'
	UPDATE [dbo].[TerminalRegistration] SET [Endpoint] = 'terminals.fr8.co:56785' WHERE [Endpoint] LIKE 'terminalAsana.fr8.co'
	UPDATE [dbo].[TerminalRegistration] SET [Endpoint] = 'terminals.fr8.co:22555' WHERE [Endpoint] LIKE 'terminalDemo.fr8.co'
	UPDATE [dbo].[TerminalRegistration] SET [Endpoint] = 'terminals.fr8.co:25923' WHERE [Endpoint] LIKE 'terminalGoogle.fr8.co'	
	UPDATE [dbo].[TerminalRegistration] SET [Endpoint] = 'terminals.fr8.co:39555' WHERE [Endpoint] LIKE 'terminalYammer.fr8.co'