@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
   using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
   {
     
  <ul class="pull-right welcomemsg">
      <li data-section="2">@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
  </ul>

<ul class="nav pull-right">
    <li data-section="2"><a href="#how_to_works" class="how_to_works" title="How it Works">How it Works</a></li>
    <li><a href="/Home/About" title="About Us">About Us</a></li>
    <li data-section="3"><a href="#faq" title="FAQ">FAQ</a></li>
    <li data-section="4"><a href="#contacts" title="Contact">Contact</a></li>
    <li>@Html.ActionLink("My Account", "MyAccount", "User") </li>
    <li>@Html.ActionLink("Sign Out", "LogOff", "Account", routeValues: null, htmlAttributes: new { id = "logoffLink" })</li>
</ul>
}
}
else
{
    <ul class="nav pull-right">
        <li data-section="2"><a href="#how_to_works" class="how_to_works" title="How it Works">How it Works</a></li>
        <li><a href="/Home/About" title="About Us">About Us</a></li>
        <li data-section="3"><a href="#faq" title="FAQ">FAQ</a></li>
        <li><a href="/Account/Index" title="SignUp/Login">SignUp/Login</a></li>
        <li data-section="4"><a href="#contacts" title="Contact">Contact</a></li>
    </ul>
}