<nav class="navbar navbar-fixed-top navbar-light">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
                <img src="/Content/img/dockyard_logo_white.png" alt="FR8" />
                <h1 class="hide">FR8 Company</h1>
            </a>
        </div>
        <div class="navbar-collapse collapse" id="main-nav" role="navigation">
            <!------SINGUP/LOGIN UPRIGHT OR WELCOMING MESSAGE----------------------------------->
            @using Microsoft.AspNet.Identity
            @if (Request.IsAuthenticated)
            {
                <div class="userinfo">
                    <p class="navbar-text">Hello
                        @if (User.IsInRole("Guest"))
                        {
                            <text>Guest User!</text>
                        }
                        else
                        {
                            <text>@User.Identity.GetUserName()!</text>
                        }
                    </p>
                    @if (User.IsInRole("Guest"))
                    {
                        <p class="navbar-text"><a href="/DockyardAccount/Logoff">Have an Account? Login</a></p>
                    }
                </div>
            }
            <!------END OF SINGUP/LOGIN UPRIGHT OR WELCOMING MESSAGE-------------------------->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Model.HowItWorks">How it Works</a></li>
                <li data-scroll="scrolling" class="dropdown">
                    <a data-target="#" href="/#services" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Services">Services <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Services/DocuSign">DocuSign</a></li>
                        <li><a href="/Services/Salesforce">Salesforce.com</a></li>
                        @*<li><a href="/Services/GoogleApps">Google Apps</a></li>*@
                    </ul>
                </li>
                <li><a href="http://fr8-documentation.azurewebsites.net">Developers</a></li>
                <li data-scroll="scrolling" class="dropdown">
                    <a href="@Model.Company" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Company">Company <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li data-scroll="scrolling"><a href="/Company/#vision">Vision</a></li>
                        <li data-scroll="scrolling"><a href="/Company/#team">Team</a></li>
                        <li data-scroll="scrolling"><a href="/Company/#location">Location</a></li>
                        <li data-scroll="scrolling"><a href="/Company/#company">Jobs</a></li>
                        <li data-scroll="scrolling"><a href="/Company/#team">About Us</a></li>
                        <li data-scroll="scrolling"><a href="/Support">Support</a></li>
                    </ul>
                </li>
                <li><a href="/#contact">Contact</a></li>
                <li><a href="http://blog.fr8.co" target="_blank">Blog</a></li>

                @if (!Request.IsAuthenticated)
                {
                    <li><p class="navbar-btn"><a href="/DockyardAccount" class="btn btn-danger">Login/Register</a></p></li>
                }
                else
                {
                    <li><p class="navbar-btn"><a href="/dashboard/myaccount" class="btn btn-primary">My Account</a></p></li>
                }

            </ul>
        </div>
    </div>
</nav>
