body {
    margin: 10px !important;
}

.search-bar-container {
    text-align: center;
}

.search-bar {
    display: inline-block;
    width: 40%;
}

.result-container {
    text-align: center;
}

.result-container .item {
    position: relative;
    display: inline-block;
    width: 60%;
    text-align: left;

    padding: 5px;
    border: 1px solid #eaeaea;
    margin: 5px 0 5px 0;
}

.result-container .item .info-row {
    margin-top: 5px;
    margin-right: 150px;
}

.result-container .item .info-row.first {
    margin-top: 0;
}

.result-container .item .label {
    color: black;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.result-container .item .create-plan-btn {
    position: absolute;
    right: 10px;
    top: 10px;
}

.header-container {
    text-align: center;
    position: relative;
}

.header {
    display: inline-block;
    width: 60%;
}

.header .label {
    text-align: left;
    font-weight: bold;
    font-size: 32px;
    color: #697882;

    position: absolute;
    left: 50%;
    top: 45px;
    margin-left: -210px;
}

.logo {
    background-image: url('dockyard_logo.png');
    width: 143px;
    height: 85px;
}
