@model KwasantWeb.ViewModels.ForgotPasswordVM

@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="login-section col-md-5 status-message">
    <div class="wrapper">
        <h2 class="section-title with-border">Check your email</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="custom-form">
                    <p>Reset password email sent to @Model.Email</p>
                </div>
            </div>
        </div>
    </div>
</div>

