@using Utilities
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js" data-ng-app="app"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" data-ng-app="app"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" data-ng-app="app">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <title data-ng-bind="'Dockyard | ' + $state.current.data.pageTitle"></title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/bower_components/font-awesome-min/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="~/bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" type="text/css" rel="stylesheet" />
    <link href="~/bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" type="text/css" rel="stylesheet" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN DYMANICLY LOADED CSS FILES(all plugin and page related styles must be loaded between GLOBAL and THEME css files ) -->
    <link id="ng_load_plugins_before" />
    <!-- END DYMANICLY LOADED CSS FILES -->
    <!-- BEGIN THEME STYLES -->
    <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
    <link href="/Content/templates/metronic/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="/Content/templates/metronic/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/Content/templates/metronic/assets/admin/layout3/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="/Content/templates/metronic/assets/admin/layout3/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="/Content/templates/metronic/assets/admin/layout3/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/dockyard.css" rel="stylesheet" />
    <!-- END THEME STYLES -->
    <!-- BEGIN Datatables STYLES -->
    <link href="~/bower_components/datatables/media/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/bower_components/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/bower_components/angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.min.css" rel="stylesheet" />
    <!-- END Datatables STYLES -->
    <!-- BEGIN TEXTANGULAR STYLES -->
    <link href="~/bower_components/textAngular/dist/textAngular.css" rel="stylesheet" />
    <!-- END TEXTANGULAR STYLES -->
    <!-- BEGIN TOAST STYLES-->
    <link href="/bower_components/ngToast/dist/ngToast.min.css" rel="stylesheet">
    <!-- END TOAST STYLES-->
    <link href="~/bower_components/ng-table/dist/ng-table.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/bower_components/angular-ui-select/dist/select.min.css" />
    <link rel='shortcut icon' type='image/x-icon' href='/Content/img/favicon.ico' />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-menu-fixed" class to set the mega menu fixed  -->
<!-- DOC: Apply "page-header-top-fixed" class to set the top menu fixed  -->
<body ng-controller="AppController" class="page-on-load">
    <div ng-controller="NotifierController">
        <toast></toast>
    </div>
    <!-- BEGIN PAGE SPINNER -->
    <div ng-spinner-bar class="page-spinner-bar">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <!-- END PAGE SPINNER -->
    <!-- BEGIN HEADER -->
    <div data-ng-include="'/AngularTemplate/Header'" data-ng-controller="HeaderController" class="page-header">
    </div>
    <!-- END HEADER -->

    <div class="clearfix">
    </div>

    <!-- BEGIN CONTAINER -->
    <div class="page-container" long-ajax-cursor>

        <!-- BEGIN PAGE CONTENT -->
        <div class="page-content">
            <div class="container-fluid">
                <!-- BEGIN ACTUAL CONTENT -->
                <div ui-view>
                </div>
                <!-- END ACTUAL CONTENT -->
            </div>
        </div>
        <!-- END PAGE CONTENT -->

    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div data-ng-include="'/AngularTemplate/Footer'" data-ng-controller="FooterController">
    </div>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE JQUERY PLUGINS -->
    <!--[if lt IE 9]>
    <script src="/Content/templates/metronic/assets/global/plugins/respond.min.js"></script>
    <script src="/Content/templates/metronic/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/bower_components/jquery-migrate/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
    <script src="/bower_components/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js" type="text/javascript"></script>
    <script src="~/bower_components/spin.js/spin.min.js"></script>
    <script src="~/bower_components/bootstrap-switch/dist/js/bootstrap-switch.js"></script>

    @Html.Partial("_AngularAppScripts")
    <script type="text/javascript">
        /* Init Metronic's core jquery plugins and layout scripts */
        $(document).ready(function () {
            Metronic.init(); // Run metronic theme
            Metronic.setAssetsPath('/Content/templates/metronic/assets/'); // Set the assets folder path
        });
    </script>
    <script type="text/javascript">
        window.analytics = window.analytics || [], window.analytics.methods = ["identify", "group", "track", "page", "pageview", "alias", "ready", "on", "once", "off", "trackLink", "trackForm", "trackClick", "trackSubmit"], window.analytics.factory = function (t) { return function () { var a = Array.prototype.slice.call(arguments); return a.unshift(t), window.analytics.push(a), window.analytics } }; for (var i = 0; i < window.analytics.methods.length; i++) { var key = window.analytics.methods[i]; window.analytics[key] = window.analytics.factory(key) } window.analytics.load = function (t) { if (!document.getElementById("analytics-js")) { var a = document.createElement("script"); a.type = "text/javascript", a.id = "analytics-js", a.async = !0, a.src = ("https:" === document.location.protocol ? "https://" : "http://") + "cdn.segment.io/analytics.js/v1/" + t + "/analytics.min.js"; var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(a, n) } }, window.analytics.SNIPPET_VERSION = "2.0.9",
        window.analytics.load("@(new ConfigRepository().Get("SegmentWriteKey"))");
        window.analytics.page('Admin');
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
