<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'terminalAzure' in resource group 'Default-Web-WestUS' -->
  <!-- This key is for Application Insights resource 'HubWeb' in resource group 'Default-Web-WestUS' -->
  <InstrumentationKey>9db0241b-6f3d-404d-adeb-3839bcb6e313</InstrumentationKey>
  
</ApplicationInsights>