<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->


<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkId=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="daemonSettings" type="Configuration.DaemonSettings, Configuration" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  
  <log4net configSource="Config\log4net.config"/>
  
  <connectionStrings>
    <!-- If you change connection string name, don't forget to update Run Integration Tests action in Build&TestAll build definition on VSO -->
    <add name="DockyardDB" connectionString="Data Source=.;Initial Catalog=DockyardDB2;Integrated Security=SSPI;Transaction Binding=Explicit Unbind;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <daemonSettings enabled="true" daemonAssemblyName="Daemons, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
    <daemons>
      <add enabled="true" initClass="Daemons.FreshnessMonitor, Daemons, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="FreshnessMonitor" />

      <!--<add enabled="true" initClass="Daemons.InboundEmail, Daemons, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="InboundEmail" />
      <add enabled="true" initClass="Daemons.OutboundEmail, Daemons, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="OutboundEmail" />
      <add enabled="true" initClass="Daemons.CalendarSync, Daemons, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="CalendarSync" />
      <add enabled="true" initClass="Daemons.DiagnosticsTest, Daemons, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="DiagnosticsTest" />-->
    </daemons>
  </daemonSettings>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.1.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="HubWeb" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>


  <appSettings>

    <add key="BasePageURL" value="" />
    <add key="DocuSignIntegratorKey" value="TEST-4057de18-b5ae-43be-a408-565be7755cef" />
    <add key="environment" value="https://demo.docusign.net/" />
    <add key="endpoint" value="https://demo.docusign.net/restapi/v2/" />
    <add key="BaseUrl" value="https://demo.docusign.net/restapi/v2/accounts/1026172/" />
    <add key="ChangeOrderUrl" value="https://demo.docusign.net/Member/PowerFormSigning.aspx?PowerFormId=ab7e8f1f-f16c-4b16-b815-26ae6bf85871" />
    <add key="DocuSignNotificationPortForwards" value="" />
    
    <add key="PlanDirectoryUrl" value="http://localhost:64879" />
    <add key="PlanDirectorySecret" value="5116B620-A497-4462-B036-E9DDEBA48DDE" />

    <add key="AuthorizationTokenStorageMode" value="KeyVault" />
    <add key="KeyVaultClientId" value="472bbcb2-b99a-4ba9-812f-a9f90d1aa47f" />
    <add key="KeyVaultClientSecret" value="UaqUni5KaywTeOh8UEj8zpz+qAnlxIRTi50bTSKer6Y=" />
    <add key="KeyVaultUrl" value="https://fr8Dev2KV.vault.azure.net:443" />
    <add key="AzureStorageDefaultConnectionString" value="DefaultEndpointsProtocol=https;AccountName=yardstore1;AccountKey=Or8iJLqkutxYCSKHiOo8iwSwyALCdFfR/RUTWSEZ9BPhLY4+L2QKVEean0bYSmVzCNSNSqBt2/zVA5HMgkwayg==" />
    <add key="DefaultAzureStorageContainer" value="default-container-dev" />

    <!--Twilio (These are test account values. They will work with Twilio, but not make any charges or send any smses! Actual SID and Auth should be applied after deploy. 
    RC, Staging, and Production are configured to override these values with corresponding App Settings. See http://blogs.msdn.com/b/windowsazure/archive/2013/07/17/windows-azure-web-sites-how-application-strings-and-connection-strings-work.aspx)
    
    Twilio (These are test account values. They will work with Twilio, but not make any charges or send any smses! Actual SID and Auth should be applied after deploy.)
    -->
    <add key="TWILIO_SID" value="AC15c999e32b51f1c8f1bb3e575b318e1e" />
    <add key="TWILIO_TOKEN" value="88fce8738d74695717bb0a5ea58fa8d0" />
    <add key="TwilioFromNumber" value="+14156920295" />
    <!--DO NOT change this. it is the only number that will make Twilio work. -->
    <add key="TwilioToNumber" value="+14158067915" />

    <!--Inbound email settings-->
    <add key="InboundEmailHost" value="imap.gmail.com" />
    <add key="InboundEmailPort" value="993" />
    <add key="INBOUND_EMAIL_USERNAME" value="intakeclone@kwasant.net" />
    <add key="INBOUND_EMAIL_PASSWORD" value="thorium65" />
    <add key="INBOUND_EMAIL_POLLTIME_SECONDS" value="15" />
    <add key="InboundEmailUseSSL" value="true" />
    <add key="ArchiveOutboundEmail" value="true" />
    <add key="ArchiveEmailAddress" value="outboundemailarchive@kwasant.com" />

    <add key="SegmentWriteKey" value="lAk2GWKyJDefCRdsofopUKwiG1Z0HoY5" />

    <add key="replyToEmail" value="intakeclone@kwasant.net" />
    <add key="replyToName" value="Kwasant Scheduling Services" />

    <add key="EmailFromAddress_DelegateMode" value="kwa@sant.com" />
    <add key="EmailFromName_DelegateMode" value="{0} via Kwasant" />

    <add key="EmailFromAddress_DirectMode" value="kwa@sant.com" />
    <add key="EmailFromName_DirectMode" value="Kwasant Team" />

    <add key="emailSubject" value="Invitation from {0} -- {1} - {2}" />

    <add key="emailSubjectUpdated" value="Invitation UPDATED. From {0} -- {1} - {2}" />
    <add key="emailSubjectCancelled" value="Event CANCELLED. From {0} -- {1} - {2}" />
    <!-- no longer used -->
    <add key="compressEmail" value="false" />
    <add key="emailBasicText" value="This is a Kwasant Event Request. Click here for more information." />
    <!-- Only applies to plain text emails! -->

    <!--Email Sending-->
    <add key="OutboundEmailHost" value="smtp.sendgrid.net" />
    <add key="OutboundEmailPort" value="587" />
    <add key="OutboundUserName" value="sendgrid_admin_dockyard" />
    <add key="OutboundUserPassword" value="photon23" />

    <!--Throughput Monitor-->
    <add key="ThroughputCheckingStartTime" value="16:00z" />
    <add key="ThroughputCheckingEndTime" value="7:00z" />

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--Mandrill-->
    <!--
    <add key="OutboundEmailHost" value="smtp.mandrillapp.com"/>
    <add key="OutboundEmailPort" value="587"/>
    <add key="OutboundUserName" value="alex@edelstein.org"/>
    <add key="OutboundUserPassword" value="Nr9OJgXzpEgaibv4fIuudQ"/>
    -->

    <!--Pusher-->
    <add key="pusherAppId" value="148580" />
    <add key="pusherAppKey" value="123dd339500fed0ddd78" />
    <add key="pusherAppSecret" value="598b1fdcdf903325d520" />

    <!--Logging-->
    <add key="Logentries.Token" value="5eb432cc-52e2-4595-a864-ee7a2d54e7e0" />

    <add key="LOG_LEVEL" value="verbose" />
    <add key="LogToDatabase" value="true" />

    <!--Google integration-->
    <add key="GoogleClientId" value="318751972844-osu7cku2cc7u81dalmbqrkatesnhuch5.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="_JnhajhbGtpZN8gyfBjvCDOV" />

    <add key="IsProduction" value="false" />
    <add key="IsDev" value="true" />

    <add key="ServerProtocol" value="" />
    <add key="ServerDomainName" value="" />
    <add key="ServerPort" value="" />

    <!--Operatons Monitor-->
    <add key="MaxBRIdle" value="15" />
    <add key="MaxBRReservationPeriod" value="15" />
    <add key="ExpectedResponseActiveDuration" value="720" />
    <add key="MonitorStaleBRPeriod" value="60" />
    <!-- mins -->

    <add key="EmailAddress_GeneralInfo" value="info@kwasant.com" />
    <add key="EmailAddress_KwasantReservedList" value="hq@kwasant.com,kwa@sant.com,scheduling@kwasant.com,info@kwasant.com,outboundemailarchive@kwasant.com" />
    <add key="EmailAddress_BrNotify" value="" />
    <!-- this will override within prod configuration -->

    <!--Templates-->
    <add key="CR_template_for_creator" value="09a7919f-e5d3-4c98-b6b8-d8ac6171401d" />
    <add key="CR_template_for_existing_user" value="6a59b7f4-9f12-47ea-8fa9-be1b96733b3d" />
    <add key="CR_template_for_precustomer" value="6a59b7f4-9f12-47ea-8fa9-be1b96733b3d" />

    <add key="welcome_to_kwasant_template" value="2e411208-7a0d-4a72-a005-e39ae018d708" />
    <add key="user_credentials" value="e4da63fd-2459-4caf-8e4f-b4d6f457e95a" />
    <add key="User_Settings_Notification" value="User_Settings_Notification" />

    <add key="SimpleEmail_template" value="7063998f-0560-4a3e-9fbe-88432892286b" />

    <add key="ForgotPassword_template" value="760f0be0-6ccc-4d31-aeb1-297f86267475" />

    <add key="InvitationUpdate_template" value="7f47da26-efd3-4279-b44b-dcaa15f120a3" />
    <add key="InvitationInitial_template" value="c1b9c05e-343c-4891-a6d4-6c90eb653a70" />
    <add key="LOGENTRIES_TOKEN" value="" />
    <add key="log4net.Internal.Debug" value="true" />
    <add key="LOGENTRIES_ACCOUNT_KEY" value="" />
    <add key="LOGENTRIES_LOCATION" value="" />
    <add key="SystemUserEmail" value="system1@fr8.co" />
    <add key="SystemUserPassword" value="foobar" />

    <add key="CustomerSupportEmail" value="support@fr8.co" />
    <add key="DocumentationFr8Site_SMSLink" value="http://documentation.fr8.co/sms" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <customErrors mode="Off">
    </customErrors>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <entityFramework>
    <contexts>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Threading.Tasks.Extensions.Desktop" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.168.0" newVersion="1.0.168.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Hosting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Facebook" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Google" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.1011" newVersion="1.2.0.1011" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <staticContent>
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
      <remove fileExtension=".webm" />
      <remove fileExtension=".ogv" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
    </staticContent>
    <httpProtocol allowKeepAlive="true" />
  </system.webServer>

  <!-- Caching content folder -->
  <location path="Content">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="168:00:00" />
      </staticContent>
    </system.webServer>
  </location>

  <location path="favicon.ico">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="168:00:00" />
      </staticContent>
    </system.webServer>
  </location>



</configuration>
