<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="healthMonitor" type="HealthMonitor.Configuration.HealthMonitorConfigurationSection, HealthMonitor" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <connectionStrings>
    <add name="DockyardDB" connectionString="Data Source=.;Initial Catalog=DockyardDB2;Integrated Security=SSPI;Transaction Binding=Explicit Unbind;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Fr8Hub settings-->
    <add key="BasePageURL" value="" />
    <add key="DocuSignIntegratorKey" value="TEST-4057de18-b5ae-43be-a408-565be7755cef" />
    <add key="environment" value="https://demo.docusign.net/" />
    <add key="endpoint" value="https://demo.docusign.net/restapi/v2/" />
    <add key="BaseUrl" value="https://demo.docusign.net/restapi/v2/accounts/1026172/" />
    <add key="ChangeOrderUrl" value="https://demo.docusign.net/Member/PowerFormSigning.aspx?PowerFormId=ab7e8f1f-f16c-4b16-b815-26ae6bf85871" />
    <add key="DocuSignNotificationPortForwards" value="" />
    <add key="AuthorizationTokenStorageMode" value="KeyVault" />
    <add key="KeyVaultClientId" value="472bbcb2-b99a-4ba9-812f-a9f90d1aa47f" />
    <add key="KeyVaultClientSecret" value="UaqUni5KaywTeOh8UEj8zpz+qAnlxIRTi50bTSKer6Y=" />
    <add key="KeyVaultUrl" value="https://fr8Dev2KV.vault.azure.net:443" />
    <add key="AzureStorageDefaultConnectionString" value="DefaultEndpointsProtocol=https;AccountName=yardstore1;AccountKey=Or8iJLqkutxYCSKHiOo8iwSwyALCdFfR/RUTWSEZ9BPhLY4+L2QKVEean0bYSmVzCNSNSqBt2/zVA5HMgkwayg==" />
    <add key="DefaultAzureStorageContainer" value="default-container-dev" />
    <add key="HubApiBaseUrl" value="http://localhost:30643/api/v1/" />
    <add key="CoreWebServerUrl" value="http://localhost:30643/" />
    <add key="HubApiVersion" value="v1" />
    
    <add key="SystemUserEmail" value="system1@fr8.co" />
    <add key="SystemUserPassword" value="foobar" />

    <add key="CustomerSupportEmail" value="support@fr8.co" />
    <add key="DocumentationFr8Site_SMSLink" value="http://documentation.fr8.co/sms" />

    <!--Email Sending-->
    <add key="OutboundEmailHost" value="smtp.sendgrid.net" />
    <add key="OutboundEmailPort" value="587" />
    
    <!--Throughput Monitor-->
    <add key="ThroughputCheckingStartTime" value="16:00z" />
    <add key="ThroughputCheckingEndTime" value="7:00z" />

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--Pusher-->
    <add key="pusherAppId" value="148580" />
    <add key="pusherAppKey" value="123dd339500fed0ddd78" />
    <add key="pusherAppSecret" value="598b1fdcdf903325d520" />

    <!--Logging-->
    <add key="Logentries.Token" value="5eb432cc-52e2-4595-a864-ee7a2d54e7e0" />

    <add key="LOG_LEVEL" value="verbose" />
    <add key="LogToDatabase" value="true" />

    <!--Google integration-->
    <add key="GoogleClientId" value="318751972844-osu7cku2cc7u81dalmbqrkatesnhuch5.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="_JnhajhbGtpZN8gyfBjvCDOV" />

    <add key="IsProduction" value="false" />
    <add key="IsDev" value="true" />

    <add key="ServerProtocol" value="" />
    <add key="ServerDomainName" value="" />
    <add key="ServerPort" value="" />

    <!--Operatons Monitor-->
    <add key="MaxBRIdle" value="15" />
    <add key="MaxBRReservationPeriod" value="15" />
    <add key="ExpectedResponseActiveDuration" value="720" />
    <add key="MonitorStaleBRPeriod" value="60" />
    <!-- mins -->

    <add key="EmailAddress_GeneralInfo" value="info@kwasant.com" />
    <add key="EmailAddress_KwasantReservedList" value="hq@kwasant.com,kwa@sant.com,scheduling@kwasant.com,info@kwasant.com,outboundemailarchive@kwasant.com" />
    <add key="EmailAddress_BrNotify" value="" />
    <!-- this will override within prod configuration -->

    <!--Templates-->
    <add key="CR_template_for_creator" value="09a7919f-e5d3-4c98-b6b8-d8ac6171401d" />
    <add key="CR_template_for_existing_user" value="6a59b7f4-9f12-47ea-8fa9-be1b96733b3d" />
    <add key="CR_template_for_precustomer" value="6a59b7f4-9f12-47ea-8fa9-be1b96733b3d" />

    <add key="welcome_to_kwasant_template" value="2e411208-7a0d-4a72-a005-e39ae018d708" />
    <add key="user_credentials" value="e4da63fd-2459-4caf-8e4f-b4d6f457e95a" />
    <add key="User_Settings_Notification" value="User_Settings_Notification" />

    <add key="SimpleEmail_template" value="7063998f-0560-4a3e-9fbe-88432892286b" />

    <add key="ForgotPassword_template" value="760f0be0-6ccc-4d31-aeb1-297f86267475" />

    <add key="InvitationUpdate_template" value="7f47da26-efd3-4279-b44b-dcaa15f120a3" />
    <add key="InvitationInitial_template" value="c1b9c05e-343c-4891-a6d4-6c90eb653a70" />
    <add key="LOGENTRIES_TOKEN" value="" />
    <add key="log4net.Internal.Debug" value="true" />
    <add key="LOGENTRIES_ACCOUNT_KEY" value="" />
    <add key="LOGENTRIES_LOCATION" value="" />
    <add key="SystemUserEmail" value="system1@fr8.co" />
    <add key="SystemUserPassword" value="foobar" />

    <add key="CustomerSupportEmail" value="support@fr8.co" />

    <!--End Fr8Hub settings-->

  </appSettings>

  <!-- log4net section is required for terminalPapertrail to operate correctly -->
  <log4net>
    <root>
      <level value="ALL" />
    </root>
  </log4net>

  <system.diagnostics>
    <switches>
      <add name="ADALLegacySwitch" value="Warning"/>
    </switches>
  </system.diagnostics>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Threading.Tasks.Extensions.Desktop" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.168.0" newVersion="1.0.168.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.22.0" newVersion="4.2.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.1011" newVersion="1.2.0.1011" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>