<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  
  <!-- This key is for Application Insights resource 'terminalQuickBooks' in resource group 'terminalQuickBooks' -->
  <InstrumentationKey>78e7a2e3-78a3-41d1-8851-bc7f767269f3</InstrumentationKey>
</ApplicationInsights>