<style>
    .col-md-7-fix {
        width: 54%!important;
    }

    .col-md-4-fix {
        width: 46% !important;
    }
</style>

<h2>Email Report</h2>
<script src="~/Scripts/DataTables-1.10.0/media/js/jquery.dataTables.js"></script>
<link href="~/Content/DataTables-1.10.0/media/css/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Content/js/KwasantCommon.js"></script>
<nav class="navbar navbar-default top-toolbar-section" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        @Html.Partial("~/Views/Report/TimeSpanNavigator.cshtml")
    </div>
</nav>

<div class="jumbotron calendar-section jumbotron_new">
    <div class="row">
        <div class="col-md-7 col-md-7-fix">
            <div class="col-md-12">
                <table id="tblemails" class="data-table table-with-action" width="100%">
                    <thead>
                        <tr>
                            <th>From</th>
                            <th>Subject</th>
                            <th>Created Date</th>
                            <th>EmailStatus</th>
                            <th>ConversationId</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="col-md-5 col-md-4-fix">
            <br />
            <div id="divEmailViewer">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
(function($){
    var queryPeriod = "all";
    var table;
    //Document ready function, will run after page is ready and all elements are loaded.
    $(document).ready(function () {
        $('a#all').addClass('current');
        showReport();
    });

    function showReport()
    {
            table = $('#tblemails').DataTable({
            destroy: true,
            searching: false,
            ordering: false,
            bLengthChange: false,
            processing: true,
            bServerSide: true, //Enabling server side processing
            aaSorting: [ [2,"desc" ]],
            order: [2, 'desc'],
            columns: [
                        { data: 'from' },
                        { data: 'subject' },
                        {
                            data: function (data) {
                                return convertToDateString(data.date);
                            }
                        },
                        { data: 'email_status' },
                        { data: 'conversation_id' },
                        {
                            data: null,
                            defaultContent: "<button value='detail' class='custom-btn glyphicon glyphicon-folder-open'>Details</button>"
                        },
            ],
            ajax:
                 {
                     url: "@Url.Action("ShowEmails", "Email")" + "?queryPeriod=" + queryPeriod + "&type="+"@ViewBag.type",
            dataSrc: function (json) {
                var orgdata = JSON.parse(json.data);
                return orgdata;
            },
            type: "POST"
        }
        });
   
    //Initializing click for all filter buttons.
    $('.top-toolbar-section a').click(function () {
        $('.top-toolbar-section a').each(function () {
            $(this).removeClass('current');
        });
        $(this).addClass('current');
        queryPeriod = $(this).attr("id");
        //table.destroy();
        showReport();
        return false;
    });

    //This function will bind a click function on every button in table "tblemails"
    $('#tblemails').on('click', 'button', function () {
        var data = table.row($(this).parents('tr')).data();
        var parentcontrol = this;
        //checking clicked button value for appropriate action this will be "detail" 
        if($(this).val() == "detail")
        {
            $("#divEmailViewer").load('@Url.Action("GetInfo","Email")?emailId=' + data.id);
            $('#divEmailViewer').show();
        }
    });
  }
}(jQuery));
</script>
