controllers/*.js
controllers/*.map
directives/*.js
directives/*.map
directives/**/*.js
directives/**/*.map
filters/*.js
filters/*.map
interfaces/*.js
interfaces/*.map
model/*.js
model/*.map
services/*.js
services/*.map
_all.js
_all.js.map
app.js
app.js.map