@{
    ViewBag.Title = "LearnHowToUseKwasant";
}

<div class="container how-it-works-section">
    <div class="col1">
        <div>
            <h2><i class="fa fa-cogs"></i>How To Use Kwasant </h2>
            <strong>Useful things you can do with Kwasant include:</strong>
            <p></p>
            <strong>1. Forward us an email you'd like us to manage for you</strong>
            <p></p>
            <strong>2. Email us a direct request.</strong>
            <p></p>
            <strong>3. Fill out a request on your My Account page</strong>
            <p></p>
           
            <p></p>
            <p></p>
            
        </div>
    </div>
</div>
