<style>
    .customBtnwap .glyphicon  {
        padding: 25px;
        font-size: 16px;
    }
</style>

<h2>My Account</h2>
<div id="permission-status" class="text-success"></div>
<p class="customBtnwap">
 @Html.ActionLink("Make a New Booking Request", "MakeNewBookingRequest", null, new { @class = "custom-btn glyphicon " })
 @Html.ActionLink("Share a Calendar", "ShareCalendar", null, new { @class = "custom-btn glyphicon " }) 
 @Html.ActionLink("Learn How To Use Kwasant", "LearnHowToUseKwasant", null, new { @class = "custom-btn glyphicon" }) </p>

