@model Web.ViewModels.ManageUserVM
@{
    ViewBag.Title = "ShareCalendar";
}

<h2>Share Calendar</h2>
<p>
    <table>
        <tr>
            <td>
                <div class="row">
                    <div class="col-md-12">
                        
                    </div>
                </div>
                <br />

            </td>
        </tr>
    </table>

<style>
    .granttext a {
        color: #fff;
    }

</style>

    <table width="" cellpadding="0" cellspacing="0">

        <tr>
            <td height="80" width="186">
            </td>
            <td>
                <b class="custom-btn granttext" style="cursor: pointer">
                    @if (!Model.HasToken)
                    {
                        @Html.ActionLink("Grant DocuSign Access", "GrantRemoteCalendarAccess", new { providerName = "Docusign" })
                    }
                    else
                    {
                        @Html.ActionLink("Revoke DocuSign Access", "RevokeRemoteCalendarAccess", new { providerName = "Docusign" })
                    }
                </b>
            </td>
        </tr>

        <tr>
            <td height="80">
                <img class="floating" src="/Content/img/MicrosoftExchangelogo.png" alt="Kwasant" title="Kwasant">
            </td>
            <td>
                <b>(Coming Soon) </b>
            </td>
        </tr>

        <tr>
            <td height="80">
                <img class="floating" src="/Content/img/icloud-logo.png" alt="Kwasant" title="Kwasant">
            </td>

            <td>
                <b>(Coming Soon) </b>
            </td>
        </tr>




    </table>
</p>
<br />
