@model KwasantWeb.ViewModels.CalendarShowVM
<div id="divCalendarContainer">
</div>

<script type="text/javascript">
    var calendar;
    $(function() {
     
        calendar = $('#divCalendarContainer').KCalendar({
            getCalendarBackendURL: function () {
                return '@Url.Content("~/Calendar/Day?calendarIDs="+String.Join(",", Model.LinkedCalendarIds))';
            },
            getMonthBackendURL: function () {
                return '@Url.Content("~/Calendar/Month?calendarIDs="+String.Join(",", Model.LinkedCalendarIds))';
            },
            getNavigatorBackendURL: function () {
                return '@Url.Content("~/Calendar/Navigator?calendarIDs="+String.Join(",", Model.LinkedCalendarIds))';
            },
            getEditURL: function (id) { return; },
            getMoveURL: function (id, newStart, newEnd) { return; },
            getDeleteURL: function (id) { return; },
            onEventNew: function (start, end) {
                return;
            }
        });
    });
</script>


