
@{
    using (var uow = StructureMap.ObjectFactory.GetInstance<Data.Interfaces.IUnitOfWork>())
    {
        var allRows = uow.AspNetRolesRepository.GetAll();
    <select>
        @foreach (var role in allRows)
        {
            <option id="@role.Id" class="roleOptions" value="@role.Name" @Html.Raw(Model.Role == role.Name ? "selected" : String.Empty)>@role.Name</option>
            <br />
        }
    </select>
    }
}
