@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Select DocuSign Account Type</title>
</head>
<body>
<div style="background-color: #1b49a0; height: 67px;">
    <img src="https://account.docusign.com/LoginApp/styles/olive/img/logo-docusign-header.png" alt="DocuSign"/>
</div>
<p>Please select the environment you use</p>
<a href=""></a>
</body>
</html>
