<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js" data-ng-app="app"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" data-ng-app="app"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" data-ng-app="app">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <title data-ng-bind="'Dockyard | ' + $state.current.data.pageTitle"></title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/bower_components/font-awesome-min/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="~/bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" type="text/css" rel="stylesheet" />
    <link href="/Content/css/dockyard.css" rel="stylesheet" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN DYMANICLY LOADED CSS FILES(all plugin and page related styles must be loaded between GLOBAL and THEME css files ) -->
    <link id="ng_load_plugins_before" />
    <!-- END DYMANICLY LOADED CSS FILES -->
    <!-- BEGIN THEME STYLES -->
    <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
    <link href="/Content/templates/metronic/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="/Content/templates/metronic/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/Content/templates/metronic/assets/admin/layout3/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="/Content/templates/metronic/assets/admin/layout3/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="/Content/templates/metronic/assets/admin/layout3/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/dockyard.css" rel="stylesheet" />
    <!-- END THEME STYLES -->
    <!-- BEGIN Datatables STYLES -->
    <link href="~/bower_components/datatables/media/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/bower_components/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/bower_components/angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.min.css" rel="stylesheet" />
    <!-- END Datatables STYLES -->

    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-menu-fixed" class to set the mega menu fixed  -->
<!-- DOC: Apply "page-header-top-fixed" class to set the top menu fixed  -->
<body ng-controller="AppController" class="page-on-load">

    @*<!-- BEGIN PAGE SPINNER -->
        <div ng-spinner-bar class="page-spinner-bar">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <!-- END PAGE SPINNER -->
        <!-- BEGIN HEADER -->
        <div data-ng-include="'/AngularTemplate/Header'" data-ng-controller="HeaderController" class="page-header">
        </div>
        <!-- END HEADER -->

        <div class="clearfix">
        </div>

        <!-- BEGIN CONTAINER -->
        <div class="page-container">

            <!-- BEGIN PAGE CONTENT -->
            <div class="page-content">
                <div class="container">
                    <!-- BEGIN ACTUAL CONTENT -->
                    <div ui-view class="fade-in-up">
                    </div>
                    <!-- END ACTUAL CONTENT -->
                </div>
            </div>
            <!-- END PAGE CONTENT -->

        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div data-ng-include="'/AngularTemplate/Footer'" data-ng-controller="FooterController">
        </div>*@
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE JQUERY PLUGINS -->
    <!--[if lt IE 9]>
    <script src="/Content/templates/metronic/assets/global/plugins/respond.min.js"></script>
    <script src="/Content/templates/metronic/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/bower_components/jquery-migrate/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
    <script src="/bower_components/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js" type="text/javascript"></script>
    <script src="~/bower_components/notifyjs/dist/notify-combined.min.js"></script>
    <script src="~/bower_components/notifyjs/dist/styles/bootstrap/notify-bootstrap.js"></script>
    <script src="~/bower_components/spin.js/spin.min.js"></script>


    @Html.Partial("_AngularAppScripts")
    <script type="text/javascript">
        /* Init Metronic's core jquery plugins and layout scripts */
        $(document).ready(function () {
            Metronic.init(); // Run metronic theme
            Metronic.setAssetsPath('/Content/templates/metronic/assets/'); // Set the assets folder path
        });
    </script>

    <!-- END JAVASCRIPTS -->
    <div ng-controller="SandboxController" class="margin-top-10">
        @*Demo Only*@
        <div class="col-md-12 col-sm-12"><pre><h2>FILE PICKER DEMO</h2></pre></div>
        <div class="col-md-12 col-sm-12">
            <file-picker field='field'></file-picker>
        </div>
        <div class="col-md-12 col-sm-12"><pre><h2>RADIO BUTTON GROUP DEMO</h2></pre></div>
        <div class="col-md-12 col-sm-12">
            <radio-button-group field='radioDemoField'></radio-button-group>
        </div>
        <div class="col-md-12 col-sm-12"><pre><h2>DROP DOWN LIST BOX DEMO</h2></pre></div>
        <div class="col-md-12 col-sm-12">
            <drop-down-list-box field='dropdownDemoField'></drop-down-list-box>
        </div>

        <div class="col-md-12 col-sm-12"><pre><h2>TEXTBLOCK DEMO</h2></pre></div>
        <div class="col-md-12 col-sm-12">
            <text-block field='textBlockDemoField'></text-block>
        </div>

        <div class="col-md-12 col-sm-12"><pre><h2>ROUTING CONTROL GROUP DEMO</h2></pre></div>
        <div class="col-md-12 col-sm-12">
            <configuration-field field='routingControlGroup'></configuration-field>
        </div>

        @*END OF DEMO CODE*@
    </div>

</body>
<!-- END BODY -->
</html>
