
@using DayPilot.Web.Mvc
@using DayPilot.Web.Mvc.Enums.Navigator
@using DayPilot.Web.Mvc.Events.Calendar

@section TitleContent {	Days-Resources View (Calendar) }


<div class="left-column">
    @Html.DayPilotNavigator("dpn", new DayPilotNavigatorConfig { 
        ShowMonths = 3,
        SkipMonths = 3,
            
        ShowWeekNumbers = true,
        BoundDayPilot = "dpc",
        SelectMode = NavigatorSelectMode.Week
        })
</div>

<div class="right-column">
            
    @Html.DayPilotBubble("bubble")

    @Html.DayPilotCalendar("days_resources", new DayPilotCalendarConfig
        {
            ViewType = DayPilot.Web.Mvc.Enums.Calendar.ViewType.Resources,
            HeaderLevels = 2,
            BackendUrl = Url.Content("~/Calendar/Backend"),
            TimeRangeSelectedHandling = TimeRangeSelectedHandlingType.JavaScript,
            TimeRangeSelectedJavaScript = "alert(start + ' ' + end + ' ' + resource);",

            EventDeleteHandling = EventDeleteHandlingType.CallBack,
            EventMoveHandling = EventMoveHandlingType.CallBack,
            Height = 400,
            EventBubble = "bubble"
        })

</div>
