
@using DayPilot.Web.Mvc
@using DayPilot.Web.Mvc.Enums.Navigator
@using DayPilot.Web.Mvc.Events.Calendar

@section TitleContent {	Event Selecting (Calendar) }



<div class="left-column">
    @Html.DayPilotNavigator("dpn", new DayPilotNavigatorConfig { 
        ShowMonths = 3,
        SkipMonths = 3,
        ShowWeekNumbers = true,
        BoundDayPilot = "dpc",
        SelectMode = NavigatorSelectMode.Week,
        })
</div>

<div class="right-column">
    @Html.DayPilotBubble("bubble")

    @Html.DayPilotCalendar("dpc", new DayPilotCalendarConfig
        {
            ViewType = DayPilot.Web.Mvc.Enums.Calendar.ViewType.Week,
            BackendUrl = Url.Content("~/Calendar/Backend"),
            EventClickHandling = EventClickHandlingType.Select,
            EventSelectHandling = EventSelectHandlingType.JavaScript,
            EventDeleteHandling = EventDeleteHandlingType.CallBack,
            EventMoveHandling = EventMoveHandlingType.CallBack,
            EventResizeHandling = EventResizeHandlingType.CallBack,
            TimeRangeSelectedHandling = TimeRangeSelectedHandlingType.CallBack,
            ShowAllDayEvents = true,
            Height = 400,
            EventBubble = "bubble"
        })
</div>
