
@using DayPilot.Web.Mvc
@using DayPilot.Web.Mvc.Enums
@using DayPilot.Web.Mvc.Enums.Calendar
@using DayPilot.Web.Mvc.Enums.Navigator
@using DayPilot.Web.Mvc.Events.Calendar

@section TitleContent { RTL Direction (Calendar) }

<div class="note"><b>Note:</b> You can create a theme using the online <strong>DayPilot Theme Designer</strong>: <a href="http://themes.daypilot.org/">http://themes.daypilot.org/</a></div>

<div class="left-column">
    @Html.DayPilotNavigator("dpn", new DayPilotNavigatorConfig { 
        ShowMonths = 3,
        SkipMonths = 3,
        CssClassPrefix = "navigator_transparent",
        ShowWeekNumbers = true,
        BoundDayPilot = "dpc",
        SelectMode = NavigatorSelectMode.Week
        })
</div>

<div class="right-column">
    @Html.DayPilotBubble("bubble")
    @(Html.DayPilotCalendar("dpc", new DayPilotCalendarConfig
        {

            ViewType = DayPilot.Web.Mvc.Enums.Calendar.ViewType.Week,
            BackendUrl = Url.Content("~/Calendar/Backend"),
            EventMoveHandling = EventMoveHandlingType.CallBack,
            EventResizeHandling = EventResizeHandlingType.CallBack,
            TimeRangeSelectedHandling = TimeRangeSelectedHandlingType.CallBack,
            ShowAllDayEvents = true,
               
            Height = 400,
            HeightSpec = HeightSpec.BusinessHours,
            EventBubble = "bubble",
               
            CssClassPrefix = "calendar_transparent",
            EventArrangement = ArrangementType.Full,
            Direction = TextDirection.RTL
        }))
</div>
