/* calendar white */

.calendar_transparent_main  
{
	border: 1px solid #aaa;
}

.calendar_transparent_colheader
{
}

.calendar_transparent_cornerright_inner,
.calendar_transparent_corner_inner,
.calendar_transparent_colheader_inner,
.calendar_transparent_alldayheader_inner 
{
	color: #666;
	background: #eeeeee;
	
	background: -moz-linear-gradient(
		top,
		#f3f3f3 0%,
		#e9e9e9);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#f3f3f3),
		to(#e9e9e9));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#f3f3f3", endColorStr="#e9e9e9");
	
}
.calendar_transparent_rowheader_inner 
{
	color: #666666;
	background: #eeeeee;
	
	background: -moz-linear-gradient(
		left,
		#f3f3f3 0%,
		#e9e9e9);
	background: -webkit-gradient(
		linear, left top, right top, 
		from(#f3f3f3),
		to(#e9e9e9));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#f3f3f3", endColorStr="#e9e9e9", GradientType=1);
}

.calendar_transparent_cornerright_inner 
{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-bottom: 1px solid #aaa;
}

.calendar_transparent_rowheader_inner 
{
	font-size: 16pt;
	text-align: right; 
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	
}

.calendar_transparent_corner_inner 
{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}

.calendar_transparent_rowheader_minutes 
{
	font-size:10px; 
	vertical-align: super; 
	padding-left: 2px;
	padding-right: 2px;
}

.calendar_transparent_colheader_inner 
{
	text-align: center; 
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;

}
.calendar_transparent_cell_business
.calendar_transparent_cell_inner
{
	background-color: #fff;
}

.calendar_transparent_cell_inner
{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;

	background-color: #f3f3f3;
	
}

.calendar_transparent_alldayheader_inner 
{
	text-align: center; 
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	
}

.calendar_transparent_message
{
	opacity: 0.7;
	filter: alpha(opacity=70);

	padding: 10px; 
	color: #eeeeee;
	background: #333;
}

.calendar_transparent_alldayevent,
.calendar_transparent_event
{
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.calendar_transparent_alldayevent_inner,
.calendar_transparent_event_inner  
{
	color: #000;
	background: #47afff;
	border: 1px solid #1066a8;
}

.calendar_transparent_selected .calendar_transparent_event_inner 
{
	background: #ddd;
}

.calendar_transparent_alldayevent_inner  
{
	position: absolute;
	top: 2px;
	bottom: 2px;
	left: 5px;
	right: 5px;
	padding: 2px;
	margin-right: 1px;

	font-size: 12px;
	border-left: 5px solid #1066a8;
}

.calendar_transparent_event_withheader .calendar_transparent_event_inner  
{
	padding-top: 15px;
}

.calendar_transparent_event 
{
	cursor: default;
}

.calendar_transparent_event_inner  
{
	position: absolute;
	overflow: hidden;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	padding: 2px;
	padding-left: 10px;  /* space for duration bar */
	
	font-size: 12px;
}

.calendar_transparent_shadow_inner 
{
	background-color: #666666;
	opacity: 0.5;
	filter: alpha(opacity=50);
	height: 100%;
}

.calendar_transparent_event_bar
{
	top: 3px;
	bottom: 4px;
    left: 4px;
	width: 4px;
	background-color: #9dc8e8;
}

.calendar_transparent_event_bar_inner  
{
	position: absolute;
	width: 4px;
	background-color: #1066a8;
}

.calendar_transparent_alldayevent_continueright:after {
    content:"";
    border-color: transparent transparent transparent #1066a8;
    border-style:solid;
    border-width:5px;
    width:0;
    height:0;
    position:absolute;
    bottom:8px;
    right:-3px;
}

.calendar_transparent_alldayevent_continueleft:after {
    content:"";
    border-color: transparent #1066a8 transparent transparent ;
    border-style:solid;
    border-width:5px;
    width:0;
    height:0;
    position:absolute;
    bottom:8px;
    left:-5px;
}

.calendar_transparent_alldayevent_continueright .calendar_transparent_alldayevent_inner  {
    border-right: 1px solid #1066a8;
}

.calendar_transparent_alldayevent_continueleft .calendar_transparent_alldayevent_inner 
{
	padding-left: 6px;
    border-left: 1px solid #1066a8;
}