@{
    Layout = "~/Views/Shared/_HomePage.cshtml";
}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Fr8</title>
    @Styles.Render("~/bundles/css/bootstrap30")
    <link href="~/Content/css/welcome.css" rel="stylesheet">
</head>

<body>
    <!--site content start-->
    <section class="MainContent">
        <div id="HomePage" class="HomePage">
            <div class="HomeLeftSide">
                <a href="~/Services/DocuSign">
                    <img src="/Content/img/welcome/docusign.png">
                    <div class="docusing-pane">
                        <span class="docusign-header">DocuSign Solution QuickStart</span>
                        <div class="docusign-info">
                            <p>Featured Solutions:</p>
                            <ul>
                                <li>Do a DocuSign Mail Merge</li>
                                <li>Pull data out of DocuSign Envelopes</li>
                                <li>Create rich notifications to tell you what's signed and what's not signed</li>
                                <li>Generate powerful reports</li>
                            </ul>
                            <p><span class="btn btn-warning btn-md left-try">Try Now</span></></p>
                        </div>
                    </div>
                    <img class="left-btm-img" src="/Content/img/welcome/DocuSign_Logo_Purple_Yellow.png">
                </a>
            </div>
            <div class="HomeRightSide">

                @using Microsoft.AspNet.Identity
                @if (Request.IsAuthenticated)
                {
                    <a href="~/dashboard#/myaccount">
                        <div class="HomeRightSideWrapper">
                            <img src="/Content/img/welcome/logo.png">
                            <div class="docusing-right-pane">
                                <span class="docusign-header">Build Fr8 Plan</span>
                                <p>Create powerful web workflows with a few mouse clicks</p>
                            </div>
                            <img src="/Content/img/welcome/plan_builder.png" class="hidden-sm hidden-xs">
                        </div>
                    </a>
                }
                else {
                    <a href="/DockyardAccount/ProcessGuestUserMode">
                        <div class="HomeRightSideWrapper">
                            <img src="/Content/img/welcome/logo.png">
                            <div class="docusing-right-pane">
                                <span class="docusign-header">Build Fr8 Plan</span>
                                <p>Create powerful web workflows with a few mouse clicks</p>
                            </div>
                            <p><span class="btn btn-warning btn-md">Try Now</span></p>
                            <img src="/Content/img/welcome/plan_builder.png" class="hidden-sm hidden-xs">
                        </div>
                    </a>
                }

            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <!--site content end-->
    <!--site scripts start-->
    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/bootstrap31")
    <script>
        $(window).load(function () {
            $(".clear.clear-footer-spacer").height(25);
            $("#wrap").css("margin-bottom", 0);
        });
        $(function () {
            var resizePanes = function () {
                $(".clear.clear-footer-spacer").height(25);
                $("#wrap").css("margin-bottom", 0);
                var rightSideMinHeight = $(window).height() - 64;
                var currentRightSideHeight = $('.HomeRightSide').height();
                if (currentRightSideHeight < rightSideMinHeight) {
                    $('.HomeRightSide').css({ 'min-height': ($(window).height() - 64) + 'px' });
                }
            };

            $(window).resize(function () {
                resizePanes();
            });
            resizePanes();
        });
    </script>

</body>

</html>