<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Fr8</title>
    @Styles.Render("~/bundles/css/bootstrap30")
    <link href="~/Content/css/welcome.css" rel="stylesheet">
</head>

<body>
    <!--site content start-->
    <section class="MainContent">
        <div class="MainMenuDropdown">
            <span class="dropdown-toggle">
                <img src="/Content/img/welcome/welcome_header.png" />
            </span>
        </div>
        <div id="HomePage" class="HomePage">
            <div class="HomeLeftSide">
                <a href="~/Home/DocuSign">
                    <img src="/Content/img/welcome/docusign.png">
                    <div class="docusing-pane">
                        <span class="docusign-header">DocuSign Solutions</span>
                        <p>Build personal notifiers using our preconfigured routes. <span class="btn btn-success btn-sm">Try Now</span></p>
                    </div>
                    <img src="/Content/img/welcome/DocuSign_Logo_Purple_Yellow.png">
                </a>
            </div>
            <div class="HomeRightSide">
                <a href="~/dashboard#/myaccount">
                    <div class="HomeRightSideWrapper">
                        <div class="Logo">
                            <img src="/Content/img/welcome/logo.png">
                        </div>
                        <p>
                            <span>Use world best services without any knowledge of programming. Build complex routes. <span class="btn btn-success btn-sm">Try Now</span> </span>
                        </p>
                        <img src="/Content/img/welcome/routeBuilder.png" class="hidden-sm hidden-xs">
                    </div>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <!--site content end-->
    <!--site scripts start-->
    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/bootstrap31")
    <script>
        $(function () {
            var resizePanes = function () {
                var rightSideMinHeight = $(window).height() - 64;
                var currentRightSideHeight = $('.HomeRightSide').height();
                if (currentRightSideHeight < rightSideMinHeight) {
                    $('.HomeRightSide').css({ 'min-height': ($(window).height() - 64) + 'px' });
                }
            };

            $(window).resize(function () {
                resizePanes();
            });
            resizePanes();
        });
    </script>

</body>

</html>