<md-toolbar class="action-header solution-action-header handle" dropdown transfer-click-configure-pane>
    <!-- Activity Header-->
    <div class="md-toolbar-tools">
        <!-- Icon -->
        <div class="action-header-icon" style="display: flex;">
            <img draggable="false" ng-src="{{(envelope.activityTemplate.categories | filter:{type:'WebService'})[0].iconPath}}" ng-if="(envelope.activityTemplate.categories | filter:{type:'WebService'})[0].iconPath" />
        </div>
        <!-- Main Title -->
        <div class="col-sm-8 ellipsis">
            <h2 ng-if="!envelope.activity.label" style="-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-o-user-select: none;user-select: none;">
                {{envelope.activityTemplate.label}}
                <md-tooltip>{{envelope.activityTemplate.label}}</md-tooltip>
            </h2>
            <h2 ng-if="envelope.activity.label !== null" style="-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-o-user-select: none;user-select: none;">
                {{envelope.activity.label}}
                <md-tooltip>{{envelope.activity.label}}</md-tooltip>
            </h2>
            <span flex></span>
        </div>
        <!-- Right Corner Header -->
        <div class="action-reconfigure-status" ng-show="isReConfiguring === true"> updating </div>
        <div class="action-name" ng-show="isReConfiguring === false && envelope.activity.label">
            {{envelope.activityTemplate.label}}
        </div>
        <!-- Options Menu -->
        <md-menu>
            <md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                <md-icon md-svg-icon="/Content/img/icons/more_vert.svg"></md-icon>
            </md-button>
            <md-menu-content width="4" class="sub-plan-options-content">
                <!-- OPTIONS - Choose Authentication -->
                <md-menu-item ng-if="envelope.activityTemplate.needsAuthentication">
                    <md-button ng-click="chooseAuthToken(envelope.activity);">
                        <md-icon md-font-icon="fa fa-key" md-menu-align-target></md-icon> Choose Connection
                    </md-button>
                </md-menu-item>
                <!-- OPTIONS - Reconfigure -->
                <md-menu-item>
                    <md-button ng-click="reConfigureAction(envelope.activity);">
                        <md-icon md-font-icon="fa fa-refresh"></md-icon> Refresh
                    </md-button>
                </md-menu-item>
                <!-- OPTIONS - Label Changes-->
                <md-menu-item>
                    <md-button ng-click="openAddLabelModal(envelope.activity);">
                        <md-icon md-font-icon="fa fa-pencil"></md-icon>
                        <span ng-if="!envelope.activity.label">Add Label</span>
                        <span ng-if="envelope.activity.label">Change Label</span>
                    </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <!-- OPTIONS - Delete Action -->
                <md-menu-item>
                    <md-button ng-click="deleteAction(envelope.activity);">
                        <md-icon md-font-icon="fa fa-trash"></md-icon> Delete
                    </md-button>
                </md-menu-item>
                <md-menu-divider ng-if="hasHelpMenuItem(envelope.activity)"></md-menu-divider>
                <!-- OPTIONS - Help -->
                <md-menu-item ng-if="hasHelpMenuItem(envelope.activity)">
                    <md-button ng-if="showActivityHelpDocumentation(envelope.activity);">
                        <md-icon md-font-icon="fa fa-info"></md-icon> Help
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>