<div class="activity-stream">
    <md-content class="md-sidenav-right md-whiteframe-4dp activity-stream-template" md-component-id="right" md-is-locked-open="true" md-disable-backdrop>
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Activity</h1>
        </md-toolbar>
        <md-content>
            <md-progress-linear md-mode="indeterminate" ng-show="planIsRunning"></md-progress-linear>
            <md-list flex>
                <fr8-event ng-repeat="event in eventList" event="event.data" type="event.type"> </fr8-event>
            </md-list>
        </md-content>
    </md-content>
</div>
