<text-area field='field' on-blur="onBlur()"></text-area>
<div class="row">
    <drop-down-list-box current-action="currentAction" field="dropDownListBox" change="change()" style="float:left; margin-top:10px; margin-left:20px" is-disabled="isDisabled"></drop-down-list-box>
    <md-button type="button" ng-click="insertToTextBox()" class="md-primary" style="float:left">Insert</md-button>
</div>