<div class="modal-header">
    <h4 class="pull-left">Please provide credentials for terminal authentication:</h4>
    <button class="btn btn-default pull-right" ng-click="$close()">Close</button>
</div>
<div class="modal-body" block-if="isLoading()">
    <form name="form" novalidate ng-submit="submitForm()">
        <p ng-show="authError" class="bg-warning">
            Remote service could not authenticate you.
        </p>

        <p ng-show="authErrorText" class="bg-warning">
            {{authErrorText}}
        </p>

        <div ng-if="showDomain == 1" class="form-group" ng-class="{ 'has-error': !form.domain.$valid }">
            <label>Domain: </label>
            <input type="text" class="form-control" ng-model="formData.domain" name="domain" required />
        </div>

        <div class="form-group" ng-class="{ 'has-error': !form.username.$valid }">
            <label>User-name: </label>
            <input type="text" class="form-control" ng-model="formData.username" name="username" required />
        </div>
        <div class="form-group" ng-class="{ 'has-error': !form.password.$valid }">
            <label>Password: </label>
            <input type="password" class="form-control" ng-model="formData.password" name="password" required />
        </div>
        <div class="form-group" ng-show="hasDemoService()">
            <input type="checkbox" ng-model="formData.isDemoAccount" name="isDemoAccount" />
            <label for="isDemoAccount" ng-click="formData.isDemoAccount = !formData.isDemoAccount">This account is on the DocuSign Demo Sandbox (unlikely)</label>
        </div>

        <button type="submit" class="btn btn-primary">Authorize</button>
    </form>
</div>