<ul class="page-breadcrumb breadcrumb hide"> <!-- BEGIN PAGE BREADCRUMB -->
    <li>
        <a href="#">Home</a><i class="fa fa-circle"></i>
    </li>
    <li class="active">
        Dashboard
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->

<div ng-controller="ManageFileListController" class="margin-top-10">
    <div class="note note-success note-bordered" ng-show="$root.lastResult === 'success'">
        <h3>Success!<span class="close" data-close="note"></span></h3>
        <p>
            Operation has completed successfuly.
        </p>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green-haze hide"></i>
                        <span class="caption-subject font-green-haze bold uppercase">All Files</span>
                        <span class="caption-helper hide">weekly stats...</span>
                    </div>
                    <div class="actions">
                        <a href="#" ng-click="UploadFile($event)" class="btn green">Add File</a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div ng-show="ptvms.length == 0">Files not found.</div>
                    <div class="table-scrollable table-scrollable-borderless">
                        <table datatable="" dt-options="dtOptionsBuilder" dt-instance="dtInstance" dt-columns="dtColumnBuilder"
                               class="row-border hover table table-hover table-light table-linkrows table-routes"></table>
                    </div>
                    <div style="display: none;" id="filePicker">
                        <file-picker field='field' class="btn green"></file-picker>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>

</div>
<!-- END MAIN CONTENT -->