<div class="container"> <!--todo the view is not used-->
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title" ng-if="!$state.current.data.noTitle">
        <h1><span data-ng-bind="$state.current.data.pageTitle"></span> <small data-ng-bind="$state.current.data.pageSubTitle"></small></h1>
    </div>
    <!-- END PAGE TITLE -->
    <!-- BEGIN PAGE TOOLBAR -->
    <div class="page-toolbar">
    </div>
    <!-- END PAGE TOOLBAR -->
</div>