<ul class="page-breadcrumb breadcrumb hide">
    <!-- BEGIN PAGE BREADCRUMB -->
    <li>
        <a href="#">Home</a><i class="fa fa-circle"></i>
    </li>
    <li class="active">
        Dashboard
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->

<div ng-controller="PlanListController" class="margin-top-10" event-plandashboard>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h3 class="pull-left">My Plans</h3>
            <div class="actions pull-right" style="margin-top: 14px;" event-add>
                <a ng-click="addPlan()" class="btn green route-list-header-button">Add New</a>
            </div>
        </div>
    </div>

    @Html.Partial("_PlanList")
</div>
<!-- END MAIN CONTENT -->
