<form role="form" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Publish Terminal</h3>
    </div>
    <div class="modal-body">
        <p>
            use this process to request The Fr8 Company to host your Terminal publicly,
            making it available to other Fr8 users. Before doing this, review the <a href="https://github.com/Fr8org/Fr8Core/blob/master/Docs/ForDevelopers/DevelopmentGuides/GettingDeployed.md" target="_blank">Submission Process</a>.
        </p>

    </div>
    <div class="modal-footer">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSddWzd_ZdNPVM6yYUOmESEMyJAs1bU-JheWKBE3zvKJsKXoyQ/viewform"
           onclick="return !window.open(this.href, 'Terminal Submission Form', 'width=600,height=750')"
           ng-click="cancel()"
           class="btn btn-primary">Ok</a>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>
