<h2>History Report</h2>
<script src="~/Scripts/DataTables-1.10.0/media/js/jquery.dataTables.js"></script>
<link href="~/Content/DataTables-1.10.0/media/css/jquery.dataTables.css" rel="stylesheet" />
<nav class="navbar navbar-default top-toolbar-section" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		@Html.Partial("TimeSpanNavigator")
	</div>
</nav>

<div class="history-filter row">
	<div class="col-md-3">
		<label class="col-md-3 control-label" for="ddlPrimaryCategory">Object Type</label>
		<div class="col-md-9">
			<select id="ddlPrimaryCategory" class="col-md-12 form-control">
				<option value="bookingrequest">BookingRequest</option>
				<option value="Event">Event</option>
				<option value="Email">Email</option>
			</select>
		</div>
	</div>
	<div class="col-md-3">
		<label class="col-md-2 control-label" for="txtBookingRequestId">Object Id</label>
		<div class="col-md-10 full-width-input">
			<input type="text" id="txtBookingRequestId" name="txtBookingRequestId" class="form-control" />
		</div>
	</div>
	<div class="col-md-3">
		<input type="button" value="Update" id="bntUpdate" name="bntUpdate" class="btn btn-default" />
	</div>
</div>
<table id="tblHistoryReport" class="data-table">
	<thead>
		<tr>
			<th style="width: 15%">Date</th>
			<th style="width: 15%">Primary Category</th>
			<th style="width: 15%">Secondary Category</th>
			<th style="width: 15%">Activity</th>
			<th style="width: 10%">Status</th>
			<th style="width: 45%">Data</th>
		</tr>
	</thead>
</table>

<script type="text/javascript">

	var queryPeriod = "all";
	$('a#all').addClass('current');
	$('#tblHistoryReport').hide();
	$("#ddlPrimaryCategory").change(function () {
		queryPeriod = "all";
	});

	$('#bntUpdate').click(function () {
		showHistoryReport();
	});
	function showHistoryReport() {
		$.post("/Report/ShowHistoryReport", { primaryCategory: $('#ddlPrimaryCategory').val(), bookingRequestId: $('#txtBookingRequestId').val(), queryPeriod: queryPeriod }, showHistoryReport);
		function showHistoryReport(response) {
			$('#tblHistoryReport').show();
			$("#tblHistoryReport DataTable").html("");
			table = $('#tblHistoryReport').DataTable({
				destroy: true,
				data: JSON.parse(response),
				columns: [
					{ data: 'create_date' },
					{ data: 'primary_category' },
					{ data: 'secondary_category' },
					{ data: 'activity' },
					{ data: 'status' },
					{ data: 'data' }
				],
			});

		}
	}

	$('.top-toolbar-section a').click(function () {
		$('.top-toolbar-section a').each(function () {
			$(this).removeClass('current');
		});
		$(this).addClass('current');
		queryPeriod = $(this).attr("id");
		queryPeriod = queryPeriod;
		showHistoryReport();
		return false;
	});
</script>
