<div class="row" ng-controller="ReportFactController">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-green-haze hide"></i>
                    <span class="caption-subject font-green-haze bold uppercase">All Facts</span>
                </div>
            </div>
            <div class="portlet-body">
                <table datatable="" dt-options="dtOptionsBuilder" dt-instance="dtInstance" dt-columns="dtColumnBuilder" class="row-border hover table table-hover table-light table-linkrows table-process-templates"></table>
            </div>
        </div>
    </div>
</div>

