<div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav">
        <li><a id="last5minutes" href="#">Last 5 minutes</a></li>
        <li><a id="lasthour" href="#">Last Hour</a></li>
        <li><a id="lastday" href="#">Last Day</a></li>
        <li><a id="lastweek" href="#">Last Week</a></li>
        <li><a id="all" href="#">All</a></li>
    </ul>
</div>
