.navbar-brand {
  padding: 20px 30px;
}
.navbar-brand img {
  width: 74px;
  height: auto;
}

.navbar {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
  color: #444C58;
  line-height: 1.6;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transform: translateZ(0);
}

.nav > li > a:focus {
  background-color: transparent;
  outline: none;
}

.navbar-nav {
  padding: 30px 0;
}
.navbar-nav > li {
  margin: 0 10px;
}
.navbar-nav > li > a {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  font-size: 16px;
  color: #646464;
  font-weight: 400;
}
.navbar-nav > li > a:hover {
  border-bottom: 2px solid #646464;
  padding-bottom: 0;
  background-color: transparent;
}
.navbar-nav > li.active > a {
  border-bottom: 2px solid #646464;
  padding-bottom: 0;
  background-color: transparent;
  outline: none;
}
.navbar-nav.nav-text-light > li > a {
  color: #fff;
}
.navbar-nav.nav-text-light > li > a:hover {
  border-bottom-color: #fff;
}
.navbar-nav.nav-text-light > li.active > a {
  border-bottom-color: #fff;
}

.navbar {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.navbar.navbar-light {
  background-color: #f7f7f7;
  border-bottom: 1px solid #eee;
}
.navbar.navbar-light .navbar-nav.nav-text-light > li > a {
  color: #444C58;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .navbar.navbar-light .navbar-nav.nav-text-light > li > a {
    color: #e6e6e6;
    border-bottom: none;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar.navbar-light .navbar-nav.nav-text-light > li > a:hover {
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: underline;
  }
}
.navbar.navbar-light .navbar-nav.nav-text-light > li > a:hover {
  border-bottom-color: #646464;
}
.navbar.navbar-light .navbar-nav.nav-text-light > li.active > a {
  border-bottom-color: #646464;
}

.navbar-toggle {
  background-color: #646464;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .navbar-collapse {
    background-color: #646464;
  }
}

.mdl-button--login {
    color: #fff;
    background-color: #EA3C53;
}
