@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="PlanDirectoryApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fr8 Plan Directory</title>

    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/metronic/components.css" />

    <link rel="stylesheet" href="~/Content/plan-directory.css" />
    
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/metronic/jquery.blockui.min.js"></script>
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/bower_components/angular/angular.min.js"></script>
    <script src="~/bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>

    <script src="~/Content/metronic/ui.js"></script>
    <script src="~/Scripts/PlanDirectoryApp.js"></script>
    <script src="~/Scripts/SearchController.js"></script>

    <script>
        window.urlPrefix = '@Url.Content("~").Substring(0, Url.Content("~").Length - 1)';

        angular.module('PlanDirectoryApp')
            .constant('urlPrefix', window.urlPrefix);
    </script>
</head>
<body ng-controller="SearchController">
    <div class="header-container">
        <div class="header">
            <div class="logo"></div>
            <div class="label">Plan Directory</div>
        </div>
    </div>
    <div class="search-bar-container">
        <div class="search-bar">
            <form ng-submit="submitSearch(1)">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="searchForm.searchText" placeholder="Search for Plans" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="result-container">
        <div class="item" ng-repeat="pt in planTemplates">
            <button class="btn green create-plan-btn" ng-click="createPlan(pt)">Create Plan</button>
            <div class="info-row first">
                <div class="label">Name:</div>
                <div class="value">{{pt.Name}}</div>
            </div>
            <div class="info-row" ng-if="pt.Description">
                <div class="label">Description:</div>
                <div class="value">{{pt.Description}}</div>
            </div>
            <div class="info-row" ng-if="pt.Owner">
                <div class="label">Created by:</div>
                <div class="value">{{pt.Owner}}</div>
            </div>
        </div>

        <div class="pager" ng-if="pages && pages.length > 1">
            <div class="btn-group">
                <button type="button" class="btn" ng-class="{ 'btn-default': page !== currentPage, 'green': page === currentPage }" ng-repeat="page in pages" ng-click="submitSearch(page)">{{page}}</button>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="/AuthenticateDialog.html">
        <div class="modal-body">
            <div>You're not authenticated in Fr8.co application, please visit <a href="http://fr8.co">http://fr8.co/</a> first.</div>
            <div>After authenticated, follow Developer -&gt; Fr8 Plan Directory menu.</div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
        </div>
    </script>

    <script type="text/ng-template" id="/PlanCreatedDialog.html">
        <div class="modal-body">
            <div>Plan was successfully created.</div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="$dismiss()">Go to created plan</button>
        </div>        
    </script>
</body>
</html>
