@{
Layout = "~/Views/Shared/_HomePage.cshtml";
}
@{
ViewBag.Title = "Flow docusign form data into sql server";
}
<section class="text-block full-height-block inner-pages" data-section="2">
    <div class="inner-bg full-size-bg"></div>
    <div class="container full-height-block">
        <div class="inner-wrap centered">
            <div class="base-block-white title-block">
                <p><span class="text green">Features coming soon:</span></p>
            </div>
            <div class="base-block-white content-block">
                <p class="subtitle">Flow docusign form data into sql server</p>
                <p>Collect more data from your DocuSign documents, turning them into powerful forms solutions for your company workflows.<br />fr8 enables you to extract data from text fields, radio buttons, checkboxes, and dropdowns,<br /> and map that information into SQL Server databases.<br />You can point fr8 at your own web-accessible databases (such as Azure-hosted Sql Servers),<br />or have us create and maintain one for you at one of our secure Azure-hosted service locations. </p>
            </div>
            <div class="base-block-white content-block">
                <p>I'm interested in this feature. Please notify me when it is ready for use.</p>
                <div class="row-fluid section email-section">
                    <div class="col-md-12 email-section">
                        <div class="span12 cform">
                            <form class="form clearfix contact-form" action="#">
                                <p><span id="spMessage" class="contact-hint"></span></p>
                                <input type="email" class="span12" placeholder="Email Address" name="emailAddress" id="emailId">
                                <button class="btn btn-large submit-btn" type="button" onclick="SendMail();">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

