@{
Layout = "~/Views/Shared/_HomePage.cshtml";
}
@{
ViewBag.Title = "Data Extraction Into Salesforce.com";
}
<section class="text-block full-height-block inner-pages" data-section="2">
    <div class="inner-bg full-size-bg"></div>
    <div class="container full-height-block">
        <div class="inner-wrap centered">
            <div class="base-block-white title-block">
                <p><span class="text green">Features coming soon</span></p>
            </div>
        </div>
    </div>
</section>

