@{
	Layout = "~/Views/Shared/_HomePage.cshtml";
}
@{
	ViewBag.Title = "Add Note";
}
<!--<div id="fullpage">-->
<section id="welcome" class="top-banner home-welcome text-block full-height-block" data-section="welcome">
    <div class="inner-bg full-size-bg"></div>
    <div class="container full-height-block">
        <div class="inner-wrap cetered">
            <div class="landing-welcome-area">
                <div id="logotext" class="text">
                    <h2><span class="bordered-top-green">fr8 </span></h2>
                    <p class="descr"><span class="bordered-bottom-grey">Cloud Freight Services for DocuSign</span></p>
                </div>
                <div class="next-page-bnt">
                    <img src="~/Content/img/icons/next-page-bnt.png" alt="Next" title="Next">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="text-block full-height-block">
    <div class="container full-height-block">
        <div class="base-block-white title-block" style="margin-top: 56px;">
            <h2>Process the Data In Your DocuSign Envelopes</h2>
        </div>
        <div class="base-block-white content-block" >
            <p>
                With a few clicks, Fr8 can pull data out of your completed envelopes and put it into Salesforce.com,
                Sql Server, Email, and other sources. DocuSign is an enormously powerful forms engine and data
                collection tool, and Fr8 unlocks that power by making it easy to get at that data
            </p>
            <img src="~/Content/img/site/docusign-workflow-example-1.png" alt="DocuSign Workflow Example #1" />
        </div>
        <div class="base-block-white button-block">
            <a href="~/Dashboard#/solution/Extract_Data_From_Envelopes" class="btn btn-lg btn-warning">Try It Now</a>
        </div>

        <div class="base-block-white title-block">
            <h2>The World's First Universal DocuSign Mail Merge</h2>
        </div>
        <div class="base-block-white content-block">
            <p>
                Pull data out of Excel, Salesforce, and other services and easily merge it into your DocuSign Templates.
                Do it once, or do it 1000 times.
            </p>
            <img src="~/Content/img/site/docusign-workflow-example-2.png" alt="DocuSign Workflow Example #2" />
        </div>
        <div class="base-block-white button-block">
            <a href="~/Dashboard#/solution/Mail_Merge_Into_DocuSign" class="btn btn-lg btn-warning">Try It Now</a>
        </div>

        <div class="base-block-white title-block">
            <h2>Powerful DocuSign Notifications</h2>
        </div>
        <div class="base-block-white content-block">
            <p>
                Easily build a set of custom notifications. Want to find out every time a Signer is more than 2 days
                late? Want to get an SMS message when a particular recipient Signs? Set up these profiles in seconds.
            </p>
            <img src="~/Content/img/site/docusign-workflow-example-3.png" alt="DocuSign Workflow Example #3" />
        </div>
        <div class="base-block-white button-block">
            <a href="~/Dashboard#/solution/notifications" class="btn btn-lg btn-warning">Try It Now</a>
        </div>

        <div class="base-block-white title-block">
            <h2>Fr8 Dashboards for DocuSign</h2>
        </div>
        <div class="base-block-white content-block">
            <p>
                Fr8 tracks your DocuSign events and can generate powerful, updating, focused dashboards. Want to
                see the status of everything sent to your boss, all in one place? How about a list of all the
                Construction Reports signed in the previous week? Fr8 makes it easy
            </p>
            <img src="~/Content/img/site/docusign-dashboard-example.png" alt="DocuSign Dashboard Example" />
        </div>
        <div class="base-block-white button-block">
            <a href="~/Dashboard#/solution/dashboards" class="btn btn-lg btn-warning">Try It Now</a>
        </div>
    </div>
</section>
<!--</div>-->