@{
Layout = "~/Views/Shared/_HomePage.cshtml";
}
@{
ViewBag.Title = "Add Note";
}
<!--<div id="fullpage">-->
        <section id="welcome" class="top-banner home-welcome text-block full-height-block" data-section="welcome">
            <div class="inner-bg full-size-bg"></div>
            <div class="container full-height-block">
                <div class="inner-wrap centered">
                    <div class="landing-welcome-area">
                        <div id="logotext" class="text">
                            <h2><span class="bordered-top-green">fr8 for DocuSign</span></h2>
                            <p class="descr"><span class="bordered-bottom-grey">Cloud Freight(tm) Services</span></p>
                        </div>
                        <div class="next-page-bnt"><img src="Content/img/icons/next-page-bnt.png" alt="Next" title="Next"></div>
                    </div>
                </div>
            </div>
        </section>


        <section id="services" class="text-block full-height-block" data-section="services">
            <div class="inner-bg full-size-bg"></div>
            <div class="container full-height-block">
                <div class="inner-wrap centered">
                    <div class="base-block-white title-block">
                        <p><span class="text green">fr8</span> brings Cloud Freight  to the DocuSign platform, enhancing the DocuSign is a secure web service built using the DocuSign API and platform.<br />
                            It extends the power of DocuSign, providing support for:</p>
                    </div>
                    <div class="base-block-white content-block">
                        <p><a href="/Home/MultiPartWorkflows">Multi-Part Workflows</a></p>
                        <p><a href="/Home/ConditionalLogicBranching">Conditional Logic Branching</a></p>
                        <p><a href="/Home/IntegrationWithOtherDataServices">Integration with Other Data Services</a></p>
                        <p><a href="/Home/InterOrganizationWorkflow">Inter-Organization Workflows</a></p>
                        <p><a href="#">Data Extraction Into Salesforce.com</a></p>
                        <p><a href="/Home/DataExtractionintoSQLServer">Data Extraction into SQL Server</a></p>
                        <p><a href="#">Data Extraction into AWS, Azure, and other services</a></p>
                    </div>
                </div>
            </div>
        </section>

        <section id="aboutus" class="text-block full-height-block" data-section="aboutus">
            <div class="inner-bg full-size-bg"></div>
            <div class="container full-height-block">
                <div class="inner-wrap centered">
                    <p><span class="bordered-top-green"><span class="text green">fr8</span> is a San Francisco-based startup</span><br />
                            that delivers advanced tools<br />
                            and services for the DocuSign platform.</p>
                   <p>Our executive team has worked at<br />
                       <span class="bordered-bottom-grey">Microsoft, Netscape, Inktomi, and many internet startups.</span></p>
                </div>
            </div>
        </section>

        <section id="contacts" class="text-block full-height-block" data-section="contacts">
            <div class="inner-bg full-size-bg"></div>
            <div class="container full-height-block">
                <div class="inner-wrap centered">
                    <h2>Get in touch</h2>
                    <div class="row-fluid section">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="span12 cform">
                                <h3>Want to ask something?</h3>
                                <form class="form clearfix contact-form" action="#">
                                    <p><span id="spMessage" class="contact-hint"></span></p>
                                    <input type="text" class="span12" placeholder="Name" name="name" id="name">
                                    <input type="email" class="span12" placeholder="Email" name="emailAddress" id="emailId">
                                    <textarea class="span12" placeholder="Message" name="message" rows="6" id="message"></textarea>
                                    <button class="btn btn-large submit-btn" type="button" onclick="SendMail();">Submit</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!--</div>-->