@{
    Layout = "~/Views/Shared/_HomePage.cshtml";
}
@{
    ViewBag.Title = "Multi-stage workflows";
}
    <section class="text-block full-height-block inner-pages" data-section="2">
        <div class="inner-bg full-size-bg"></div>
        <div class="container full-height-block">
            <div class="inner-wrap centered">
                <div class="base-block-white title-block">
                    <p><span class="text green">Features coming soon:</span></p>
                </div>
                <div class="base-block-white content-block">
                    <p class="subtitle">Multi-stage workflows</p>
                    <p>Create richer, longer workflows with fr8.<br />
                        Glue DocuSign envelopes and templates into more complex business logic,<br />using simple point-and-click tools.</p>
                </div>
                <div class="base-block-white content-block">
                    <p>I'm interested in this feature. Please notify me when it is ready for use.</p>
                    <div class="row-fluid section email-section">
                        <div class="col-md-12 email-section">
                            <div class="span12 cform">
                                <form class="form clearfix contact-form" action="#">
                                    <p><span id="spMessage" class="contact-hint"></span></p>
                                    <input type="email" class="span12" placeholder="Email Address" name="emailAddress" id="emailId">
                                    <button class="btn btn-large submit-btn" type="button" onclick="SendMail();">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

