<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        
    </head>
    <body>
        <script>
            $(function () {
                var data = { "rootPlanNodeId": "87ccc904-65f1-4542-b824-79a51f0246f3", "parentPlanNodeId": "584bf726-172a-4d87-88a8-4f9d24e902ea", "crateStorage": { "crates": [{ "id": "6e13a696-2d6f-4f01-bb38-782b75044bd2", "label": "RequiresAuthentication", "contents": { "Mode": 1 }, "parentCrateId": null, "manifestType": "Standard Authentication", "manifestId": 12, "manufacturer": null, "createTime": "0001-01-01T00:00:00", "availability": 0 }, { "id": "994b30de-0af0-4674-9ff3-00a34ceee9d7", "label": "Configuration_Controls", "contents": { "Controls": [{ "class": null, "name": "AuthAwaitLabel", "required": false, "value": "Please provide credentials to access your desired account", "label": null, "type": "TextBlock", "selected": false, "events": [], "source": null, "help": null, "errorMessage": null }] }, "parentCrateId": null, "manifestType": "Standard UI Controls", "manifestId": 6, "manufacturer": null, "createTime": "0001-01-01T00:00:00", "availability": 0 }], "crateDTO": [{ "id": "6e13a696-2d6f-4f01-bb38-782b75044bd2", "label": "RequiresAuthentication", "contents": { "Mode": 1 }, "parentCrateId": null, "manifestType": "Standard Authentication", "manifestId": 12, "manufacturer": null, "createTime": "0001-01-01T00:00:00", "availability": 0 }, { "id": "994b30de-0af0-4674-9ff3-00a34ceee9d7", "label": "Configuration_Controls", "contents": { "Controls": [{ "class": null, "name": "AuthAwaitLabel", "required": false, "value": "Please provide credentials to access your desired account", "label": null, "type": "TextBlock", "selected": false, "events": [], "source": null, "help": null, "errorMessage": null }] }, "parentCrateId": null, "manifestType": "Standard UI Controls", "manifestId": 6, "manufacturer": null, "createTime": "0001-01-01T00:00:00", "availability": 0 }] }, "activityTemplateId": 20, "label": "Mail Merge Into DocuSign", "activityTemplate": { "id": 20, "name": "Mail_Merge_Into_DocuSign", "label": "Mail Merge Into DocuSign", "version": "1", "webService": { "id": 3, "name": "DocuSign", "iconPath": "/Content/icons/web_services/docusign-icon-64x64.png" }, "terminal": { "id": 4, "name": "terminalDocuSign", "version": "1", "terminalStatus": 1, "terminalStatusTemplate": null, "endpoint": "localhost:53234", "description": null, "authenticationType": 2 }, "terminalId": 4, "componentActivities": null, "tags": null, "category": "Solution", "type": "Standard", "minPaneWidth": 500, "description": null, "needsAuthentication": true, "help": null }, "isTempId": false, "isExplicitData": false, "explicitData": null, "action_version": null, "currentView": null, "containerId": "00000000-0000-0000-0000-000000000000", "authToken": null, "childrenActivities": [], "ordering": 1, "id": "ac4eb122-1a10-48eb-a2a7-3999f4f8b46d", "name": "Mail_Merge_Into_DocuSign", "configurationControls": { "fields": [{ "class": null, "name": "AuthAwaitLabel", "required": false, "value": "Please provide credentials to access your desired account", "label": null, "type": "TextBlock", "selected": false, "events": [], "source": null, "help": null, "errorMessage": null }] }, "height": 331 };

                var invoker = function () {
                    $.ajax({
                        method: 'POST',
                        url: '/api/v1/activities/configure?id=ac4eb122-1a10-48eb-a2a7-3999f4f8b46d',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json'
                    })
                    .then(function () {
                        invoker();
                    })
                    .catch(function (err) {
                        console.log(err);
                        invoker();
                    });
                };

                invoker();
            });
        </script>
    </body>
</html>