<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light">

            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-green-haze hide"></i>
                    <span class="caption-subject font-green-haze bold uppercase">RUNNING Plans</span>
                    <span class="caption-helper hide">weekly stats...</span>
                </div>
            </div>

            <div class="portlet-body">
                <div ng-if="activePlans.$resolved != true">Loading Plans...</div>
                <div ng-if="activePlans.$resolved == true && activePlans.length == 0">No running plans found. To make a plan running, click on the Run Now button after your plan is fully configured.</div>
                <div ng-if="activePlans.$resolved == true && activePlans.length > 0">
                    <div class="table-scrollable table-scrollable-borderless">
                        <table datatable="ng" dt-options="dtOptionsBuilder" dt-column-defs="dtColumnDefs" class="row-border hover table table-hover table-light table-linkrows table-routes">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Last Updated</th>
                                    <th>Status</th>
                                    <th style="text-align: right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="plan in activePlans | filter: {planState:2}">
                                    <td ng-click="goToPlanDetailsPage(plan.id)">{{ plan.name }}</td>
                                    <td ng-click="goToPlanDetailsPage(plan.id)">{{ plan.description }}</td>
                                    <td ng-click="goToPlanDetailsPage(plan.id)">{{plan.lastUpdated | date:"MM/dd/yyyy h:mm:ss a"}}</td>
                                    <td ng-click="goToPlanDetailsPage(plan.id)">
                                        <span class="bold font-green-haze">{{plan.planState == 2 ? 'Active' : 'Inactive' }}</span>
                                    </td>
                                    <td>
                                        <div>
                                            <md-button class="md-icon-button" ng-click="goToPlanDetailsPage(plan.id);">
                                                <md-icon md-font-icon="fa fa-ellipsis-h" class="fa fa-lg"></md-icon>
                                                <md-tooltip md-direction="top">
                                                    Settings
                                                </md-tooltip>
                                            </md-button>
                                            <md-button class="md-icon-button" ng-click="deactivatePlan(plan);">
                                                <md-icon md-font-icon="fa-bolt" class="fa fa-lg font-red-haze"></md-icon>
                                                <md-tooltip md-direction="top">
                                                    Deactivate
                                                </md-tooltip>
                                            </md-button>
                                            <md-button class="md-icon-button" ng-click="deletePlan(plan.id,plan.planState);">
                                                <md-icon md-font-icon="fa-trash" class="fa fa-lg"></md-icon>
                                                <md-tooltip md-direction="top">
                                                    Delete
                                                </md-tooltip>
                                            </md-button>
                                            <md-button class="md-icon-button" ng-click="goToPlanPage(plan.id);">
                                                <md-icon md-font-icon="fa-edit" class="fa fa-lg"></md-icon>
                                                <md-tooltip md-direction="top">
                                                    Edit
                                                </md-tooltip>
                                            </md-button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
                <hr />

                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green-haze hide"></i>
                        <span class="caption-subject font-green-haze bold uppercase">Plan Library</span>
                        <span class="caption-helper hide">weekly stats...</span>
                    </div>
                    <div class="actions">
                    </div>
                </div>

                <div class="portlet-body">
                    <div ng-if="inActivePlans.$resolved != true">Loading plans...</div>
                    <div ng-if="inActivePlans.$resolved == true && inActivePlans.length == 0">No inactive plans are found. To make a plan inactive, click on the Deactivate button for an Active plan you wish to disable.</div>
                    <div ng-if="inActivePlans.$resolved == true && inActivePlans.length > 0">
                        <div class="table-scrollable table-scrollable-borderless">
                            <table datatable="ng" dt-options="dtOptionsBuilder" dt-column-defs="dtColumnDefs" class="row-border hover table table-hover table-light table-linkrows table-routes">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Last Updated</th>
                                        <th>Status</th>
                                        <th style="text-align: right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="plan in inActivePlans | filter: {planState:1}">
                                        <td ng-click="goToPlanDetailsPage(plan.id)">{{ plan.name }}</td>
                                        <td ng-click="goToPlanDetailsPage(plan.id)">{{ plan.description }}</td>
                                        <td ng-click="goToPlanDetailsPage(plan.id)">{{plan.lastUpdated | date:"MM/dd/yyyy h:mm:ss a"}}</td>
                                        <td ng-click="goToPlanDetailsPage(plan.id)">
                                            <span class="bold font-green-haze">{{plan.planState == 2 ? 'Active' : 'Inactive' }}</span>
                                        <td>
                                            <div style="display:flex">
                                                <md-button class="md-icon-button" ng-click="goToPlanDetailsPage(plan.id);">
                                                    <md-icon md-font-icon="fa fa-ellipsis-h" class="fa fa-lg"></md-icon>
                                                    <md-tooltip md-direction="top">
                                                        Settings
                                                    </md-tooltip>
                                                </md-button>
                                                <md-button class="md-icon-button" ng-click="executePlan(plan,$event);">
                                                    <md-icon md-font-icon="fa-play" class="fa fa-lg font-green-haze"></md-icon>
                                                    <md-tooltip md-direction="top">
                                                        Run
                                                    </md-tooltip>
                                                </md-button>
                                                <md-button class="md-icon-button" ng-click="deletePlan(plan.id,plan.planState);">
                                                    <md-icon md-font-icon="fa-trash" class="fa fa-lg"></md-icon>
                                                    <md-tooltip md-direction="top">
                                                        Delete
                                                    </md-tooltip>
                                                </md-button>
                                                <md-button class="md-icon-button" ng-click="goToPlanPage(plan.id);">
                                                    <md-icon md-font-icon="fa-edit" class="fa fa-lg"></md-icon>
                                                    <md-tooltip md-direction="top">
                                                        Edit
                                                    </md-tooltip>
                                                </md-button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>