<md-content>

    <md-toolbar class="md-table-toolbar md-default" ng-show="!filter.showActive" style="margin-top: 30px;">
        <div class="md-toolbar-tools">
            <h2 class="md-title font-green-haze">Active Plans</h2>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="filter.showActive = true">
                <md-icon md-font-icon="fa fa-search material-fa-icon"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar md-default" ng-show="filter.showActive" style="margin-top: 30px;">
        <div class="md-toolbar-tools">
            <md-icon md-font-icon="fa fa-search material-fa-icon"></md-icon>
            <div flex name="filter.form">
                <md-input-container class="md-block" flex-gt-sm>
                    <input flex type="text" ng-model="activeQuery.filter" ng-model-options="filter.options" placeholder="Search" style="border-bottom: 1px solid #000000; border-bottom: 1px solid rgba(0,0,0,.12) !important">
                </md-input-container>
            </div>
            <md-button class="md-icon-button" ng-click="removeActiveFilter()">
                <md-icon md-font-icon="fa fa-times material-fa-icon"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table md-progress="activePromise">
            <thead md-head md-order="activeQuery.orderBy" md-on-reorder="getActivePlans">
                <tr md-row>
                    <th md-column md-order-by="name" style="width: 20%;"><span>Name</span></th>
                    <th md-column style="width: 35%;"><span>Description</span></th>
                    <th md-column md-order-by="lastUpdated" style="width: 20%;">Last Updated</th>
                    <th md-column style="width: 10%;">Status</th>
                    <th md-column md-numeric style="width: 15%;">Actions</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="plan in activePlans.plans | filter: activeOrExecutingPlans">
                    <td md-cell class="column-spacer">{{ plan.name }}</td>
                    <td md-cell class="column-spacer">{{ plan.description }}</td>
                    <td md-cell>{{ plan.lastUpdated | date:"MM/dd/yyyy h:mm:ss a"}}</td>
                    <td md-cell>
                        <span class="bold font-green-haze">
                            <span ng-if="plan.planState == 'Executing'">Executing</span>
                            <span ng-if="plan.planState == 'Active'">Active</span>
                            <span ng-if="plan.planState == 'Inactive'">Inactive</span>
                        </span>
                    </td>
                    <td md-cell style="display: flex;">
                        <md-button class="md-icon-button md-table-fr8-button" ng-click="goToPlanPage(plan.id);">
                            <md-icon md-font-icon="fa-edit" class="fa fa-lg"></md-icon>
                            <md-tooltip md-direction="top">
                                Edit
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button md-table-fr8-button" ng-click="deletePlan(plan.id,plan.planState);">
                            <md-icon md-font-icon="fa-trash" class="fa fa-lg"></md-icon>
                            <md-tooltip md-direction="top">
                                Delete
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button md-table-fr8-button" ng-click="deactivatePlan(plan);">
                            <md-icon md-font-icon="fa fa-stop" class="fa fa-lg"></md-icon>
                            <md-tooltip md-direction="top">
                                Deactivate
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button md-table-fr8-button" ng-click="goToPlanDetailsPage(plan.id);">
                            <md-icon md-font-icon="fa fa-ellipsis-h" class="fa fa-lg"></md-icon>
                            <md-tooltip md-direction="top">
                                Settings
                            </md-tooltip>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit="activeQuery.planPerPage" md-limit-options="[5, 10, 15, 20]" md-page="activeQuery.page" md-total="{{(activePlans.totalPlanCount || activePlans.totalPlanCount === 0) ? activePlans.totalPlanCount : 'NaN'}}" md-on-paginate="getActivePlans" md-page-select></md-table-pagination>
    
    <md-toolbar class="md-table-toolbar md-default" ng-show="!filter.showInactive">
        <div class="md-toolbar-tools">
            <h2 class="md-title font-green-haze">Plan Library</h2>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="filter.showInactive = true">
                <md-icon md-font-icon="fa fa-search material-fa-icon"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar md-default" ng-show="filter.showInactive">
        <div class="md-toolbar-tools">
            <md-icon md-font-icon="fa fa-search material-fa-icon"></md-icon>
            <div flex name="filter.form">
                <md-input-container class="md-block" flex-gt-sm>
                    <input flex type="text" ng-model="inActiveQuery.filter" ng-model-options="filter.options" placeholder="Search" style="border-bottom: 1px solid #000000; border-bottom: 1px solid rgba(0,0,0,.12) !important">
                </md-input-container>
            </div>
            <md-button class="md-icon-button" ng-click="removeInactiveFilter()">
                <md-icon md-font-icon="fa fa-times material-fa-icon"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table md-progress="inActivePromise">
            <thead md-head md-order="inActiveQuery.orderBy" md-on-reorder="getInactivePlans">
                <tr md-row>
                    <th md-column md-order-by="name" style="width: 20%;"><span>Name</span></th>
                    <th md-column style="width: 35%;"><span>Description</span></th>
                    <th md-column md-order-by="lastUpdated" style="width: 20%;">Last Updated</th>
                    <th md-column style="width: 10%;">Status</th>
                    <th md-column md-numeric style="width: 15%;">Actions</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="plan in inActivePlans.plans | filter: {planState:'Inactive'}">
                    <td md-cell class="column-spacer">{{ plan.name }}</td>
                    <td md-cell class="column-spacer">{{ plan.description }}</td>
                    <td md-cell>{{ plan.lastUpdated | date:"MM/dd/yyyy h:mm:ss a"}}</td>
                    <td md-cell>
                        <span class="bold">{{plan.planState == 'Executing' ? 'Running' : 'Inactive' }}</span>
                    </td>
                    <td md-cell style="display: flex;">
                        <md-button class="md-icon-button md-table-fr8-button" ng-click="goToPlanPage(plan.id);">
                            <md-icon md-font-icon="fa-edit" class="fa fa-lg"></md-icon>
                            <md-tooltip md-direction="top">
                                Edit
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button md-table-fr8-button" ng-click="deletePlan(plan.id,plan.planState);">
                            <md-icon md-font-icon="fa-trash" class="fa fa-lg"></md-icon>
                            <md-tooltip md-direction="top">
                                Delete
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button md-table-fr8-button" ng-click="executePlan(plan,$event);" event-run>
                            <md-icon md-font-icon="fa-play" class="fa fa-lg font-green-haze"></md-icon>
                            <md-tooltip md-direction="top">
                                Run
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button md-table-fr8-button" ng-click="goToPlanDetailsPage(plan.id);">
                            <md-icon md-font-icon="fa fa-cog" class="fa fa-lg"></md-icon>
                            <md-tooltip md-direction="top">
                                Settings
                            </md-tooltip>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit="inActiveQuery.planPerPage" md-limit-options="[5, 10, 15, 20]" md-page="inActiveQuery.page" md-total="{{(inActivePlans.totalPlanCount || inActivePlans.totalPlanCount === 0) ? inActivePlans.totalPlanCount : 'NaN'}}" md-on-paginate="getInactivePlans" md-page-select></md-table-pagination>

</md-content>
