<div ng-controller="AccountDetailsController">
    <div>Id: {{user.id}}</div>
    <div>Email: {{user.emailAddress}}</div>
    <div>Status: {{user.status}}</div>
    <div>Role: {{user.role}}</div>
</div>