<div ng-controller="NotifierController" class="activity-stream">
    <md-content class="md-sidenav-right md-whiteframe-4dp activity-stream-template" md-component-id="right" md-is-locked-open="true" md-disable-backdrop>
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Activity</h1>
        </md-toolbar>
        <md-content layout-padding>
            <md-list flex>
                <md-list-item class="secondary-button-padding" ng-repeat="event in eventList">
                    <fr8-event style="margin-top: 10px; margin-bottom: 10px;" event="event.data" type="{{event.type}}"></fr8-event>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </md-content>
</div>