<div>
    <div style="display: table-cell;">{{field.label}}: </div>
    <div style="display: table-cell; padding-left: 5px;">
        <button class="btn btn-default" ng-click="selectActivity()" ng-if="!field.activityTemplateLabel">Select...</button>
        <button class="btn btn-default" ng-click="selectActivity()" ng-if="field.activityTemplateLabel" style="display: block;">Configure {{field.activityTemplateLabel}}</button>
        <button class="btn btn-danger" ng-click="remove()" ng-if="field.activityTemplateLabel" style="display: block; margin: 3px 0 0 0;">Remove</button>
    </div>
</div>