<div>
    <span>{{field.label}}: </span>
    <button class="btn btn-default" ng-click="selectActivity()" ng-if="!field.activityTemplateLabel">Select...</button>
    <button class="btn btn-default" ng-click="selectActivity()" ng-if="field.activityTemplateLabel">Configure {{field.activityTemplateLabel}}</button>
    <button class="btn btn-danger" ng-click="remove()" ng-if="field.activityTemplateLabel">Remove</button>
</div>