<div class="action-picker-panel">
    <div class="action-picker-panel-header">
        <div class="action-picker-panel-search">
            <input type="text" class="form-control" placeholder="Search for any activity..." />
        </div>

        <div class="action-picker-panel-close">
            <a href ng-click="onClose()"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="action-picker-panel-content">
        <div class="category-icon-list">
            <div ng-repeat="c in categories" class="category-item">
                <div class="category-icon"><img ng-src="{{c.iconPath}}" ng-click="selectCategory(c)" /></div>
                <div class="category-label" ng-click="selectCategory(c)">{{c.name}}</div>
            </div>
        </div>
    </div>
</div>