<div ng-class="{'action-add': true, 'action-add--active': activeCategory >= 0}">
    <div style="display:flex">
        <div class="action-categories">
            <div data-ng-repeat="actionCategory in actionCategories"
                 ng-class="{'action-category': true,'action-category--active': actionCategory.id === activeCategory}" class="ng-isolate-scope">
                <i class="fa fa-{{actionCategory.icon}} action-category-icon"
                   data-ng-click="setActive(actionCategory.id)"></i>
                <div class="action-category-name">{{actionCategory.name}}</div>
            </div>
        </div>
        <i class="fa fa-plus action-add-button"></i>
        <div ng-class="{'action-slider': true, 'action-slider--active': activeCategory > 0, 'action-terminal-active': activeTerminal >= 0}" class="ng-isolate-scope">
            <div class="slide">
                <div style="height:100%" mb-scrollbar="scrollbar('vertical', true)">
                    <div data-ng-repeat="webServiceAction in webServiceActionList"
                         data-ng-click="setActiveTerminal($index)"
                         class="web-service-action">
                        <img src="{{webServiceAction.webServiceIconPath}}" />
                        {{webServiceAction.webServiceName ? webServiceAction.webServiceName : 'Unknown Service'}}
                    </div>
                </div>
            </div><div class="slide">
                <div data-ng-click="deactivateTerminal()" class="action-action"><i class="fa fa-arrow-left"></i> Back</div>
                <div style="height:100%" mb-scrollbar="scrollbar('vertical', true)">
                    <div data-ng-repeat="action in webServiceActionList[activeTerminal].activities"
                         data-ng-click="setActiveAction(action, group)"
                         class="action-action">
                        {{action.label}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>