<div>
    <span class="glyphicon glyphicon-info-sign advisory-glyphicon"></span>
    <a href="#" class="pull-right margin-top-10" ng-click="envelope.activity.showAdvisoryPopup = false">X</a>
    <div class="popover-content">
        <div ng-repeat="advisory in envelope.activity.advisoryMessages.advisories track by $index">
            <div class="title">
                <b>{{advisory.name}}</b>
            </div>
            <br/>
            <div class="content" ng-bind="advisory.content">
            </div>
        </div>
    </div>
    <br>
</div>
