<div class="modal-header">
    <h4 class="pull-left">Choose accounts</h4>
    <button class="btn btn-default pull-right" ng-click="$dismiss()">Close</button>
    <button class="btn btn-primary pull-right" ng-click="apply()" ng-disabled="!isAllSelected()">Apply</button>
</div>
<div class="modal-body" block-if="isLoading()">
    <div class="panel panel-default" ng-repeat="terminal in terminals">
        <div class="panel-heading">
            This route requires authentication for {{terminal.name}}
        </div>
        <div class="panel-body">
            <div ng-repeat="authToken in terminal.authTokens">
                <label>
                    <input type="radio" name="terminal_{{terminal.id}}"
                           value="{{authToken.id}}"
                           ng-model="terminal.selectedAuthTokenId" />
                    <span ng-if="authToken.isMain">(Main) </span>
                    <span>{{authToken.externalAccountName}}</span>
                </label>
            </div>
            <div ng-if="terminal.authTokens.length" style="font-style: italic; margin: 5px 0 5px 0;">
                Please select previously added user account on the external service for use by &laquo;{{terminal.name}}&raquo;. To add a user account not in the list, click on the <strong>Link a New User Account</strong> button.
            </div>
            <div ng-if="!terminal.authTokens.length" style="font-style: italic; margin: 5px 0 5px 0;">
                Please click on the <strong>Link a New User Account</strong> button to enable &laquo;{{terminal.name}}&raquo; to access the external service.
            </div>
            <div>
                <button class="btn btn-default" ng-click="linkAccount(terminal)">Link a New User Account</button>
            </div>
            <div style="margin-top: 10px;">
                <label>
                    <input type="checkbox" ng-model="terminal.isMain" />
                    <span>Remember my selection for {{terminal.name}}</span>
                </label>
            </div>
        </div>
    </div>
</div>