<div class="modal-header">
    <h4 class="pull-left">Authorize Accounts</h4>
</div>
<div class="modal-body" block-if="isLoading()">
    <div class="panel panel-default" ng-repeat="terminal in terminals">
        <div class="panel-heading">
            Terminal: {{terminal.label}}
        </div>
        <div class="panel-body">
            <div ng-if="terminal.authTokens.length" style="margin: 5px 0 5px 0;">
                Select authorization:
            </div>
            <div ng-repeat="authToken in terminal.authTokens">
                <label>
                    <input type="radio" name="terminal_{{terminal.id}}"
                           value="{{authToken.id}}"
                           ng-model="terminal.selectedAuthTokenId" />
                    <span ng-if="authToken.isMain">(Main) </span>
                    <span>{{authToken.externalAccountName}}</span>
                </label>
            </div>
            <div ng-if="!terminal.authTokens.length" style="margin: 5px 0 5px 0;">
                Please click on the <strong>Add Authorization</strong> button to enable &laquo;{{terminal.label}}&raquo; to access the external service.
            </div>
            <div ng-show="terminal.authTokens.length" style="margin-top: 10px;margin-bottom:5px;">
                <label>
                    <input type="checkbox" ng-model="terminal.isMain" />
                    <span>Use for all Activities</span>
                </label>
            </div>
            <div>
                <button class="btn btn-default" ng-click="linkAccount(terminal)">Add Authorization</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer" style="margin-top: -20px;">
    <button class="btn btn-default pull-right" style="width: 100px;" ng-click="$dismiss()">Cancel</button>
    <button class="btn btn-primary pull-right" style="width: 100px;" ng-click="apply()" ng-disabled="!isAllSelected()">Ok</button>
</div>