<div class="modal-header" event-auth-dialog>
    <h4 class="pull-left">Add Connection</h4>
</div>
<div class="auth-dialog modal-body" block-if="isLoading()">
    <div class="fr8-auth-cover" ng-class="[{'expanded':!isWaitingForResponse}]">
        <div class="fr8-full-width fr8-full-height" style="position: absolute; top: 40%;">
            <div block-if="isWaitingForResponse === true"></div>
        </div>
    </div>

    <div class="panel panel-default" ng-repeat="terminal in terminals">
        <div class="panel-heading">
            Terminal: {{terminal.label}}
        </div>
        <div class="panel-body">
            <p ng-if="!terminal.authTokens.length">
                Please click on the <strong>Add Connection</strong> button to enable &laquo;{{terminal.label}}&raquo; to access the external service.
            </p>

            <div ng-if="terminal.authTokens.length">
                <p>Use which connection:</p>
                <div class="field-group">
                    <div ng-repeat="authToken in terminal.authTokens" class="frm-group">
                        <label>
                            <input type="radio" name="terminal_{{terminal.id}}"
                                   value="{{authToken.id}}"
                                   ng-model="terminal.selectedAuthTokenId" />
                            <span ng-if="authToken.isMain">(Default) </span>
                            <span>{{authToken.externalAccountName}}</span>
                        </label>
                    </div>
                </div>
            </div>

            <a class="auth-link-account" ng-click="linkAccount(terminal)"><i class="fa fa-plus" aria-hidden="true"></i> Add Connection</a>

            <div ng-if="terminal.authTokens.length" class="frm-group">
                <label>
                    <input type="checkbox" ng-model="terminal.isMain" />
                    <span>Always use this connection</span>
                </label>
            </div>

            <div ng-if="terminal.authTokens.length && terminal.showAdvancedOptions" class="frm-group" ng-click="terminal.advancedOptionsAreExpanded = !terminal.advancedOptionsAreExpanded" style="outline: none;">
                <span>{{terminal.advancedOptionsAreExpanded ? '&#x25B2;' : '&#x25BC;'}}</span>
                <span>Advanced options</span>
            </div>
            <div ng-show="terminal.authTokens.length && terminal.advancedOptionsAreExpanded">
                <label>
                    <input type="checkbox" ng-model="terminal.useForAllActivities"/>
                    <span>Apply to all <strong>{{terminal.label}}</strong> activities in the Plan</span>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default pull-right" style="width: 100px;" ng-click="$dismiss()">Cancel</button>
    <button class="btn btn-primary pull-right" style="width: 100px;" ng-click="apply()" ng-disabled="!isAllSelected()">Ok</button>
</div>

<script type="text/ng-template" id="/AngularTemplate/AuthenticationPopupBlockedDialog">
    <div class="modal-body">
        <div><strong>Authentication popup is blocked</strong> by browser, please go to browser settings and unblock popups for <strong>{{hostname}}</strong> hostname.</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
    </div>
</script>
