<div class="modal-header">
    <h4 class="pull-left">Choose accounts</h4>
    <button class="btn btn-primary pull-right" ng-click="apply()">Apply</button>
</div>
<div class="modal-body">
    <div class="panel panel-default" ng-repeat="terminal in terminals">
        <div class="panel-heading">
            This route requires authentication for {{terminal.name}}
        </div>
        <div class="panel-body">
            <div ng-repeat="authToken in terminal.authTokens">
                <label>
                    <input type="radio" name="terminal_{{terminal.id}}" />
                    <span ng-if="authToken.isMain">(Main) </span>
                    <span>{{authToken.externalAccountName}}</span>
                </label>
            </div>
            <div>
                <button class="btn btn-default" ng-click="linkAccount(terminal)">Link an account for {{terminal.name}}</button>
            </div>
            <div style="margin-top: 10px;">
                <label>
                    <input type="checkbox" ng-model="terminal.isMain" />
                    <span>Always use this account without asking.</span>
                </label>
            </div>
        </div>
    </div>
</div>