<div class='configuration-control-form-group'>
    <!--
    This fine contains a map of snippets which are rendered by Angular depending on field type
    Type check occurs with help of the ng-if directive on the outermost <div> of the snippet.
    -->
    <!-- Check box template -->
    <div class='col-sm-offset-1' ng-if='field.type == "CheckBox"'>
        <div class='checkbox checkbox-primary'>
            <input type='checkbox' ng-model='field.selected' ng-click="onChange($event)" data-field-name='{{::field.name}}' id='pca__chk__{{::field.name}}{{::currentAction.id}}'
                    name='pca__chk__{{::field.name}}{{::currentAction.id}}' stop-click-propagation>
            <label for='pca__chk__{{::field.name}}{{::currentAction.id}}' stop-click-propagation>{{::field.label}}</label>
        </div>
    </div>

    <!-- Textbox template -->
    <div ng-if='field.type == "TextBox"'>
        <label class='control-label' ng-if="field.label">{{::field.label}}</label>
        <input type='text' ng-model='field.value' ng-model-options="{ updateOn: 'blur' }" ng-change="onChange(field)" ng-required='field.required'
                data-field-name='{{::field.name}}' id='pca__txt__{{::field.name | validId}}' class='form-control form-control-focus'
                name='pca__txt__{{::field.name | validId}}' stop-click-propagation>
    </div>

    <!-- Textarea template -->
    <div ng-if='field.type == "TextBoxBig"'>
        <label class='control-label' ng-if="field.label">{{::field.label}}</label>
        <textarea type='text' ng-model='field.value' ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                    ng-change="onChange(field)" ng-required='field.required' data-field-name='{{::field.name}}' id='pca__txt__{{::field.name | validId}}'
                    class='form-control form-control-focus' name='pca__txt__{{::field.name | validId}}' stop-click-propagation></textarea>
    </div>

    <!-- Filepicker template -->
    <div ng-if='field.type == "FilePicker"'>
        <label class='control-label'>{{::field.label}}</label>
        <file-picker field='field' change="onChange"></file-picker>
    </div>

    <!-- RadioButtonGroup template -->
    <div ng-if='field.type == "RadioButtonGroup"'>
        <label class='control-label' ng-bind-html="field.label"></label>
        <radio-button-group field='field' current-action='currentAction' change='onChange' is-disabled="plan.planState=='Executing' || isDisabled"></radio-button-group>
    </div>

    <!-- DownDownList template -->
    <div ng-if='field.type == "DropDownList"'>
        <label ng-if="field.label !== null && field.label.length > 0" class='control-label' ng-bind-html="field.label"></label>
        <drop-down-list-box current-action="currentAction" field='field' click='onClick' change='onChange' data-field-name='{{::field.name}}' is-disabled="plan.planState=='Executing' || isDisabled"></drop-down-list-box>
    </div>

    <!-- TextBlock template -->
    <div ng-if='field.type == "TextBlock"'>
        <label ng-if="field.label !== null && field.label.length > 0" class='control-label'>{{::field.label}}</label>
        <text-block field='field'></text-block>
    </div>

    <!-- FilterPane template -->
    <div ng-if='field.type == "FilterPane"'>
        <filter-pane current-action='currentAction' field='field' change='onChange'></filter-pane>
    </div>

    <!-- QueryBuilder template -->
    <div ng-if='field.type == "QueryBuilder"'>
        <label class='control-label'>{{::field.label}}</label>
        <query-builder current-action='currentAction' field='field'></query-builder>
    </div>

    <!-- MappingPane template -->
    <div ng-if='field.type == "MappingPane"'>
        <label class='control-label'>{{::field.label}}</label>
        <mapping-pane current-action='currentAction' field='field'></mapping-pane>
    </div>

    <!-- Routing control group template -->
    <div ng-if='field.type == "Routing"'>
        <div class="container_box" ng-repeat="plan in field.plans">
            <routing-control plan="plan"/>
        </div>
    </div>

    <!-- Field List control template -->
    <div ng-if='field.type == "FieldList"'>
        <label class="conrol-label">{{::field.label}}</label>
        <field-list field="field" change="onChange"></field-list>
    </div>

    <!-- Button template -->
    <div ng-if='field.type == "Button"'>
        <button ng-click="field.clicked=true;onClick($event)" data-field-name='{{::field.name}}' id='pca__btn__{{::field.name | validId}}' class="{{::field.class || 'btn btn-success'}}" name='pca__btn__{{::field.name | validId}}'>{{::field.label}}</button>
    </div>

    <!-- TextSource template -->
    <div ng-if='field.type == "TextSource"'>
        <text-source current-action="currentAction" change="onChange" data-field-name='{{::field.name}}' field="field"></text-source>
    </div>

    <!-- TextArea template -->
    <div ng-if='field.type == "TextArea"'>
        <label ng-if="field.label !== null && field.label.length > 0" class='control-label'>{{::field.label}}</label>
        <text-area field='field'></text-area>
    </div>

    <!-- ManagePlan template -->
    <div ng-if='field.type == "ManagePlan"'>
        <manage-plan current-action='currentAction'></manage-plan>
    </div>

    <!-- Duration template -->
    <div ng-if='field.type == "Duration"'>
        <label ng-if="field.label !== null && field.label.length > 0" class='control-label'>{{::field.label}}</label>
        <duration field="field"></duration>
    </div>

    <!-- RunPlan button -->
    <div ng-if='field.type == "RunPlanButton"'>
        <run-plan-button current-action='currentAction' field="field"></run-plan-button>
    </div>

    <!-- UpstreamDataChooser -->
    <div ng-if='field.type == "UpstreamDataChooser"'>
        <upstream-data-chooser field="field" current-action='currentAction' change="onChange" is-disabled="plan.planState=='Executing' || isDisabled"></upstream-data-chooser>
    </div>

    <!-- UpstreamFieldChooser -->
    <div ng-if='field.type === "UpstreamFieldChooser"'>
        <upstream-field-chooser field="field" current-action="currentAction" change="onChange" is-disabled="plan.planState=='Executing' || isDisabled"></upstream-field-chooser>
    </div>

    <!-- UpstreamCrateChooser -->
    <div ng-if='field.type === "UpstreamCrateChooser"'>
        <upstream-crate-chooser field="field" current-action="currentAction" change="onChange" is-disabled="plan.planState=='Executing' || isDisabled"></upstream-crate-chooser>
    </div>

    <!-- SourceableCriteria template -->
    <div ng-if='field.type == "SourceableCriteria"'>
        <sourceable-criteria change="onChange" data-field-name='{{::field.name}}' field="field" is-disabled="plan.planState=='Executing' || isDisabled"></sourceable-criteria>
    </div>

    <!-- DatePicker -->
    <div ng-if='field.type == "DatePicker"'>
        <date-picker field="field"/>
    </div>

    <!-- CrateChooser -->
    <div ng-if='field.type == "CrateChooser"'>
        <crate-chooser field="field" current-action="currentAction" change="onChange"></crate-chooser>
    </div>


    <!-- ContainerTransition -->
    <div ng-if='field.type == "ContainerTransition"'>
        <container-transition field="field" current-action="currentAction" change="onChange" plan="plan" sub-plan="subPlan" is-disabled="plan.planState=='Executing' || isDisabled"></container-transition>
    </div>


    <!-- ControlContainer -->
    <div ng-if='field.type == "MetaControlContainer"'>
        <meta-control-container field="field" current-action="currentAction" change="onChange" plan="plan"></meta-control-container>
    </div>

    <!-- ControlList -->
    <div ng-if='field.type == "ControlList"'>
        <control-list field="field" current-action="currentAction" change="onChange" plan="plan"></control-list>
    </div>

    <!-- Select Data -->
    <div ng-if='field.type == "SelectData"'>
        <select-data field="field" current-action="currentAction" plan="plan"></select-data>
    </div>

    <!-- External Object Chooser -->
    <div ng-if='field.type == "ExternalObjectChooser"'>
        <external-object-chooser field="field" current-action="currentAction" plan="plan"></external-object-chooser>
    </div>

    <!-- Build Message Appender -->
    <div ng-if='field.type == "BuildMessageAppender"'>
        <build-message-appender current-action="currentAction" field='field' click='onClick' change='onChange' data-field-name='{{::field.name}}' is-disabled="plan.planState=='Executing' || isDisabled"></build-message-appender>
    </div>

    <!-- Add more configuration field templates below -->
    <!-- Validation Messages-->
    <div data-ng-if="field.errorMessage != null && field.errorMessage !==''" class="validationWraper">
        <span class="validation-Icon"></span><div class="validation-message">{{field.errorMessage}}</div>
    </div>
</div>