<div class='form-group'>
    <div ng-repeat="metaDescription in field.metaDescriptions">
        <div ng-repeat="control in metaDescriptions.controls">
            hey test
        </div>
    </div>
    <button style="margin-top: 15px;" class="btn btn-primary query-builder-add-button" ng-click="addTransition()" stop-click-propagation>Add Transition</button>
</div>