<div class='form-group'>
    <div ng-repeat="transition in field.transitions track by $index">
        <query-builder current-action="currentAction"
                       rows="transition.conditions"
                       is-disabled="false">
        </query-builder>

        <label class='control-label'>Select Operation</label>
        <drop-down-list-box current-action="currentAction" field='::(getOperationField(transition))' change='onOperationChange(transition)'></drop-down-list-box>

        <label ng-if="transition._dummySecondaryOperationDD" class='control-label'>{{transition._dummySecondaryOperationDD.label}}</label>
        <drop-down-list-box ng-if="transition._dummySecondaryOperationDD" current-action="currentAction" field='transition._dummySecondaryOperationDD' change='onTargetChange(transition)'></drop-down-list-box>
        
        <hr/>
    </div>

    <button style="margin-top: 15px;" class="btn btn-primary query-builder-add-button" ng-click="addTransition()" stop-click-propagation>Add Transition</button>
</div>