<ul class="page-breadcrumb breadcrumb hide"> <!-- BEGIN PAGE BREADCRUMB -->
    <li>
        <a href="#">Home</a><i class="fa fa-circle"></i>
    </li>
    <li class="active">
        Dashboard
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->

<div ng-controller="ContainerListController" class="margin-top-10">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green-haze hide"></i>
                        <span class="caption-subject font-green-haze bold uppercase">Containers</span>
                        <!--<span class="caption-helper hide">weekly stats...</span>-->
                    </div>
                </div>

                <div class="portlet-body">
                    <div ng-show="currentAccountContainers.length == 0">You have no container yet.</div>
                    <div class="table-scrollable table-scrollable-borderless">
                        <!--Note:: reused the class table-process-templates-->
                        <table datatable="ng" dt-options="dtOptionsBuilder" dt-column-defs="dtColumnDefs" class="row-border hover table table-hover table-light table-linkrows table-routes">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Plan Id</th>
                                    <th>Create Date</th>
                                    <th>Last Updated</th>
                                    <th>Name</th>
                                    <th>State</th>
                                    <!--<th>Current Plan Node Id</th>-->
                                    <!--<th style="text-align:right">Actions</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="container in currentAccountContainers" ng-click="goToContainerDetailsPage(container.id)">
                                    <td>{{ container.id }}</td>
                                    <td>{{ container.planId }}</td>
                                    <td>{{ container.createDate | datetime }}</td>
                                    <td>{{ container.lastUpdated | datetime }}</td>
                                    <td>{{ container.name }}</td>
                                    <td>
                                       <span>{{ container.state | State }}</span>
                                    </td>
                                    <!--<td>
                                        <div>
                                            <button type="button" class="btn btn-sm red">Execute</button>
                                            <button type="button" class="btn btn-sm red">Delete</button>
                                            <button type="button" class="btn btn-sm green">Edit</button>
                                        </div>
                                    </td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>

</div>
<!-- END MAIN CONTENT -->