<div class='form-group'>
    <div ng-repeat="transition in field.transitions">
        <query-builder current-action="currentAction"
                       rows="transition.conditions"
                       is-disabled="false">
        </query-builder>
    </div>

    <button class="btn btn-primary query-builder-add-button" ng-click="addTransition()" stop-click-propagation>Add Transition</button>
</div>