@*Counter control main container*@
<div class="counter-control">
    <a class="btn btn-link btn-sm" stop-click-propagation ng-click="increment()">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <input type="text" class="form-control text-center counter-input" stop-click-propagation ng-model="counterValue" tooltip="{{counterTooltip}}" tooltip-trigger="mouseenter" />
    <a class="btn btn-link btn-sm" stop-click-propagation ng-click="decrement()">
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
</div>