<div class="designer-header">
    <div class="process-template-name">{{route.name}}</div>
    <div class="btn-group">
        <label class="btn switch-btn" ng-model="route.routeState" btn-radio="1" ng-change="onStateChange()">Inactive</label>
        <label class="btn switch-btn" ng-model="route.routeState" btn-radio="2" ng-change="onStateChange()">Active</label>
    </div>
</div>
