<div class="designer-header container">
    <div class="designer-header-title col-md-8"><div class="process-template-name">{{route.name}}</div><input class="design-header-title-editField" type="text" ng-model="route.name" ng-blur="onTitleChange()"/><span class="glyphicon glyphicon-pencil designer-header-glyphicon" aria-hidden="true" ng-click="editTitle()"></span></div>
    <div class="designer-header-status col-md-4">
        <span class="designer-header-statusLabel">Status:</span><input type="checkbox" data-bootstrap-switch class="bootstrap-switch-checkbox" data-on-text="Active" data-off-text="Inactive" ng-model="route.routeState" ng-true-value="2" ng-false-value="1">
    </div>
</div>
