<div class="page-head designer-header container row">
    <div class="designer-header-title page-title" ng-class="{'design-header-title-editing': editing}">
        <h1 ng-if="!kioskMode">
            <div class="route-name" ng-click="editTitle()">{{plan.name}}</div><input class="design-header-title-editField" type="text" ng-model="plan.name" ng-blur="onTitleChange()" input-focus="editing"/>
            <span class="glyphicon glyphicon-pencil designer-header-glyphicon" aria-hidden="true" ng-click="editTitle()"></span>
        </h1>
        <h1 ng-if="kioskMode">
            <div class="route-name">{{plan.name}}</div>
        </h1>
    </div>
    <div class="designer-header-status" ng-if="!kioskMode">
        <span class="h4">
            <strong> 
                <span class="plan-state-text" ng-if="plan.planState === 2">{{plan.planState | PlanState}}</span>   
                <span ng-if="plan.planState === 1">Ready</span> 
                <span ng-if="plan.planState === 3">Saving Changes...</span>  
            </strong>
            <md-button ng-disabled="plan.planState === 3" class="md-icon-button" ng-click="runPlan()" ng-show="plan.planState === 1" event-run>
                <md-icon md-font-icon="fa-play" class="fa fa-2x" style="color:green"></md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="deactivatePlan()" ng-show="plan.planState === 2">
                <md-icon md-font-icon="fa fa-power-off" class="fa fa-2x"></md-icon>
            </md-button>
        </span>
    </div>
</div>