<div class="drop-down-list-box-container" ng-class="{'col-md-11': field.hasRefreshButton, 'insidemodal': inModal}"> 
    <!--Dropdownlistbox control main container-->
    <ui-select ng-model="selectedItem" theme="bootstrap" search-enabled="false" on-select="setSelectedItem($item)" ng-disabled="isDisabled" ng-click="toggleDropDown($select)" append-to-body="inModal">
        <ui-select-match placeholder="Select value from the list..." allow-clear>{{$select.selected.key || select.selected.Key || $select.selected}}</ui-select-match>
        <ui-select-choices repeat="listItem in field.listItems">
            <span title="{{ listItem.key || listItem.Key }}"  ng-bind-html="listItem.key || listItem.Key"></span>
        </ui-select-choices>
    </ui-select>
</div>
<i ng-click="reconfigure();" ng-if="field.hasRefreshButton" class="fa fa-refresh" style="float: left;margin-top: 5px; cursor: pointer;"></i>