@*RadioButtonGroup control main container*@
<div>  
    <div class="btn-group" dropdown is-open="isopen" ng-hide="!field.listItems || field.listItems.length < 1">
        <button id="single-button" type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
            {{selectedItem.key}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li role="menuitem" ng-repeat="listItem in field.listItems"><a href="#" ng-click="SetSelectedItem(listItem);">{{listItem.key}}</a></li>
        </ul>

    </div>
    <span ng-if="!field.listItems || field.listItems.length < 1">Dockyard couldn't find data to put into this list box. <a href="http://www.dockyard.company/messages/list_box_source1">more info</a></span>
</div>
