@*Duration control main container*@
<div>
    <label class="duration-control-label">{{::field.innerLabel}} </label>
    <counter counter-value="field.days" counter-tooltip="'Days'" min-value="0"></counter> :
    <counter counter-value="field.hours" counter-tooltip="'Hours'"></counter> :
    <counter counter-value="field.minutes" counter-tooltip="'Minutes'"></counter>
</div>
