@*Duration control main container*@
<div>
    <span class="duration-control-label">Choose duration: </span>
    <counter counter-value="field.days" counter-tooltip="'Days'" min-value="0"></counter>
    <counter counter-value="field.hours" counter-tooltip="'Hours'" min-value="0"></counter>
    <counter counter-value="field.minutes" counter-tooltip="'Minutes'" min-value="0"></counter>
</div>
