<div>
    <label>{{field.label}}:</label>
    <div>
        <button class="btn btn-default" ng-click="configure()">Select</button>
        <span ng-if="field.externalObjectName" style="padding-left: 5px;">Selected: {{field.externalObjectName}}</span>
    </div>
</div>
