<div>
    <label>{{field.label}}:</label>
    <div>
        <button class="btn btn-primary" ng-click="configure()">Select</button>
        <span ng-if="field.externalObjectName" style="padding-left: 5px;">{{field.externalObjectName}}</span>
    </div>
</div>
