<div>
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-5">Field</th>
                <th class="col-md-5">Value</th>
                <th class="col-md-2"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in rows track by $index">
            </tr>
        </tbody>
    </table>
    <div>
        <a href class="btn btn-primary" ng-click="addRow()">Add Row</a>
    </div>
</div>
