<div ng-controller="FileDetailsController">
    <h1>{{file.originalFileName}}</h1>
    <div><strong>Id :</strong> {{file.id}}</div>
    <div><strong>Cloud Storage Url :</strong> {{file.cloudStorageUrl}}</div>
</div>