@*File upload control main container*@
<div>
    @*
    <div class='button' ngf-select ng-model='file' name='pca__chk__{{field.name}}' id='pca__chk__{{field.name}}'
         accept='{{accept}}' ngf-max-size='20MB' ngf-min-height='100'>Select File</div>
    *@
    <div style="background-color: orange; cursor: pointer; margin-bottom: 15px; margin-top: 15px;" class='button' ngf-select="OnFileSelect($file)" ng-model='file' name='pca__chk__test' id='pca__chk__test'
         accept='.xls,.xlsx' ngf-max-size='20MB' ngf-min-height='100'>Select File</div>
    
    <button ng-click="ListExistingFiles()">List Existing Files</button>
    
    <button ng-click="Save()">Save</button>
    @*This input holds ID of uploaded or selected FileDO
    <input type="hidden" ng-model='field.value' ng-required='field.required' />*@
    <input type="hidden" ng-model='data' ng-required='true' />
    
    <script type="text/ng-template" id="fileSelectorModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Please select a file below</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li style="cursor:pointer; background-color: orange;" ng-repeat="file in files" ng-click="selectFile(file)">{{file.originalFileName}}</li>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
