<form>
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio"
                       name="executionType"
                       value="1"
                       ng-model="executionType" />
                <span>Filter conditions are met</span>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio"
                       name="executionType"
                       value="2"
                       ng-model="executionType" />
                <span>No criteria - just execute the actions!</span>
            </label>
        </div>
    </div>

    <div class="form-group">
        <query-builder-widget fields="field.fields"
                              current-action="currentAction"
                              rows="conditions"
                              operators="operators"
                              default-operator="defaultOperator"
                              ng-show="executionType == 1">
        </query-builder-widget>
    </div>
</form>