<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb hide">
    <li>
        <a href="#">Home</a><i class="fa fa-circle"></i>
    </li>
    <li class="active">
        Creating Find Objects route
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="margin-top-10">
    <div class="row" ng-controller="FindObjectsController">
        Please, wait while Find Objects route is created...
    </div>
</div>
<!-- END MAIN CONTENT -->