



    <form>  
        
        <div class="find-all" ng-controller="ProcessBuilderController">
            <div class="form-group">
                <label>Find all</label>
                <select ng-model="objtype" ng-change="getobjecttype(objtype)">
                    <option value="">Select Object Type</option>
                    <option value="01">Actions</option>
                    <option value="02">ProcessTemplates</option>


                </select>
            </div>
            <div class="fomr-heading">
                <h2>That meet these conditions:</h2>
            </div>
        </div>
            
        
           
        <div class="form-group">
            <general-search-widget fields="fields"
                                   current-action="currentAction"
                                   rows="conditions"
                                   operators="operators"
                                   default-operator="defaultOperator">
            </general-search-widget>
        </div>
       
    </form>