<div>    
    <div class="quiery-builder" ng-controller="ProcessBuilderController">
        
        <table class="table query-builder-table">
            <thead>
                <tr>
                    <th class="col-md-5">Field</th>
                    <th class="col-md-3">Operator</th>
                    <th class="col-md-3">Value</th>
                    <th class="col-md-1"></th>
                </tr>
            </thead>
            <tbody>
                @*<tr ng-repeat="row in rows track by $index">*@
                    <tr>
                    <td>
                        <select class="form-control" ng-model="CreateDate" ng-change="getobjectdaterows(CreateDate,operator,datevalue)">
                            <option value="">Select a Field</option>
                            <option value="01">CreateDate</option>
                            @*<option value="02">Id</option>*@


                        </select>
                    </td>
                    <td>
                        <select class="form-control" ng-options="op.value as op.text for op in operators" ng-model="operator" ng-change="getobjectdaterows(CreateDate,operator,datevalue)">
                            <option value="">Select an Operator</option>

                        </select>
                    </td>
                    <td>
                        <div>
                            <input type="text"
                                   class="form-control"
                                   ng-required="true"
                                   ng-model="datevalue"
                                 
                                   ng-blur="getobjectdaterows(CreateDate,operator,datevalue)" />
                        </div>
                    </td>
                    @*<td>
                        <a href title="Delete filter rule"
                           class="btn btn-danger"
                           ng-show="rows.length > 1"
                           ng-click="removeRow($index)"
                           ng-disabled="isDisabled">
                            Delete
                        </a>
                    </td>*@
                </tr>


               <tr>
                    <td>
                        <select class="form-control" ng-model="id" ng-change="getobjectidrows(id,idoperator,idvalue)">
                            <option value="">Select a Field</option>
                            @*<option value="01">CreateDate</option>*@
                            <option value="02">Id</option>


                        </select>
                    </td>
                    <td>
                        <select class="form-control" ng-options="op.value as op.text for op in operators" ng-model="idoperator" ng-change="getobjectidrows(id,idoperator,idvalue)">
                            <option value="">Select an Operator</option>


                        </select>

                    </td>
                    <td>
                        <div>
                            <input type="text"
                                   class="form-control"
                                   ng-required="true"
                                   ng-model="idvalue"                                 
                                   ng-blur="getobjectidrows(id,idoperator,idvalue)" />
                        </div>
                    </td>
                    @*<td>
                        <a href title="Delete filter rule"
                           class="btn btn-danger"
                           ng-show="rows.length > 1"
                           ng-click="removeRow($index)"
                           ng-disabled="isDisabled">
                            Delete
                        </a>
                    </td>*@
                </tr>
            </tbody>
        </table>
        @*<div>
            <a href class="btn btn-primary query-builder-add-button" ng-click="addRow()" ng-disabled="isDisabled">Add Row</a>
        </div><br />*@

    </div>
</div>
