<div data-ng-controller="HeaderController">
    <div ng-class="{planBuilderHeader:showPlanBuilderHeader}">
        <div ng-if="showPlanBuilderHeader" style="padding-bottom: 51px;"></div>
        <div ng-if="!showPlanBuilderHeader" style="padding-bottom: 115px;"></div>
        <div  class="page-header" style="position: fixed; z-index: 1025; top: 0px; right: 0; left: 0">
            <div class="page-header-top">
                <!-- Header Top -->
                <div class="container">
                    <!-- Logo -->
                    <div ng-if="!showPlanBuilderHeader" class="page-logo">
                        <a href="/"> <img src="/Content/img/dockyard_logo.png" alt="logo" class="logo-default"> </a>
                        <!-- Beta Sticker -->
                        <div class="page-sticker">
                            <p>beta</p>
                        </div>
                    </div>

                    <!-- Responsive Menu Toggler -->
                    <a href="javascript:;" class="menu-toggler"></a>
                    
                    <!-- Top Navigation Menu -->
                    <div ng-if="!showPlanBuilderHeader" class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <!-- User Login Droprown -->
                            @using Data.States
                            @using HubWeb.Infrastructure_HubWeb
                            @using Microsoft.AspNet.Identity
                            @if (Request.IsAuthenticated)
                            {
                                <li class="dropdown dropdown-user dropdown-dark">
                                    <a href="javascript:;" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                                        <span class="username username-hide-mobile">
                                            Hello
                                            @if (User.IsInRole("Guest"))
                                            {
                                                <text>Guest User!</text>
                                            }
                                            else
                                            {
                                                <text>@User.Identity.GetUserName() !</text>
                                            }
                                        </span>
                                    </a>
                                    @if (!User.IsInRole("Guest"))
                                    {
                                        <ul class="dropdown-menu dropdown-menu-default">
                                            <li>
                                                <a ui-sref="myaccount">
                                                    <i class="icon-user"></i> My Plans
                                                </a>
                                            </li>
                                            <li>
                                                <a ui-sref="changePassword">
                                                    <i class="icon-key"></i> Change Password
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Account/Logoff">
                                                    <i class="icon-key"></i> Log Out
                                                </a>
                                            </li>
                                        </ul>
                                    }
                                </li>
                                if (@User.IsInRole("Guest"))
                                {
                                    <li class="have-account-login-guest visible-lg visible-md visible-sm">
                                        <a href="/Account/Logoff">
                                            <span>Have an Account? Login</span>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Header Menu -->
            @Html.Partial("HeaderNav")
        </div>
    </div>
</div>

