<div class="row" ng-controller="KioskModeOrganizationHeaderController" style="height:100%; margin-left: 0px !important; margin-right: 0px !important;margin-bottom: 1px;">
    <div style="background-color:{{backgroundColor}}; height:75px;line-height: 75px; white-space:nowrap">
        <div style="float:left;padding-left:10px">
            <img data-ng-src="{{logoUrl}}" style="height:30px" />
        </div>
        <div style="color:white;font-size:21px;padding-left:15px; float: left;font-family: MavenPro;">
            <span>{{name}}</span>
        </div>
    </div>
</div>