<div class="row" ng-controller="KioskModeOrganizationHeaderController" style="height:100%">
    <div style="background-color:{{backgroundColor}}; height:130px">
        <div style="padding:10px;float:left;margin-left:20px">
            <img data-ng-src="{{logoUrl}}" style="height:110px" />
        </div>
        <div style="color:white;font-size:60px;margin-left:20px;padding-top:10px">
            <span>{{name}}</span>
        </div>
    </div>
</div>