<div style="display: flex">
    <div class="flexable-content" resizable r-directions="['right']">
        <div style="min-height: 700px">
            <!-- BEGIN ACTUAL CONTENT -->
            <div ui-view>

            </div>
            <!-- END ACTUAL CONTENT -->
        </div>
    </div>
    <div class="activity-stream-flex">
        <div data-ng-include="'/AngularTemplate/ActivityStream'"></div>
    </div>
</div>