<div block-if="isBusy()" stop-click-propagation style="padding: 10px;">
    <div ng-show="error">{{error}}</div>
    <a href class="btn btn-primary" ng-click="runNow()">Run Now</a>

    <div style="margin-top: 30px;">
        <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" ng-model="saveRouteName" />
        </div>
        <a href class="btn btn-primary" ng-click="saveRoute()">Save for future use</a>
    </div>

    <div style="margin-top: 30px;" ng-show="copySuccess">
        Saved to &laquo;<a href="/Dashboard#/processes/{{copySuccess.id}}/builder" target="_blank">{{copySuccess.name}}</a>&raquo; route.
    </div>
</div>
