<div class="portlet light">
    <div class="row" ng-if="showHeading()">
        <div class="col-md-6 text-center">
            <h4 class="bold">Source Data</h4>
        </div>
        <div class="col-md-6 text-center ">
            <h4 class="bold">Target Data</h4>
        </div>
    </div>
    <div ng-show="dataItems.length > 0">
        <div class="row margin-top-15" ng-repeat="dataItem in dataItems">
            <div class="col-md-6">
                <select ng-model="dataItem.selectedSource" class="form-control"
                        ng-options="source.Key as source.Key for source in dataItem.sources"
                        ng-change="uiDropDownChanged()" stop-click-propagation>
                    <option value="">Select Document Field</option>
                </select>
            </div>
            <div class="col-md-6">
                <select ng-model="dataItem.selectedTarget" class="form-control"
                        ng-options="target.Value as target.Key for target in dataItem.targets"
                        ng-change="uiDropDownChanged()" stop-click-propagation>
                    <option value="">Select Document Field</option>
                </select>
            </div>
        </div>
    </div>
</div>
