<div class='form-group'>
    <div ng-repeat="metaDescription in field.metaDescriptions track by $index" style="margin-bottom: 10px;">
        <md-divider></md-divider>
        <div class="row" style="margin-right: 0px;">
            <div class="col-md-10">
                <h5 style="font-weight: bold;">{{metaDescription.description}}{{getIndex(metaDescription)}}</h5> 
            </div>
            <div class="col-md-2">
                <img style="margin-top: 10px; float: right;" src="/Content/img/PlanBuilder/delete-icon.png" width="15" height="15"
                     ng-click="removeMetaDescription($index)"
                     class="query-builder-delete-button"/>
            </div>
        </div>

        <div ng-repeat="control in metaDescription.controls" style="margin-top: 5px;">
            <delayed-control plan="plan" current-action="currentAction" field="control" change="change"/>
        </div>
    </div>
    <div class="col-md-12" style="padding-left: 0px;">
        <md-divider></md-divider>
        <button style="margin-top: 15px; margin-left: 0px;" class="btn btn-primary query-builder-add-button" fr8-click="addControl()">Add UI Control</button>
    </div>
</div>
<script type="text/ng-template" id="TextTemplate-ControlContainerSelectionModal">
    <div class="modal-header">
        <h3 class="modal-title">Select Control</h3>
    </div>
    <div class="modal-body">
        <div class="list-group">
            <a href="#" class="list-group-item" ng-repeat="control in metaDescriptions" ng-click="selectControl(control)">
                {{control.description}}
            </a>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="cancel()">Close</button>
    </div>
</script>