<div class="plan-builder-header">
    <div style="padding-bottom: 51px;"></div>
    <div class="page-header" style="position: fixed; z-index: 1025; top: 0px; right: 0; left: 0">
        <div class="page-header-top">
            <div class="container">
                <a href="javascript:;" class="menu-toggler"></a>
            </div>
        </div>
        <!-- BEGIN HEADER MENU -->
        @Html.Partial("HeaderNav")
        <!-- END HEADER MENU -->
    </div>
</div>