<div style="padding-bottom: 51px;"></div>
<div data-ng-controller="HeaderController" class="page-header" style="position: fixed; z-index: 1025; top: 0px; right: 0; left: 0">

    <!-- BEGIN HEADER MENU -->
   @Html.Partial("HeaderNav")
    <!-- END HEADER MENU -->
</div>