@using Utilities
<ul class="page-breadcrumb breadcrumb hide">
    <!-- BEGIN PAGE BREADCRUMB -->
    <li>
        <a href="#">Home</a><i class="fa fa-circle"></i>
    </li>
    <li class="active">
        Dashboard
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->

<div ng-controller="PlanListController" class="margin-top-10" id="nav-tables">
    <div class="row" style="margin:10px">
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="My Plans">
                    <md-content class="md-padding">
                        <div id="Myfr8lines">
                            <h3>My Plans <a ui-sref="planForm" class="btn green route-list-header-button">Add Plan</a></h3>

                            @Html.Partial("_PlanList")

                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Settings">
                    <md-content class="md-padding">
                        <div id="Myfr8lines">
                            <p>Account ID : @User.Identity.Name</p>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Organization" ng-if="doesOrganizationExists">
                    <md-content class="md-padding">
                        <div id="Myfr8lines">
                            @Html.Partial("Organization")
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>
<!-- END MAIN CONTENT -->

<script type="text/javascript">
    $(document).ready(function () {
        $(".left-pills li").click(function () {
            $(".left-pills li").removeClass("active");
            // $(".tab").addClass("active"); // instead of this do the below
            $(this).addClass("active");
        });
    });
    windows.onLoad = function () {
        window.analytics = window.analytics || [], window.analytics.methods = ["identify", "group", "track", "page", "pageview", "alias", "ready", "on", "once", "off", "trackLink", "trackForm", "trackClick", "trackSubmit"], window.analytics.factory = function (t) {
            return function () {
                var a = Array.prototype.slice.call(arguments);
                return a.unshift(t), window.analytics.push(a), window.analytics;
            };
        };
        for (var i = 0; i < window.analytics.methods.length; i++) {
            var key = window.analytics.methods[i];
            window.analytics[key] = window.analytics.factory(key);
        }
        window.analytics.load = function (t) {
            if (!document.getElementById("analytics-js")) {
                var a = document.createElement("script");
                a.type = "text/javascript", a.id = "analytics-js", a.async = !0, a.src = ("https:" === document.location.protocol ? "https://" : "http://") + "cdn.segment.io/analytics.js/v1/" + t + "/analytics.min.js";
                var n = document.getElementsByTagName("script")[0];
                n.parentNode.insertBefore(a, n);
            }
        }, window.analytics.SNIPPET_VERSION = "2.0.9",
            window.analytics.load("@(new ConfigRepository().Get("SegmentWriteKey"))");
        window.analytics.page('Plan Dashboard');
        var btnRunPlanFromPlanBuilder = document.getElementById("btnRunPlanFromPlanBuilder");
        window.analytics.trackLink(btnRunPlanFromPlanBuilder, "Clicked Run Plan Button");
        var btnRunPlanFromPlanDashboard = document.getElementById("btnRunPlanFromPlanDashboard");
        window.analytics.trackLink(btnRunPlanFromPlanDashboard, "Clicked Run Plan Button");
    }
</script>