<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb hide">
	<li>
		<a href="#">Home</a><i class="fa fa-circle"></i>
	</li>
	<li class="active">
		Dashboard
	</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->

<div ng-controller="RouteListController" class="margin-top-10" id="nav-tables">
	<div class="row" ng-init="isFr = true;">
		<div class="col-md-2 col-sm-2 remove-padding">
			<div class="left-pills">
				<ul>
					<li class="active" ng-click="isFr = true;"><a data-toggle="pill">My Plans</a></li>
					<li ng-click="isFr = false;"><a data-toggle="pill">Settings</a></li>
				</ul>
			</div>
		</div>

		<div class="col-md-10 col-sm-10 remove-left-padding">
			<div class="tab-content" id="inner-tab-content">
				<div id="Myfr8lines" ng-show="isFr">
					<h3>My Plans <a href="#routes/add" class="btn green route-list-header-button">Add Plan</a></h3>

					@Html.Partial("_RouteList")

					@Html.Partial("_DeleteRouteModal")
				</div>
				<div id="Setting" ng-show="!isFr">
					<h3>Settings</h3>
					<p>Account ID : @User.Identity.Name</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="etc-space"></div>
<!-- END MAIN CONTENT -->

<script>
	$(document).ready(function () {
		$(".left-pills li").click(function () {
			$(".left-pills li").removeClass("active");
			// $(".tab").addClass("active"); // instead of this do the below
			$(this).addClass("active");
		});
	});
</script>