<div ng-controller="OrganizationController">
    <md-content layout-padding class="col-md-6">
        <div>
            <form>
                <div>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Organization Name</label>
                        <input ng-model="name">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Theme Name</label>
                        <input ng-model="themeName">
                    </md-input-container>
                    <label>Background Color</label>
                    <div md-color-picker="scopeVariable.options" ng-model="backgroundColor" style="color:black"></div>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Logo</label>
                        <div style="margin-top:30px;margin-left:10px">
                            <span class="file-info">{{logoUrl == null ? 'No file selected' : logoUrl|formatInput}}</span>
                            <img data-ng-src="{{logoUrl}}" id="photo-id" style="width:150px" />
                        </div>
                        <md-button class="btn-upload" ngf-select="OnFileSelect($file)"
                                   accept='.png,.jpeg,.jpg' ngf-max-size='20MB' ngf-min-height='100'>Select File</md-button>
                    </md-input-container>
                </div>
            </form>
        </div>
        <div>{{message}}</div>
        <md-button class="btn-primary" ng-click="updateOrganization()">Save</md-button>
    </md-content>
</div>