<div ng-controller="PageDefinitionListController">
    <div class="row" style="margin-bottom: 24px;">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green-haze hide"></i>
                        <span class="caption-subject font-green-haze bold uppercase">Page Definitions</span>
                    </div>
                    <div class="actions">
                        <a class="btn green" ng-click="showAddPageDefinitionModal()" href="#">Add Page Definition</a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div ng-show="pageDefinitions.length == 0" class="ng-hide">No page definitions found.</div>
                    <div ng-show="pageDefinitions.length > 0">
                        <table datatable="ng" class="row-border hover">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Tags</th>
                                <th>Page Name</th>
                                <th>Link</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="pageDefinition in pageDefinitions">
                                <td ng-click="showModalWithPopulatedValues(pageDefinition)" style="cursor: pointer;">{{pageDefinition.id }}</td>
                                <td ng-click="showModalWithPopulatedValues(pageDefinition)" style="cursor: pointer;">{{pageDefinition.title }}</td>
                                <td ng-click="showModalWithPopulatedValues(pageDefinition)" style="cursor: pointer;">{{pageDefinition.tags }}</td>
                                <td ng-click="showModalWithPopulatedValues(pageDefinition)" style="cursor: pointer;">{{pageDefinition.pageName }}</td>
                                <td><a ng-href="{{pageDefinition.url}}" target="_blank">Show</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="pageDefinitionFormModal">
        <form role="form" ng-submit="submit(form.$valid)" name="form" novalidate>

            <div class="modal-header">
                <h3 class="modal-title">Add Page Definition</h3>
            </div>

            <div class="modal-body">
                <div class="alert alert-danger" ng-show="form.$submitted && !form.$valid">
                    Some fields do not contain correct data. Please check below.
                </div>
                <div class="alert alert-danger" ng-show="errorMessage != null">
                    {{errorMessage}}
                </div>
                <div class="form-group">
                    <label class="control-label">Title</label>
                    <input type="text" name="title" placeholder="" maxlength="100" class="form-control" ng-model="pageDefinition.title" required />
                </div>
                <div class="form-group">
                    <label class="control-label">Tags</label>
                    <input type="text" name="tags" placeholder="" maxlength="100" class="form-control" ng-model="pageDefinition.tags" required />
                </div>                
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <input type="text" name="description" placeholder="" maxlength="100" class="form-control" ng-model="pageDefinition.description"/>
                </div>               
                <div class="form-group">
                    <label class="control-label">Page Name</label>
                    <input type="text" name="pageName" placeholder="" disabled="disabled" maxlength="100" class="form-control" ng-model="pageDefinition.pageName" />
                </div>
                @*<div class="form-group">
                    <label class="control-label">Url</label>                    
                    <input type="text" name="url" placeholder="" maxlength="100" class="form-control" ng-model="pageDefinition.url" required />
                </div>*@
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" ng-disabled="!form.$valid">Ok</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>

        </form>
    </script>
</div>