<div class="portlet light " ng-if="isVisible">
    <div class="portlet-title">
        <div class="caption caption-md">
            <i class="icon-bar-chart font-green-haze hide"></i>
            <span class="caption-subject font-green-haze bold uppercase">Configure Action</span>
        </div>
    </div>
    <div ng-repeat="field in currentAction.configurationStore.fields">
        <configuration-field field="field" />
    </div>
    <div>
        <button class="btn btn-primary" ng-click="mapFields(this)">Map Fields</button>
    </div>
    <file-picker accept="*.xls,*.xlsx"></file-picker>
</div>
