<div class="portlet light " ng-show="isVisible">
    <div class="portlet-title">
        <div class="caption caption-md">
            <i class="icon-bar-chart font-green-haze hide"></i>
            <span class="caption-subject font-green-haze bold uppercase">Configure Action</span>
        </div>
    </div>
    <div class="portlet-body field-placeholder">
    </div>
</div>
