<div class="portlet light " ng-show="isVisible">
    <div class="portlet-title">
        <div class="caption caption-md">
            <i class="icon-bar-chart font-green-haze hide"></i>
            <span class="caption-subject font-green-haze bold uppercase">Select Action</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="form-group">
            <a href class="btn btn-danger" ng-hide="currentAction.isTempId" ng-click="RemoveAction()">Remove action</a>
        </div>
        <div class="form-group">
            <select ng-model="currentAction.actionTemplateId" class="form-control" ng-change="ActionTypeSelected()"
                    ng-options="actionType.id as actionType.name for actionType in actionTypes">
                <option value="">Select Action Type</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" class="form-control form-control-focus" ng-model-options="{ updateOn: 'blur'}"
                   required size="20" maxlength="20" ng-model="currentAction.name" />
        </div>
        <div class="form-group" ng-if="componentActivities">
            <span class="bold">Steps</span>
            <span ng-class="activity.id==childActivity.actionTemplateId ? 'processActionStepSelected' : 'processActionStep'" ng-repeat="activity in componentActivities" ng-click="ChildActivityTypeSelected(activity.id)">
                {{$index+1}}

                <img ng-if="!$last" class="processActionStepsRightArrow" src="~/Content/img/ProcessBuilder/right-arrow.png" />
            </span>
        </div>       
    </div>
</div>
