

<div class="portlet light " ng-repeat="actionParam in actionParams" >
    <div class="row">
        <div class="caption caption-md">
            <select ng-model="action.actionTypeId" class="form-control" 
                    ng-options="docField.name for docuField in docFields">
                <option value="">Select Document Field</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">actionParam.Name</label>
        </div>
    </div>
</div>
