<div id="ap-pane" class="pane-configure-action" block-if="processing === true" ng-click="reloadConfiguration()" ui-blocker active="plan.planState=='Executing' || plan.planState=='Active'" plan="plan">
    <div ng-if="!(myActivityTemplate.category==='Solution' && mode !== 'solution')">
        <div ng-if="!currentAction.currentView" ng-repeat="field in currentAction.configurationControls.fields">
            <configuration-control plan="plan" sub-plan="subPlan" current-action="currentAction" field="field" ng-if="!field.isHidden"/>
        </div>
        <div ng-if="currentAction.currentView">
            <div ng-repeat="field in currentAction.configurationControls.fields">
                <configuration-control plan="plan" sub-plan="subPlan" current-action="currentAction" field="field" ng-if="!field.isHidden && field.fieldLabel==currentAction.currentView"/>
            </div>
        </div>
    </div>
    <div class="pane-configure-action-returnToSolution" ng-if="myActivityTemplate.category==='Solution' && mode !== 'solution'" ng-init="populateAllActivities()">
        <label ng-if="allActivities.length != 0">This solution has {{allActivities.length}} {{allActivities.length > 1 ? "parts" : "part"}}: </label>
        <div class="solution-parts">
            <label ng-repeat="childEnvelope in allActivities">
                {{$index +1}}. {{childEnvelope.activityTemplate.label}}
            </label>
        </div>
    </div>
    <div class="return-to-solution-container" ng-if="myActivityTemplate.category==='Solution' && mode !== 'solution'">
        <a stop-click-propagation ng-click="setSolutionMode()">
            <span class="return-to-solution">Return to Solution Introduction</span>
        </a>
    </div>
</div>

