@{
    Layout = null;
}

<div class="col-md-6 col-sm-6">
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption caption-md">
                <i class="icon-bar-chart font-green-haze hide"></i>
                <span class="caption-subject font-green-haze bold uppercase">Select Action</span>
            </div>
        </div>
        <div class="portlet-body">
            Select action
        </div>
    </div>
</div>
