<div class="modal-header">
    <h3 class="modal-title">Select an Action</h3>
</div>
<div class="modal-body">
    <table class="select-action-category" ng-repeat="category in activityCategories">
        <thead>
            <tr><th>{{category.name}}</th></tr>
        </thead>
        <tbody>
            <tr class="select-action-list2" ng-repeat="activity in category.activities" >
                <td class="select-action-row2" ng-click="activityTypeSelected(activity)">
                    {{activity.label}}
                </td>
            </tr>
        </tbody>        
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>