<div ng-controller="PlanDetailsController">
    <div class="form-group">
        <a ui-sref="^.planBuilder({ id: id })" class="btn btn-sm green">Edit</a>
    </div>
    <pre>{{ptvm | json}}</pre>
</div>