<div class="modal-header">
    <h3 class="modal-title">Load plan from JSON file</h3>
</div>
<form name="loadPlan" ng-submit="loadPlan()">
    <div class="modal-body clearfix">
        <div class="col-xs-12">
            <md-input-container class="fr8-full-width">
                <label>Plan name</label>
                <input name="planName" required>
            </md-input-container>    
        </div>
        <div class="col-xs-12">
            <md-button class="md-raised">
                Chose .JSON file to upload
                <input type="file" style="opacity: 0; display: block; position: absolute; left: 0; right: 0; top: 0;bottom: 0" name="planFile" required accept=".json">
            </md-button>    
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Load plan</button>
        <button class="btn btn-warning" type="reset" ng-click="cancel()">Cancel</button>
    </div>
</form>
