<!-- BEGIN MAIN CONTENT -->
<div ng-controller="PlanBuilderController" class="margin-top-25" block-if="isBusy()">
    <designer-header ng-show="current.plan" plan="current.plan" kiosk-mode="true"></designer-header>
    <div ng-if="editingMode=='advanced'" class="col-md-12" style="border-bottom: 1px solid; margin-bottom: 10px;"></div>
    <div class="plan-loading-message" block-if="current.plan"></div>
    <div ng-repeat="pSubPlan in processedSubPlans | filter: hasAnyActivity">
        <div class="route-builder-container" layout-container>
            <div ng-repeat="group in pSubPlan.actionGroups" layout-action-group class="action-group" ng-style="{left: group.offsetLeft, top: group.offsetTop}">
                <div ng-if="mode !== 'solution' || $index === 0">
                    <div class="action-arrow-bottom" ng-style="{top: -group.arrowLength - 60, height: group.arrowLength + 35, left: group.arrowOffsetLeft}"></div>
                    <div style="display: inline-block;">
                        <div ng-repeat="envelope in group.envelopes track by $index">
                            <div class="action" ng-class="{'solution-action': envelope.activity.activityTemplate.category==='Solution'  && mode !== 'solution'}" layout-action>
                                <div activity-resize minwidth="{{envelope.activity.activityTemplate.minPaneWidth}}" class="ap-resize">
                                    <md-toolbar class="action-header solution-action-header" dropdown transfer-click-configure-pane>
                                        <div class="md-toolbar-tools">
                                            <div class="action-header-icon" style="display:flex">
                                                <img ng-src="{{envelope.activity.activityTemplate.webService.iconPath}}" ng-if="envelope.activity.activityTemplate.webService.iconPath" />
                                            </div>
                                            <h2>
                                                <span>{{envelope.activity.label}}</span>
                                            </h2>
                                        </div>
                                    </md-toolbar>
                                    <div>
                                        <pane-configure-action view="{{view}}" plan="current.plan" id="paneConfigureAction" current-action="envelope.activity" mode="mode"></pane-configure-action>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="!$last" class="action-arrow-right"></div>
                            <div ng-if="$last" style="display: inline-block; height: 50px; margin: 84px 10px 0 7px; width: 1px;"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <hr class="transition-seperator" ng-if="processedSubPlans.length > 1"/>
    </div>
</div>
