@{
    Layout = null;
}

<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb hide">
    <li>
        <a href="#">Home</a><i class="fa fa-circle"></i>
    </li>
    <li class="active">
        Dashboard
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="ProcessTemplatesController" class="margin-top-10">
    <div class="note note-success note-bordered" ng-show="$root.lastResult === 'success'">
        <h3>Success!<span class="close" data-close="note"></span></h3>
        <p>
            Operation has completed successfuly.
        </p>
        </p>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green-haze hide"></i>
                        <span class="caption-subject font-green-haze bold uppercase">All Processes</span>
                        <span class="caption-helper hide">weekly stats...</span>
                    </div>
                    <div class="actions">
                        <a href="#processes/add" class="btn green">Add New</a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div ng-show="ptvms.length == 0">You have no processes yet.</div>
                    <div class="table-scrollable table-scrollable-borderless" ng-show="ptvms.length > 0">
                        <table class="table table-hover table-light table-linkrows table-process-templates">
                            <thead>
                                <tr>
                                    <th width="30%">
                                        Name
                                    </th>
                                    <th width="40%">
                                        Description
                                    </th>
                                    <th width="15%">
                                        Status
                                    </th>
                                    <th width="15%"></th>
                                </tr>
                            </thead>
                            <tr ng-repeat="pt in ptvms" ng-click="nav(pt)">
                                <td>
                                    {{pt.Name}}
                                </td>
                                <td>
                                    {{pt.Description}}
                                </td>
                                <td>
                                    <span class="bold font-green-haze">{{pt.ProcessState|ProcessTemplateState}}</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm red" ng-click="remove(pt); $event.stopPropagation();">Delete</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green-haze hide"></i>
                        <span class="caption-subject font-green-haze bold uppercase">Process Activity Report</span>
                        <span class="caption-helper hide">weekly stats...</span>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                            <label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
                                <input type="radio" name="options" class="toggle" id="option1">Today
                            </label>
                            <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                                <input type="radio" name="options" class="toggle" id="option2">Week
                            </label>
                            <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                                <input type="radio" name="options" class="toggle" id="option2">Month
                            </label>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row list-separated">
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="font-grey-mint font-sm">
                                Total Processes
                            </div>
                            <div class="uppercase font-hg font-red-flamingo">
                                13,760 <span class="font-lg font-grey-mint"></span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="font-grey-mint font-sm">
                                Signatures
                            </div>
                            <div class="uppercase font-hg font-green-haze">
                                4,760 <span class="font-lg font-grey-mint"></span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="font-grey-mint font-sm">
                                Requests
                            </div>
                            <div class="uppercase font-hg font-purple">
                                11,760 <span class="font-lg font-grey-mint"></span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="font-grey-mint font-sm">
                                Actions
                            </div>
                            <div class="uppercase font-hg font-blue-sharp">
                                9,760 <span class="font-lg font-grey-mint"></span>
                            </div>
                        </div>
                    </div>
                    <ul class="list-separated list-inline-xs hide">
                        <li>
                            <div class="font-grey-mint font-sm">
                                Total Processes
                            </div>
                            <div class="uppercase font-hg font-red-flamingo">
                                13,760 <span class="font-lg font-grey-mint"></span>
                            </div>
                        </li>
                        <li>
                        </li>
                        <li class="border">
                            <div class="font-grey-mint font-sm">
                                Signatures
                            </div>
                            <div class="uppercase font-hg font-green-haze">
                                4,760 <span class="font-lg font-grey-mint"></span>
                            </div>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <div class="font-grey-mint font-sm">
                                Requests
                            </div>
                            <div class="uppercase font-hg font-purple">
                                11,760 <span class="font-lg font-grey-mint"></span>
                            </div>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <div class="font-grey-mint font-sm">
                                Actions
                            </div>
                            <div class="uppercase font-hg font-blue-sharp">
                                9,760 <span class="font-lg font-grey-mint"></span>
                            </div>
                        </li>
                    </ul>
                    <div id="sales_statistics" class="portlet-body-morris-fit morris-chart" style="height: 260px">
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>

    <script type="text/ng-template" id="modalDeleteConfirmation">
        <div class="modal-header">
            <h3 class="modal-title">Delete Confirmation</h3>
        </div>
        <div class="modal-body">
            Are you sure that you wish to delete this Process Template?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    Index.init();
    Tasks.initDashboardWidget();
</script>
<!-- BEGIN MAIN JS & CSS -->
