<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb hide">
    <li>
        <a href="#">Home</a><i class="fa fa-circle"></i>
    </li>
    <li class="active">
        Dashboard
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->

<div ng-controller="ProcessTemplateListController" class="margin-top-10">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green-haze hide"></i>
                        <span class="caption-subject font-green-haze bold uppercase">All Processes</span>
                        <span class="caption-helper hide">weekly stats...</span>
                    </div>
                    <div class="actions">
                        <a href="#processes/add" class="btn green">Add New</a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div ng-show="ptvms.length == 0">You have no processes yet.</div>
                    <div class="table-scrollable table-scrollable-borderless">
                        <table datatable="ng" dt-options="dtOptionsBuilder" dt-column-defs="dtColumnDefs" class="row-border hover table table-hover table-light table-linkrows table-process-templates">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th style="text-align:right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="processTemplate in processTemplates">
                                    <td>{{ processTemplate.name }}</td>
                                    <td>{{ processTemplate.description }}</td>
                                    <td>
                                        <span ng-if="processTemplate.ProcessTemplateState == 1" class="bold font-green-haze">Inactive</span>
                                        <span ng-if="processTemplate.ProcessTemplateState != 1" class="bold font-green-haze">Active</span>
                                    </td>
                                    <td>
                                        <div>
                                            <button type="button" class="btn btn-sm red" ng-click="executeProcessTemplate(processTemplate.id);">Execute</button>
                                            <button type="button" class="btn btn-sm red" ng-click="deleteProcessTemplate(processTemplate.id);">Delete</button>
                                            <button type="button" class="btn btn-sm green" ng-click="goToProcessTemplatePage(processTemplate.id);">Edit</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>

    <script type="text/ng-template" id="modalDeleteConfirmation">
        <div class="modal-header">
            <h3 class="modal-title">Delete Confirmation</h3>
        </div>
        <div class="modal-body">
            Are you sure that you wish to delete this Process Template?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    
</div>
<!-- END MAIN CONTENT -->