<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb hide">
    <li>
        <a href="#">Home</a><i class="fa fa-circle"></i>
    </li>
    <li class="active">
        Dashboard
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->

<div ng-controller="ProcessTemplateListController" class="margin-top-10">
    <div class="note note-success note-bordered" ng-show="$root.lastResult === 'success'">
        <h3>Success!<span class="close" data-close="note"></span></h3>
        <p>
            Operation has completed successfuly.
        </p>
        </p>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green-haze hide"></i>
                        <span class="caption-subject font-green-haze bold uppercase">All Processes</span>
                        <span class="caption-helper hide">weekly stats...</span>
                    </div>
                    <div class="actions">
                        <a href="#processes/add" class="btn green">Add New</a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div ng-show="ptvms.length == 0">You have no processes yet.</div>
                    <div class="table-scrollable table-scrollable-borderless" ng-show="ptvms.length > 0">
                        <div ng-controller="ProcessTemplateListController as showCase">
                            <table datatable="" dt-options="showCase.DTOptionsBuilder" dt-columns="showCase.DTColumnBuilder" class="row-border hover"></table>
                        </div>
                        @*<table class="table table-hover table-light table-linkrows table-process-templates">
                            <thead>
                                <tr>
                                    <th width="30%">
                                        Name
                                    </th>
                                    <th width="40%">
                                        Description
                                    </th>
                                    <th width="15%">
                                        Status
                                    </th>
                                    <th width="15%"></th>
                                </tr>
                            </thead>
                            <tr ng-repeat="pt in ptvms" ng-click="nav(pt)">
                                <td>
                                    {{pt.Name}}
                                </td>
                                <td>
                                    {{pt.Description}}
                                </td>
                                <td>
                                    <span class="bold font-green-haze">{{pt.ProcessState|ProcessTemplateState}}</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm red" ng-click="remove(pt); $event.stopPropagation();">Delete</button>
                                </td>
                            </tr>
                        </table>*@
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>

    <script type="text/ng-template" id="modalDeleteConfirmation">
        <div class="modal-header">
            <h3 class="modal-title">Delete Confirmation</h3>
        </div>
        <div class="modal-body">
            Are you sure that you wish to delete this Process Template?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    
</div>
<!-- END MAIN CONTENT -->