<tr>
    <td>
        <div class="configuration-control-form-group">


            <ui-select ng-model="condition.field" theme="bootstrap" search-enabled="false" on-select="fieldSelected(condition)" ng-disabled="isDisabled" ng-click="toggleDropDown($select)" append-to-body="inModal" ng-class="{ 'insidemodal': inModal }">
                <ui-select-match placeholder="Select value from the list...">{{$select.selected.key}}</ui-select-match>
                <ui-select-choices repeat="f in fields">
                    <span title="{{f.key}}" ng-bind-html="f.key"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </td>
    <td>
        <div class="configuration-control-form-group">
            <select 
                class="form-control"
                ng-options="op.value as op.text for op in operators"
                ng-model="condition.operator"
                ng-disabled="!condition.field"
                ng-required="condition.field != null"    >
            </select>
        </div>
    </td>
    <td>
        <div class="condition-control"></div>
        <div class="configuration-control-form-group" ng-show="!hasConfigurationControl">
            <input class="form-control" type="text" value="Select a Field" disabled>
        </div>
    </td>
    <td>
        <span class="delete-btn" ng-show="!isSingle" ng-click="onRemoveCondition()">
            <i class="fa fa-times"></i>
        </span>
    </td>
</tr>
