<div class="filter-pane">
    <div>
        <div ng-class="{'noclick-background': isDisabled}">
            <table class="table query-builder-table" stop-click-propagation>
                <thead>
                    <tr>
                        <th class="col-md-5">Field</th>
                        <th class="col-md-3">Operator</th>
                        <th class="col-md-3">Value</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="condition in conditions track by $index" query-builder-condition current-action="currentAction" condition="condition" is-single="conditions.length <= 1" fields="fields" operators="operators" on-remove-condition="removeCondition($index)">
                    </tr>
                </tbody>
            </table>
            <div>
                <a href class="btn btn-primary query-builder-add-button" ng-click="addCondition()" stop-click-propagation>{{::addRowText}}</a>
            </div>
        </div>
    </div>
</div>