<tr>
    <td>
        <div class="configuration-control-form-group">
            <select class="form-control" ng-options="f as f.name for f in fields" ng-model="condition.field" ng-change="fieldSelected(condition)">
                <option value="">Select a Field</option>
            </select>
        </div>
    </td>
    <td>
        <div class="configuration-control-form-group">
            <select class="form-control" ng-options="op.value as op.text for op in operators"
                    ng-model="condition.operator" ng-disabled="!condition.field">
            </select>
        </div>
    </td>
    <td>
        <div class="condition-control"></div>
        <div class="configuration-control-form-group" ng-show="!hasConfigurationControl">
            <input class="form-control" type="text" value="Select a Field" disabled>
        </div>
    </td>
    <td>
        <span class="delete-btn"
                ng-show="!isSingle"
                ng-click="onRemoveCondition()">
            <i class="fa fa-times"></i>
        </span>
    </td>
</tr>
