<div class="filter-pane">
    <form>
        <div class="form-group">
            <query-builder-widget fields="fields"
                                  current-action="currentAction"
                                  rows="conditions"
                                  operators="operators"
                                  default-operator="defaultOperator">
            </query-builder-widget>
        </div>
    </form>
</div>