<tr>
    <td width="125">
        <select class="form-control" ng-options="f as f.name for f in fields" ng-model="condition.field" ng-change="fieldSelected(condition)">
            <option value="">Select a Field</option>
        </select>
    </td>
    <td width="60">
        <select class="form-control" ng-options="op.value as op.text for op in operators" ng-model="condition.operator" ng-disabled="!condition.field"></select>
    </td>
    <td>
        <div class="condition-control">
        </div>
        <div ng-if="!hasConfigurationControl" style="padding: 3px; border: 1px solid #acacac;">
            Select a field
        </div>
    </td>
    <td>
        <img src="/Content/img/RouteBuilder/delete-icon.png" width="15" height="15"
                ng-show="!isSingle"
                ng-click="onRemoveCondition()"
                class="query-builder-delete-button" />
    </td>
</tr>