<div>
    <!--
    <div ng-if="!isActionValid(currentAction)" class="criteria-warning bg-purple">
        Please add or select an action in order to configure criteria
    </div>
    -->
    <!--
    <div ng-class="{'noclick-background': !isActionValid(currentAction) }">
    -->
    <div class="quiery-builder" ng-class="{disabled: isDisabled}">
        <!--<table class="table" ng-class="{'grayed-out': !isActionValid(currentAction)}"> -->
        <table class="table query-builder-table">
            <thead>
                <tr>
                    <th class="col-md-5">Field</th>
                    <th class="col-md-3">Operator</th>
                    <th class="col-md-3">Value</th>
                    <th class="col-md-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in rows track by $index">
                    <td>
                        <select class="form-control" ng-options="f.key as f.name for f in fields" ng-model="row.field" ng-disabled="isDisabled">
                            <option value="">Select a Field</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" ng-options="op.value as op.text for op in operators" ng-model="row.operator" ng-disabled="!row.field || isDisabled">
                        </select>
                    </td>
                    <td>
                        <div>
                            <input type="text"
                                   class="form-control"
                                   ng-required="true"
                                   ng-model="row.value"
                                   ng-change="valueChanged(row)"
                                   ng-disabled="!row.field || isDisabled" />
                        </div>
                    </td>
                    <td>
                        <a href title="Delete filter rule"
                           class="btn btn-danger"
                           ng-show="rows.length > 1"
                           ng-click="removeRow($index)"
                           ng-disabled="isDisabled">
                            Delete
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <a href class="btn btn-primary query-builder-add-button" ng-click="addRow()" ng-disabled="isDisabled">Add Row</a>
        </div>
    </div>
</div>
