<label for="pca__chk__{{groupName | validId }}__{{field.$$hashKey}}">
    {{field.value}}
</label>
<input type="radio" ng-click="changeSelection(field)" name="pca__chk__{{groupName}}" id="pca__chk__{{groupName | validId}}__{{field.$$hashKey}}" ng-checked="radio.selected" ng-value="true" />
@* Support nested fields *@
<div class="nested-fields">
</div>
