@*RadioButtonGroup control main container*@
<div ng-repeat="radio in field.radios">
    <label for="pca__chk__{{field.groupName | validId }}__opt{{$index}}">
        {{radio.value}}
    </label>
    <input type="radio"  ng-click="ChangeSelection(radio)" name="pca__chk__{{field.groupName}}" id="pca__chk__{{field.groupName | validId}}__opt{{$index}}" ng-checked="radio.selected" ng-value="true" />
    @* Support nested fields *@
    <div class="nested-fields">
        <div ng-repeat="field in radio.fields">
            <configuration-field current-action="currentAction" field="field" />
        </div>
    </div>
</div>
