<div class='form-group'>
    <div ng-repeat="option in field.optionDescriptions track by $index" style="margin-bottom: 10px;">
        <md-divider></md-divider>
        <div class="row" style="margin-right: 0;">
            <div class="col-md-12">
                
            </div>
            <div class="col-md-10">
                <input class="form-control" type="text" value="{{option.label}}"/>
            </div>
            <div class="col-md-2">
                <img style="margin-top: 10px; float: right;" src="/Content/img/PlanBuilder/delete-icon.png" width="15" height="15"
                     ng-click="removeOptionDescription($index)"
                     class="query-builder-delete-button"/>
            </div>
        </div>

        <div ng-repeat="control in metaDescription.controls" style="margin-top: 5px;">
            <delayed-control plan="plan" current-action="currentAction" field="control" change="change" />
        </div>
    </div>
    <div class="col-md-12" style="padding-left: 0px;">
        <md-divider></md-divider>
        <button style="margin-top: 15px; margin-left: 0px;" class="btn btn-primary query-builder-add-button" fr8-click="addControl()">Add UI Control</button>
    </div>
</div>