<div class='form-group'>
    <table >
        <tr><td><label class='control-label'>If the result is {{route.measurementValue}}</label>
            <!--</td></tr>
        <tr>
            <td>-->
                <div class="radio">
                    <label>
                        <input type="radio" name="routing_rc_{{uniqueDirectiveId}}" value="none" ng-model="route.selection" />
                        <span>Go to Next Action</span>
                    </label>
                </div>
                <!--</td>
                    </tr>
                    <tr>
                        <td>-->
                <div class="radio">
                    <label>
                        <input type="radio" name="routing_rc_{{uniqueDirectiveId}}" value="stop" ng-model="route.selection" />
                        <span>Stop</span>
                    </label>
                </div>
            <!--</td>
        </tr>
        <tr>
            <td>-->
                <div class="radio">
                    <label>
                        <input type="radio" name="routing_rc_{{uniqueDirectiveId}}" value="return" ng-model="route.selection" />
                        <span>Return to Previous Action:</span>
                    </label>
                    <div class="previous-action-selection">
                        <select name="repeatSelect_rc_{{uniqueDirectiveId}}" ng-model="route.previousActionList.selectionId" ng-disabled="route.selection != 'return'">
                            <option ng-repeat="option in route.previousActionList.choices" value="{{option.Id}}">{{option.Label}}</option>
                        </select>
                    </div>
                </div>
            <!--</td>
        </tr>
        <tr>
            <td>-->
                <div class="radio">
                    <label>
                        <input type="radio" name="routing_rc_{{uniqueDirectiveId}}" value="jump" ng-model="route.selection" />
                        <span>Jump to a Different Process Node</span>
                    </label>
                    <div class="process-node-selection">
                        <!--TODO: To be updated when finalized-->
                        <!--<select name="repeatSelect" ng-model="route.available_process_node.selection_id" ng-disabled="routing.Selection != jump">
                                <option ng-repeat="option in route.available_process_node.choices" value="{{option.Id}}">{{option.Label}}</option>
                            </select>-->
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                FOR DEMO ONLY:
                <br />
                selection: {{route.selection}}
                <br />
                route: {{route.previousActionList.selectionId}}
            </td>
        </tr>
    </table>
</div>