<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb hide">
    <li>
        <a href="#">Home</a><i class="fa fa-circle"></i>
    </li>
    <li class="active">
        Dashboard
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="RouteBuilderController" class="margin-top-10" block-if="isBusy()" stop-click-propagation>
    <designer-header route="current.route"></designer-header>
    <div class="route-builder-container" layout-container>
        <div ng-repeat="group in actionGroups" layout-action-group class="action-group" ng-style="{left: group.offsetLeft, top: group.offsetTop}">
            <div ng-if="mode !== 'solution' || $index === 0">
                <div class="action-arrow-bottom" ng-style="{top: -group.arrowLength - 60, height: group.arrowLength + 35, left: group.arrowOffsetLeft}"></div>
                <div dnd-list="group.actions" dnd-external-sources="true" dnd-drop="onActionDrop(group, item, index)" style="display: inline-block;">
                    <div dnd-draggable="action.id" dnd-effect-allowed="move" ng-repeat="action in group.actions">
                        <div class="action" ng-class="{'solution-action': action.activityTemplate.category==='Solution'  && mode !== 'solution'}" layout-action ng-style="{'width' : action.activityTemplate.minPaneWidth || 330 + 'px'}">
                            <div class="action-header solution-action-header handle" dropdown transfer-click-configure-pane>
                                <div class="action-header-icon"><img ng-src="{{action.activityTemplate.webService.iconPath}}" ng-if="action.activityTemplate.webService.iconPath" /></div>
                                <p class="action-name">
                                    {{action.label}}
                                </p>
                                <a class="action-menu" dropdown-toggle stop-click-propagation>
                                    <i class="fa fa-gear fa-5x"></i>
                                </a>
                                <ul class="dropdown-menu pull-right" role="menu" stop-click-propagation>
                                    <li role="menuitem" ng-if="action.activityTemplate.terminal.authenticationType != 1 && action.activityTemplate.needsAuthentication">
                                        <a ng-click="chooseAuthToken(action);">
                                            <i class="fa fa-user"></i>
                                            Choose authentication
                                        </a>
                                    </li>
                                    <li role="menuitem">
                                        <a ng-click="deleteAction(action);">
                                            <i class="fa fa-trash-o"></i>
                                            Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div dnd-nodrag>
                                <pane-configure-action id="paneConfigureAction" current-action="action" mode="mode"></pane-configure-action>
                            </div>
                        </div>
                        <div class="action-arrow-right"></div>
                    </div>
                    <div class="dndPlaceholder">
                        <div class="action" style="width:330px;opacity: 0.6;background-color: black;">
                            <div></div>
                        </div>
                        <div class="action-arrow-right"></div>
                    </div>
                </div>
                <action-Picker>
                </action-Picker>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>