<div>
    <label>User will select which data/file:</label>
    <div>
        <button class="btn btn-default" ng-click="select()">Select</button>
        <span ng-if="field.activityTemplateId" style="padding-left: 5px;">Selected: {{field.activityTemplateName}}</span>
    </div>

    <div ng-if="field.activityTemplateId" style="margin-top: 10px;">
        <label>Select one now to use as a template:</label>
        <div>
            <button class="btn btn-default" ng-click="configure()">Select</button>
            <span ng-if="field.externalObjectName" style="padding-left: 5px;">Template: {{field.externalObjectName}}</span>
        </div>
    </div>
</div>
