﻿<div class="row" ng-controller="ReportIncidentController">
     <md-content>
         <md-toolbar class="md-table-toolbar md-default" ng-show="!filter.showFilter" style="margin-top: 30px;">
             <div class="md-toolbar-tools">
                 <h2 class="md-title font-green-haze">All Incidents</h2>
                 <div flex></div>
                 <md-button class="md-icon-button" ng-click="filter.showFilter = true">
                     <md-icon md-font-icon="fa fa-filter material-fa-icon"></md-icon>
                 </md-button>
             </div>
         </md-toolbar>

         <md-toolbar class="md-table-toolbar md-default" ng-show="filter.showFilter" style="margin-top: 30px;">
             <div class="md-toolbar-tools">
                 <md-icon md-font-icon="fa fa-search material-fa-icon"></md-icon>
                 <div flex name="filter.form">
                     <md-input-container class="md-block" flex-gt-sm>
                         <input flex type="text" ng-model="query.filter" ng-model-options="filter.options" placeholder="Search" style="border-bottom: 1px solid #000000; border-bottom: 1px solid rgba(0,0,0,.12) !important">
                     </md-input-container>
                 </div>
                 <md-button class="md-icon-button" ng-click="removeActiveFilter()">
                     <md-icon md-font-icon="fa fa-times material-fa-icon"></md-icon>
                 </md-button>
             </div>
         </md-toolbar>

         <md-table-container>
             <table md-table md-progress="promise">
                 <thead md-head md-order="query.orderBy" md-on-reorder="getIncidents">
                     <tr md-row>
                         <th md-column md-order-by="name" style="width: 20%;"><span>Name</span></th>
                         <th md-column style="width: 35%;"><span>Description</span></th>
                         <th md-column md-order-by="lastUpdated" style="width: 20%;">Last Updated</th>
                         <th md-column style="width: 10%;">Status</th>
                         <th md-column md-numeric style="width: 15%;">Actions</th>
                     </tr>
                 </thead>
                 <tbody md-body>
                     <tr md-row ng-repeat="historyItem in result.items">
                         <td md-cell class="column-spacer">{{ plan.name }}</td>
                         <td md-cell class="column-spacer">{{ plan.description }}</td>
                         <td md-cell>{{ plan.lastUpdated | date:"MM/dd/yyyy h:mm:ss a"}}</td>
                         <td md-cell>
                             <span class="bold font-green-haze">{{plan.planState == 2 ? 'Active' : 'Inactive' }}</span>
                         </td>
                         <td md-cell style="display: flex;">
                            
                         </td>
                     </tr>
                 </tbody>
             </table>
         </md-table-container>

         <md-table-pagination md-limit="query.itemPerPage" md-limit-options="[5, 10, 15, 20, 50, 100]" md-page="query.page" md-total="{{(result.totalItemCount || result.totalItemCount === 0) ? result.totalItemCount : 'NaN'}}" md-on-paginate="getActivePlans" md-page-select></md-table-pagination>
     
     </md-content>
 </div>