<div class="row" ng-controller="ReportIncidentController">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-green-haze hide"></i>
                    <span class="caption-subject font-green-haze bold uppercase">All INCIDENTS</span>
                </div>
            </div>
            <div class="portlet-body">
                <table datatable="ng" dt-options="dtOptionsBuilder" dt-column-defs="dtColumnDefs" class="row-border hover table table-hover table-light table-linkrows table-process-templates">
                    <thead>
                        <tr>
                            <th>Created Date</th>
                            <th>Startup</th>
                            <th>Terminal Registration</th>
                            <th>Registration Failure</th>
                            <th>Data</th>
                            <th>Customer Id	</th>
                            <th>Object Id	</th>
                            <th>Priority</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="incident in incidentRecords">
                            <td>{{ incident.createDate}}</td>
                            <td>{{ incident.primaryCategory}}</td>
                            <td>{{ incident.secondaryCategory}}</td>
                            <td>{{ incident.activity}}</td>
                            <td><textarea>{{ incident.data}}</textarea></td>
                            <td>{{ incident.customerId}}</td>
                            <td>{{ incident.objectId}}</td>
                            <td>{{ incident.priority}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


