﻿<div class="row" ng-controller="ReportIncidentController">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-green-haze hide"></i>
                    <span class="caption-subject font-green-haze bold uppercase">All INCIDENTS</span>
                </div>
            </div>
            <div class="portlet-body table-responsive">
                <table datatable="ng" dt-options="dtOptionsBuilder" dt-column-defs="dtColumnDefs" class="row-border hover table table-hover table-light table-linkrows table-routes">
                    <thead>
                        <tr>
                            <th>Created Date</th>
                            <th>Primary Category</th>
                            <th>Secondary Category</th>
                            <th>Activity</th>
                            <th>Component</th>
                            <th>Data</th>
                            <th>Fr8 User Id	</th>
                            <th>Object Id	</th>
                            <th>Priority</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="incident in incidentRecords" ng-click="selectRow(incident)">
                            <td>{{ incident.createDate}}</td>
                            <td>{{ incident.primaryCategory}}</td>
                            <td>{{ incident.secondaryCategory}}</td>
                            <td>{{ incident.activity}}</td>
                            <td>{{ incident.component}}</td>
                            <td ng-if="isSelectedRow(incident)" style="white-space: pre-wrap; word-wrap: break-word;">{{incident.data}}</td>
                            <td ng-if="!isSelectedRow(incident)" style="white-space: pre-wrap; word-wrap: break-word;">{{shrinkData(incident.data)}}</td>
                            <td>{{ incident.fr8UserId}}</td>
                            <td>{{ incident.objectId}}</td>
                            <td>{{ incident.priority}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>