<div ng-controller="SolutionListController" class="margin-top-10">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h3 class="pull-left">Select a Solution</h3>
            <div class="row">
                <div class="col-md-12 col-sm-12" ng-cloak>
                    <table class="select-action-category" style="margin: 0;">
                        <thead>
                            <tr>
                                <th>Available Solutions</th>
                                <th>Solution Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="select-action-list2" ng-repeat="activity in (activityCategories | filter: {name: 'Solution'})[0].activities">
                                <td class="select-action-row2 seg-solution" ng-click="onSolutionSelected(activity)">
                                    {{activity.label}}
                                </td>
                                <td class="select-action-row2 seg-solution" ng-click="onSolutionSelected(activity)">
                                    {{activity.description}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
