<div ng-controller="SolutionController" class="margin-top-10">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="action" ng-style="{'width' : action.activityTemplate.minPaneWidth || 330 + 'px'}"  block-if="processing === true" >
                <div class="action-header" >
                    <p class="action-name">
                        {{action.activityTemplate.label || 'Loading Solution...'}}
                    </p>
                </div>
                <pane-configure-action id="paneConfigureAction" current-action="action"></pane-configure-action>
            </div>
        </div>
    </div>
</div>
