<div ng-controller="SolutionController" class="margin-top-10">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="action" ng-style="{'width' : action.activityTemplate.minPaneWidth || 330 + 'px'}">
                <div class="action-header" >
                    <p class="action-name">
                        {{action.label}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
