
<ul class="page-breadcrumb breadcrumb hide">
    <!-- BEGIN PAGE BREADCRUMB -->
    <li>
        <a href="#">Home</a><i class="fa fa-circle"></i>
    </li>
    <li class="active">
        Dashboard
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="TerminalDetailsController" class="margin-top-10">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green-haze hide"></i>
                        <span class="caption-subject font-green-haze bold uppercase">Terminal Details</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <!-- PROCESS FORM -->
                    <div class="tab-pane active" id="tab_1_1">
                        <form role="form" ng-submit="submit(form.$valid)" name="form" novalidate>
                            <div class="alert alert-danger" ng-show="form.$submitted && !form.$valid">
                                Some fields do not contain correct data. Please check below.
                            </div>
                            <div class="alert alert-danger" ng-show="errorMessage != null">
                                {{errorMessage}}
                            </div>
                            <div class="form-group">
                                <md-checkbox ng-model="terminal.isFr8OwnTerminal" ng-show="canEditAllTerminals" aria-label="This is a Fr8 own terminal">
                                    This is a Fr8 own C# terminal or deployed with those<strong>{{participationStateText}}</strong>)
                                </md-checkbox>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <input type="text" placeholder="" disabled="disabled" maxlength="100" class="form-control" ng-model="terminal.label" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">{{ terminal.isFr8OwnTerminal ? "Local" : "Development"}} URL</label>
                                <input type="text" ng-required="terminal.isFr8OwnTerminal || terminal.participationState == 0" placeholder="{{terminal.isFr8OwnTerminal ? 'Example: http://localhost:xxxx' : ''}}" maxlength="255" class="form-control" ng-model="terminal.devUrl" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Production URL</label>
                                <input type="text" ng-required="terminal.participationState == 1" placeholder="" ng-disabled="!canEditAllTerminals" ng-change="prodUrlChanged(terminal)" maxlength="255" class="form-control" ng-model="terminal.prodUrl" />
                            </div>
                            <div class="form-group">
                                <md-checkbox ng-model="approved" ng-show="canEditAllTerminals" aria-label="Approve terminal">
                                    Approve terminal (the current state is <strong>{{participationStateText}}</strong>)
                                </md-checkbox>                               
                            </div>
                            <div class="form-group">
                                <label class="control-label">Current URL<sup ng-show="canEditAllTerminals">*</sup></label>
                                <input type="text" placeholder="" ng-disabled="disabled" class="form-control" ng-model="terminal.endpoint" />
                            </div>
                            <div class="margiv-top-10">
                                <button type="button" ng-click="openPermissionsSetterModal(terminal)" class="btn green-haze">
                                    Set Permissions
                                </button>
                                <button type="button" ng-click="save($event, terminal)" class="btn green-haze">
                                    Save
                                </button>
                                <a ng-click="cancel()" class="btn default">
                                    Close
                                </a>
                            </div>
                            <div ng-show="canEditAllTerminals" class="margiv-top-10">
                                <strong>For Fr8 own terminals specify a <code>http://localhost:xxxx</code> URL in the Production URL textbox
                                if the terminal is approved, or in the Development URL textbox if the terminal is not approved.</div>
                            <div ng-show="canEditAllTerminals" class="margiv-top-10">
                                <sup>*</sup> Currently used URL denotes the URL which is used by the Hub to access the terminal at this moment.
                                It can be equal to the Production URL or the Development URL or some other URL depending on terminal participation state
                                and deployment status.
                            </div>
                        </form>
                    </div>
                    <!-- END PROCESS FORM -->

                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
</div><!-- END MAIN CONTENT -->
