<div> 
    <!--TextArea control main container-->
    <div text-angular ng-model="field.value" ta-toolbar="buttonSet" ta-target-toolbars="{{toolbars}}" ta-disabled="{{isDisabled}}" class="{{style}}"></div>
</div>