@*TextBlock control main container*@
<label for="pca__chk__{{field.$$hashKey}}">this specific value</label>
<input type="radio" name="pca__chk__{{field.$$hashKey}}"/>

<label for="pca__chk__{{field.$$hashKey}}">a value from an Upstream crate</label>
<input type="radio" name="pca__chk__{{field.$$hashKey}}" />
