@*UpstreamDataChooser main container*@
<div>
    <table ng-table="tableParams" class="table table-condensed table-bordered table-hover upstreamFieldChooser" stop-click-propagation>
        <colgroup>
            <col width="50%" />
            <col width="50%" />
        </colgroup>
        <tr class="ng-table-group" ng-repeat-start="group in $groups" ng-init="group.$hideRows = true">
            <td colspan="3">
                <a href="" ng-click="group.$hideRows = !group.$hideRows">
                    <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                    <strong>{{ group.value }}</strong>
                </a>
            </td>
        </tr>
        <tr ng-hide="group.$hideRows" ng-repeat="row in group.data" ng-repeat-end ng-click="selectField(row)" ng-class="{ 'active': field.value === row.key }">
            <td data-title="'Name'" groupable="'name'">{{row.key}}</td>
            <td data-title="'Label'" groupable="'sourceCrateLabel'" ng-if="false">{{row.sourceCrateLabel}}</td>
            <td data-title="'Manifest'">{{row.sourceCrateManifest.Type}}</td>
        </tr>
    </table>
</div>