@*UpstreamDataChooser main container*@
<div>
    <div>Convert which upstream data:</div>
    <div style="margin-left: 20px;">
        <label>Crate Manifest: </label><drop-down-list-box field="manifestList" change="onChange"></drop-down-list-box>
        <label>Crate Label: </label><drop-down-list-box field="labelList" change="onChange"></drop-down-list-box>
        <label>Field Type: </label><drop-down-list-box field="fieldTypeList" change="onChange"></drop-down-list-box>
    </div>
</div>