<div>
    <span>{{::field.label}}</span>
    <div ng-class="{'noclick-background': isDisabled}" style="margin-top: 15px;">
        <div class="col-md-12" ng-repeat="selectedCrate in field.selectedCrates track by $index" style="padding-left: 0px;margin-bottom: 10px;">
            <div class="col-md-11">
                <div class="col-md-3" style="padding-left: 0px;padding-right: 0px;text-align: left;"><span style="font-size: 14px;font-weight: 600;">Type:</span></div>
                <div class="col-md-9" style="padding-left: 5px;padding-right: 0px;">
                    <drop-down-list-box field="selectedCrate.manifestType" change="onChange" data-field-name="{{::'CrateChooserManifestType'+$index}}" is-disabled="isDisabled"></drop-down-list-box>
                </div>
                <div class="col-md-3" style="padding-left: 0px;padding-right: 0px;text-align: left;"><span style="font-size: 14px;font-weight: 600;">Label:</span></div>
                <div class="col-md-9" style="padding-left: 5px;padding-right: 0px;">
                    <drop-down-list-box field="selectedCrate.label" change="onChange" data-field-name="{{::'CrateChooserLabel'+$index}}" is-disabled="isDisabled"></drop-down-list-box>
                </div>
            </div>
            <div class="col-md-1" style="padding-left: 0px;padding-right: 0px; text-align:center;">
                <img src="/Content/img/PlanBuilder/delete-icon.png" width="15" height="15"
                     ng-show="field.selectedCrates.length > 1"
                     ng-click="removeRow($index)" style="cursor: pointer; margin-top: 20px;" />
            </div>
            <div class="col-md-12" ng-if="!$last" style="border-bottom: 1px solid; margin-top: 5px;"></div>
        </div>
        <div>
            <a ng-show="field.multiSelection === true" class="btn btn-primary" style="margin-top:10px;margin-left: 15px;" ng-click="addRow()" stop-click-propagation>Add Row</a>
        </div>
    </div>
</div>
