@*UpstreamDataChooser main container*@
<div>
    <label>Convert which upstream data:</label>
    <label>Crate Manifest: </label><drop-down-list-box field="manifestList"></drop-down-list-box>
    <label>Crate Label: </label><drop-down-list-box field="labelList"></drop-down-list-box>
    <label>Field Type: </label><drop-down-list-box field="fieldTypeList"></drop-down-list-box>
</div>