<label ng-if="field.label !== null && field.label.length > 0" class='control-label'>{{::field.label}}</label>
<!--UpstreamFieldChooser control main container-->
<div style="margin-bottom: 6px; ">  
    <upstream-field-chooser-button class="upstream-field-chooser" field="field" current-action="currentAction" change='onUpStreamChange'></upstream-field-chooser-button>
</div>