<div ng-controller="WebServiceController">
	<table datatable="ng" class="row-border hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>Icon</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="webService in webServices">
				<td>{{webService.id}}</td>
				<td>
					<img src="{{webService.iconPath}}" width="32" height="32" />
				</td>
				<td>{{webService.name}}</td>
			</tr>
		</tbody>
	</table>
</div>