@model dynamic
@{
    ViewBag.Title = "Company";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}

<h2>title</h2>

<section name="vision" class="top-banner text-block full-height-block" data-section="welcome">
    <div class="inner-bg full-size-bg"></div>
    <div class="container full-height-block">
        <div class="inner-wrap cetered">
            <h1>Our Vision</h1>
            <p>We believe that easy integration of web applications is something that shouldn't require programming knowledge.</p>
        </div>
    </div>
</section>
<section name="team" class="top-banner text-block full-height-block" data-section="team">
    <div class="inner-bg full-size-bg"></div>
    <div class="container full-height-block">
        <div class="inner-wrap cetered">
            <h1>Our Team</h1>
            @* Add block here *@
        </div>
    </div>
</section>
<section name="location" class="top-banner text-block full-height-block" data-section="location">
    <div class="inner-bg full-size-bg"></div>
    <div class="container full-height-block">
        <div class="inner-wrap cetered">
            <h1>Location</h1>
            <p>We're located in San Francisco, California, but our team is distributed around the world.</p>
        </div>
    </div>
</section>
<section name="hiring" class="top-banner text-block full-height-block" data-section="hiring">
    <div class="inner-bg full-size-bg"></div>
    <div class="container full-height-block">
        <div class="inner-wrap cetered">
            <h1>Hiring</h1>
            <p>We're hiring. See our available jobs.</p>
        </div>
    </div>
</section>