@{
    Layout = "~/Views/Shared/_HomePage.cshtml";
}
<section id="vision" class="text-block full-height-block" data-section="vision">
    <div class="inner-bg full-size-bg"></div>
    <div class="container full-height-block">
        <div class="inner-wrap cetered">
            <div class="base-block-white title-block">
                <h1>Our Vision</h1>
                <p>We believe that easy integration of web applications is something that shouldn't require programming knowledge.</p>
            </div>
        </div>
    </div>
</section>
<section id="team" class="text-block full-height-block" data-section="team">
    <div class="inner-bg full-size-bg"></div>
    <div class="container full-height-block">
        <div class="inner-wrap cetered">
            <div class="base-block-white title-block">
                <h1>Our Team</h1>
                @* Alex Edelstein *@
                <div class="team-member">
                    <div class="col-xs-2">
                        <img src="/Content/img/Management/alexhead.png" class="img-responsive img-circle" />
                    </div>
                    <div class="col-xs-10">
                        <h2>Alex Edelstein - Founder and CEO</h2>
                        <p>Alex has 20 years of startup experience, ranging from early stints on the original Netscape Navigator and Microsoft Exchange teams to his most recent startup, Servio, which was sold to OneSpace in 2013.</p>
                    </div>
                </div>
                @* Benjamin Black *@
                <div class="team-member">
                    <div class="col-xs-2">
                        <img src="/Content/img/Management/alexhead.png" class="img-responsive img-circle"/>
                    </div>
                    <div class="col-xs-10">
                        <h2>Benjamin Black - Advisor</h2>
                        <p>
                            Benjamin Black is the Managing Director & Co-founder of Akkadian Ventures and is a fifteen-year veteran of the private equity space.Prior to Akkadian, Ben co-founded New Cycle Capital with Josh Becker to bring socially responsible investing to sectors like clean energy and social finance with seed investments in Renewable Funding and Opower.
                            He started his investing career on the investment teams at Maveron and Rosewood Capital where he focused on branded consumer products and services.
                            As a hobby, Ben enjoys developing restaurants and eating in them. He partnered with Top Chef Masters winner Chris Cosentino to bring Cockscomb to SOMA. Most recently, he is helping Brandon Jew open his contemporary Chinese restaurant Mr. Jui's in Chinatown.
                        </p>
                    </div>
                </div>
                @* Rob Bailey *@
                <div class="team-member">
                    <div class="col-xs-2">
                        <img src="/Content/img/Management/alexhead.png" class="img-responsive img-circle" />
                    </div>
                    <div class="col-xs-10">
                        <h2>Rob Bailey - Advisor</h2>
                        <p>
                            Rob has over a decade of experience scaling SaaS start-ups into successful companies.
                            Rob is the founder of BuildR, a consulting firm that has helped 10+ venture funded SaaS companies scale.
                            He was previously the CEO of DataSift, which was one of the fastest growing SaaS companies of all time during his tenure. 
                            He built the company from pre-revenue to to 1,000+ customers in 40 countries and raised more than $65M from top tier investors. 
                            He also advises a range of venture firms on their SaaS investments.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="location" class="text-block full-height-block" data-section="location">
    <div class="inner-bg full-size-bg"></div>
    <div class="container full-height-block">
        <div class="inner-wrap cetered">
            <div class="base-block-white title-block">
                <h1>Location</h1>
                <p>	We're located in San Francisco, California, but our team is distributed around the world.</p>
            </div>
        </div>
    </div>
</section>
<section id="hiring" class="text-block full-height-block" data-section="hiring">
    <div class="inner-bg full-size-bg"></div>
    <div class="container full-height-block">
        <div class="inner-wrap cetered">
            <div class="base-block-white title-block">
                <h1>Hiring</h1>
                <p>We're hiring. <a href="#" class="btn btn-primary btn-lg disabled" role="button">See our available jobs.</a></p>
            </div>
        </div>
    </div>
</section>