@{
    Layout = "~/Views/Shared/_HomePageNew.cshtml";
}
<div class="company">
    <section id="vision" class="text-block full-height-block" data-section="vision">
        <div class="inner-bg full-size-bg"></div>
        <div class="container full-height-block">
            <div class="inner-wrap cetered">
                <div class="base-block-white title-block">
                    <h2>Our Vision</h2>
                    <p>We believe that easy integration of web applications is something that shouldn't require programming knowledge.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="team" class="text-block full-height-block" data-section="team">
        <div class="container full-height-block">
            <div class="inner-wrap cetered">
                <div class="text-block full-height-block">
                    <h2>Our Team</h2>
                    @* Alex Edelstein *@
                    <div class="team-member">
                        <div class="col-xs-2">
                            <img src="/Content/img/Management/Alex_Edelstein_Round.png" class="img-responsive" alt="Alex Edelstein" />
                        </div>
                        <div class="col-xs-10">
                            <h3>Alex Edelstein - <span>Founder and CEO</span></h3>
                            <p class="bio">Alex has 20 years of startup experience, ranging from early stints on the original Netscape Navigator and Microsoft Exchange teams to his most recent startup, Servio, which was sold to OneSpace in 2013.</p>
                        </div>
                    </div>
                    @* Alexei Avrutin  *@
                    <div class="team-member">
                        <div class="col-xs-2 vcenter">
                            <img src="~/Content/img/Management/Alexei_Avrutin.png" class="img-responsive" alt="Alexei Avrutin" />
                        </div>
                        <div class="col-xs-10">
                            <h3>Alexei Avrutin - <span>Director of Engineering (Belgrade Office)</span></h3>
                            <p class="bio">Alexei is a systems engineering professional with extensive experience with both start-ups and global corporations. Before joining Fr8, he led IT and Digital initiatives at Sanofi, a multinational healthcare giant, and was responsible for front-end and back-end development at OnlinePatent, an intellectual property venture.</p>
                        </div>
                    </div>
                    @* Bahadir Bozdag *@
                    <div class="team-member">
                        <div class="col-xs-2 vcenter">
                            <img src="~/Content/img/Management/Bahadir_Bozdag.png" class="img-responsive" alt="Bahadir Bozdag" />
                        </div>
                        <div class="col-xs-10">
                            <h3>Bahadir Bozdag - <span>Director of Engineering (Ankara Office)</span></h3>
                            <p class="bio">Bahadir has extensive experience managing technical teams at both startup and established company scale. He likes to experiment with edge technologies and passionate about creating simple software architectures.His hobbies include amateur photography and training talented developers.</p>
                        </div>
                    </div>
                    @* Charles Pretzer *@
                    <div class="team-member">
                        <div class="col-xs-2 vcenter">
                            <img src="~/Content/img/Management/placeholder_headshot.png" class="img-responsive" alt="Charles Pretzer" />
                        </div>
                        <div class="col-xs-10">
                            <h3>Charles Pretzer - <span>Director of Engineering (San Francisco Office)</span></h3>
                            <p class="bio">Charles has worked for large companies and startups, managing technical teams and taking architectural leadership roles.  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;   &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;   &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  </p>
                        </div>
                    </div>
                    @* Benjamin Black *@
                    <div class="team-member">
                        <div class="col-xs-2 vcenter">
                            <img src="/Content/img/Management/Benjamin_Black.png" class="img-responsive top-buffer" alt="Benjamin Black" />
                        </div>
                        <div class="col-xs-10">
                            <h3>Benjamin Black - <span>Advisor</span></h3>
                            <p class="bio">
                                Benjamin Black is the Managing Director & Co-founder of Akkadian Ventures and is a fifteen-year veteran of the private equity space. Prior to Akkadian, Ben co-founded New Cycle Capital with Josh Becker to bring socially responsible investing to sectors like clean energy and social finance with seed investments in Renewable Funding and Opower.
                                He started his investing career on the investment teams at Maveron and Rosewood Capital where he focused on branded consumer products and services.
                                As a hobby, Ben enjoys developing restaurants and eating in them. He partnered with Top Chef Masters winner Chris Cosentino to bring Cockscomb to SOMA. Most recently, he helped Brandon Jew open his contemporary Chinese restaurant Mr. Jui's in Chinatown.
                            </p>
                        </div>
                    </div>
                    @* Rob Bailey *@
                    <div class="team-member">
                        <div class="col-xs-2 vcenter">
                            <img src="/Content/img/Management/Rob_Bailey.png" class="img-responsive" alt="Rob Bailey" />
                        </div>
                        <div class="col-xs-10">
                            <h3>Rob Bailey - <span>Advisor</span></h3>
                            <p class="bio">
                                Rob has over a decade of experience scaling SaaS start-ups into successful companies.
                                Rob is the founder of BuildR, a consulting firm that has helped 10+ venture funded SaaS companies scale.
                                He was previously the CEO of DataSift, which was one of the fastest growing SaaS companies of all time during his tenure.
                                He built the company from pre-revenue to to 1,000+ customers in 40 countries and raised more than $65M from top tier investors.
                                He also advises a range of venture firms on their SaaS investments.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="location" class="text-block full-height-block" data-section="location">
        <div class="inner-bg full-size-bg"></div>
        <div class="container full-height-block">
            <div class="inner-wrap cetered">
                <div class="base-block-white title-block">
                    <h2>Location</h2>
                    <p>	We're headquartered in San Francisco, California, with teams distributed around the world.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="company" class="text-block full-height-block" data-section="jobs">
        <div class="container full-height-block">
            <div class="inner-wrap cetered">
                <div class="text-block full-height-block">
                    <h3>We are Hiring!</h3>
                    <p>
                        There are two ways to participate in Fr8. You can join The Fr8 Company as an employee. Or you can just build your own Fr8 Terminals and Activities, choosing whether to publish them to Hubs like Fr8.co or whether to keep them private.
                    </p>
                    <p>Fr8 is currently looking to fill the following positions:</p>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Job Title</th>
                                <th>Job Description</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Software Engineer - FE/Angular Focus</td>
                                <td>Work on the Fr8 reference client implementation</td>
                                <td>San Francisco, or Virtual</td>
                            </tr>
                            <tr>
                                <td>Software Engineer - Backend</td>
                                <td>Work on the Fr8.co Hub and the Terminals that The Fr8 Company builds and maintains</td>
                                <td>San Francisco, or Virtual</td>
                            </tr>
                            <tr>
                                <td>Web Designer</td>
                                <td>Work on assets, images, placement, layout for Fr8.co web services</td>
                                <td>San Francisco, or Virtual</td>
                            </tr>
                            <tr>
                                <td>Open Source Community Outreach Specialist</td>
                                <td>Work with the open source community, evangelizing the Fr8 standard</td>
                                <td>San Francisco, or Virtual</td>
                            </tr>
                            <tr>
                                <td>Cloud Outreach Specialist</td>
                                <td>Work with the developer resources and marketing teams of major web services to promote Fr8 technology and solutions</td>
                                <td>San Francisco, or Virtual</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <p>
                        As you can tell, we're young. We don't have a fancy page up showing our team engaged in fun extracurriculars. On the other hand, we don't have a high stock option valuation either.
                    </p>
                    <p>
                        To apply, send your resume to
                        <SCRIPT type='text/javascript'>
                            a = 'jobs';
                            b = 'fr8.co';
                            document.write('<A hre' + 'f="mai' + 'lto:' + a + '@@' + b + '">');
                            document.write(a + '@@' + b + '</a>');
                        </SCRIPT>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
