@{
   Layout = "~/Views/Shared/_HomePage.cshtml";
}
@{
    ViewBag.Title = "Jobs";
}

<section id="company" class="text-block full-height-block" data-section="jobs">
    <div class="container full-height-block">
        <div class="inner-wrap cetered">
            <div class="text-block full-height-block">
                <h3 class="howitworks-h3">We are Hiring!</h3>
                <p>
                    There are two ways to participate in Fr8. You can join The Fr8 Company as an employee. Or you can just build your own Fr8 Terminals and Activities, choosing whether to publish them to Hubs like Fr8.co or whether to keep them private.
                </p>
                <p>Fr8 is currently looking for the following help:</p>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Job Title</th>
                            <th>Job Description</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Software Engineer - FE/Angular Focus</td>
                            <td>Work on the Fr8 reference client implementation</td>
                            <td>San Francisco, or Virtual</td>
                        </tr>
                        <tr>
                            <td>Software Engineer - Backend</td>
                            <td>Work on the Fr8.co Hub and the Terminals that The Fr8 Company builds and maintains</td>
                            <td>San Francisco, or Virtual</td>
                        </tr>
                        <tr>
                            <td>Web Designer</td>
                            <td>Work on assets, images, placement, layout for Fr8.co web services</td>
                            <td>San Francisco, or Virtual</td>
                        </tr>
                        <tr>
                            <td>Open Source Community Outreach Specialist</td>
                            <td>Work with the open source community, evangelizing the Fr8 standard</td>
                            <td>San Francisco, or Virtual</td>
                        </tr>
                        <tr>
                            <td>Cloud Outreach Specialist</td>
                            <td>Work with the developer resources and marketing teams of major web services to promote Fr8 technology and solutions</td>
                            <td>San Francisco, or Virtual</td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <p>
                    As you can tell, we're young. We don't have a fancy page up showing our team engaged in fun extracurriculars. On the other hand, we don't have a high stock option valuation either.
                </p>
                <p>
                    To apply, send your resume to 
                    <SCRIPT type='text/javascript'>
                    a = 'jobs'; b = 'fr8.co';
                    document.write('<A hre'+'f="mai'+'lto:'+a+'@@'+b+'">');
                    document.write(a+'@@'+b+'</a>');
                    </SCRIPT>
                </p>
            </div>
        </div>
     </div>
</section>