<log4net>
  <appender name="PapertrailRemoteSyslogAppender" type="log4net.Appender.RemoteSyslogAppender">
    <facility value="Local6" />
    <identity value="%date{yyyy-MM-ddTHH:mm:ss.ffffffzzz} %P{log4net:HostName} TerminalPapertrail" />
    <layout type="log4net.Layout.PatternLayout" value="%level - %message%newline" />
    <remoteAddress value="logs3.papertrailapp.com" />
    <remotePort value="31611" />
  </appender>
 <appender name="aiAppender" type="Microsoft.ApplicationInsights.Log4NetAppender.ApplicationInsightsAppender, Microsoft.ApplicationInsights.Log4NetAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%message%newline" />
    </layout>
  </appender>
  
  <root>
    <level value="ALL" />
    <appender-ref ref="PapertrailRemoteSyslogAppender" />
    <appender-ref ref="aiAppender" />
  </root>
 
</log4net>