<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="PapertrailRemoteSyslogAppender" type="log4net.Appender.RemoteSyslogAppender">
    <identity value="%date{yyyy-MM-ddTHH:mm:ss.ffffffzzz} %P{log4net:HostName} %logger" />
    <layout type="log4net.Layout.PatternLayout" value="%level - %message%newline" />
    <remoteAddress value="logs4.papertrailapp.com" />
    <remotePort value="0000" />
    <!--<remotePort value="30276" />-->
  </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d %logger [%level]: %m%n" />
    </layout>
  </appender>

  <appender name="fr8Appender" type="Utilities.Logging.Appender.fr8RemoteSyslogAppender">
    <identity value="%date{yyyy-MM-ddTHH:mm:ss.ffffffzzz} %P{log4net:HostName} %logger" />
    <layout type="log4net.Layout.PatternLayout" value="%level - %message%newline" />
    <remoteAddress value="logs4.papertrailapp.com" />
    <remotePort value="30276" />
  </appender>

  <appender name="fr8CustomLayoutFileAppender" type="log4net.Appender.FileAppender">
    <file value="log-file-log4net.txt" />
    <appendToFile value="false" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    
    <layout type="Utilities.Logging.Fr8Log4NetLayout">
      <infoColor>36m</infoColor>
      <warnColor>33m</warnColor>
      <errorColor>31;1m</errorColor>
    </layout>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="fr8Appender" />
    <appender-ref ref="fr8CustomLayoutFileAppender" />
    <appender-ref ref="TraceAppender" />    
    <appender-ref ref="PapertrailRemoteSyslogAppender" />
    
  </root>
</log4net>