<?xml version="1.0" encoding="utf-8"?>
 <log4net >
  <appender name="PapertrailRemoteSyslogAppender" type="log4net.Appender.RemoteSyslogAppender">    
    <identity value="%date{yyyy-MM-ddTHH:mm:ss.ffffffzzz} %P{log4net:HostName} %logger" />
    <layout type="log4net.Layout.PatternLayout" value="%level - %message%newline" />
    <remoteAddress value="logs4.papertrailapp.com" />
    <remotePort value="0000" />
    <!--<remotePort value="24237" />-->
  </appender>

   <appender name="fr8Appender" type="Utilities.Logging.Appender.fr8RemoteSyslogAppender">
     <identity value="%date{yyyy-MM-ddTHH:mm:ss.ffffffzzz} %P{log4net:HostName} %logger" />
     <layout type="log4net.Layout.PatternLayout" value="%level - %message%newline" />
     <remoteAddress value="logs4.papertrailapp.com" />
     <remotePort value="24237" />
   </appender>
   
   
  <root>
    <level value="ALL" />
    <appender-ref ref="fr8Appender" />
    <appender-ref ref="PapertrailRemoteSyslogAppender" />
  </root>
</log4net>