<?xml version="1.0"?>
<appSettings>
  <!-- This settings file is referenced by all the projects which need HubWeb settings: 
  HubWeb itself, HealthMonitor and HealthMonitor.HubLauncher -->
  
  <!-- Plan Directory connection -->
  <add key="PlanDirectorySecret" value="5116B620-A497-4462-B036-E9DDEBA48DDE" />

  <!-- System user account -->
  <add key="SystemUserEmail" value="system1@fr8.co" />
  <add key="SystemUserPassword" value="foobar" />
  
  <!-- Azure storage -->
  <add key="AzureStorageDefaultConnectionString" value="DefaultEndpointsProtocol=https;AccountName=yardstore1;AccountKey=Or8iJLqkutxYCSKHiOo8iwSwyALCdFfR/RUTWSEZ9BPhLY4+L2QKVEean0bYSmVzCNSNSqBt2/zVA5HMgkwayg==" />
  <add key="DefaultAzureStorageContainer" value="default-container-dev" />
  
  <!-- Key Vault -->
  <add key="AuthorizationTokenStorageMode" value="KeyVault" />
  <add key="KeyVaultUrl" value="https://fr8Dev2KV.vault.azure.net:443" />
  <add key="KeyVaultClientId" value="472bbcb2-b99a-4ba9-812f-a9f90d1aa47f" />
  <add key="KeyVaultClientSecret" value="UaqUni5KaywTeOh8UEj8zpz+qAnlxIRTi50bTSKer6Y=" />

  <!--Email Delivery -->
  <add key="OutboundEmailHost" value="smtp.sendgrid.net" />
  <add key="OutboundEmailPort" value="587" />
  <add key="OutboundUserName" value="sendgrid_dev_dockyard" />
  <add key="OutboundUserPassword" value="thales123" />
  <add key="ForgotPassword_template" value="760f0be0-6ccc-4d31-aeb1-297f86267475" />

  <!--Pusher -->
  <add key="pusherAppId" value="148580" />
  <add key="pusherAppKey" value="123dd339500fed0ddd78" />
  <add key="pusherAppSecret" value="598b1fdcdf903325d520" />
  
  <!-- ASP.NET MVC -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- Other settings -->
  <add key="CustomerSupportEmail" value="support@fr8.co" />
  <add key="EmailAddress_GeneralInfo" value="info@fr8.co" />
  <add key="DocumentationFr8Site_SMSLink" value="http://documentation.fr8.co/sms" />
  <add key="log4net.Internal.Debug" value="true" />
</appSettings>
