@{
    Layout = "~/Views/Shared/_HomePageNew.cshtml";
}
@{
    ViewBag.Title = "Support";
}
<div class="support">
    <section id="support" class="text-block full-height-block support-page-background" data-section="support">
        <div class="inner-bg full-size-bg"></div>
        <div class="container full-height-block">
            <div class="inner-wrap centered">
                <div class="base-block-white title-block">
                    <h2>Get in Touch</h2>
                    <hr />
                </div>
                <div class="base-block-white content-block">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 contact-form">
                            <div class="alert"></div>
                            <form id="contact-form" method="post" role="form" novalidate>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label class="sr-only" for="name">Name:</label>
                                        <input type="text" id="name" class="form-control" name="name" placeholder="Name*" required>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="sr-only" for="email">Email:</label>
                                        <input type="email" id="email" class="form-control" name="email" placeholder="Email*" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="subject">Subject:</label>
                                    <input type="text" id="subject" class="form-control" name="subject" placeholder="Subject">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="message">Message:</label>
                                    <textarea id="message" name="message" class="form-control" placeholder="Message*" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg" id="submit-button">
                                    <i class="fa loading-icon"></i> <span>Send Message</span>
                                </button>
                                <input type="hidden" name="msg-submitted" id="msg-submitted" value="true">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>