@{
    Layout = "~/Views/Shared/_HomePage.cshtml";
}
@{ 
    ViewBag.Title = "Support";
}
<section class="text-block full-height-block">
    <div class="container">
        <div class="text-center center-block">
            <h1 class="text-primary">Coming Soon</h1>
            <div>For support, email</div> <a class="text-danger" href="mailto:info@metronic.com">info@fr8.co</a>
        </div>
    </div>
</section>
