@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="PlanDirectoryApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fr8 Plan Directory</title>

    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/metronic/components.css" />

    <link rel="stylesheet" href="~/Content/plan-directory.css" />

    <script src="~/bower_components/angular/angular.min.js"></script>
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>

    <script src="~/Scripts/PlanDirectoryApp.js"></script>
    <script src="~/Scripts/SearchController.js"></script>

    <script>
        angular.module('PlanDirectoryApp')
            .constant('urlPrefix', '@Url.Content("~").Substring(0, Url.Content("~").Length - 1)');
    </script>
</head>
<body ng-controller="SearchController">
    <div class="search-bar-container">
        <div class="search-bar">
            <form ng-submit="submitSearch()">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="searchForm.searchText" placeholder="Search for Plans" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="result-container">
        <div class="item" ng-repeat="pt in planTemplates">
            <button class="btn green create-plan-btn">Create Plan</button>
            <div class="info-row first">
                <div class="label">Name:</div>
                <div class="value">{{pt.Name}}</div>
            </div>
            <div class="info-row">
                <div class="label">Description:</div>
                <div class="value">{{pt.Description}}</div>
            </div>
        </div>

        <div class="pager">
        </div>
    </div>

</body>
</html>
