<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fr8dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fr8dev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fr8dev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$fr8dev</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DockyardDB" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:s79ifqsqga.database.windows.net,1433;Initial Catalog=fr8devDB1;User ID=alexeddodb@s79ifqsqga;Password=Zeus4593" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=DockyardDB2;Integrated Security=True;Transaction Binding=&quot;Explicit Unbind&quot;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DockyardDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=DockyardDB2;Integrated Security=SSPI;Transaction Binding=Explicit Unbind;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DockyardDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:s79ifqsqga.database.windows.net,1433;Initial Catalog=fr8devDB1;User ID=alexeddodb@s79ifqsqga;Password=Zeus4593</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>