.panel-body {
    line-height: 1.2em;
}

html, button, input, select, textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #F2E9DF;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio, canvas, img, video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

ul {
    list-style: square;
}

    ul ul {
        list-style: circle;
    }

    ul li, ol li {
        margin: 3px 0;
    }

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */

html {
    height: 100%;
}

body {
    height: 100%;
    font-size: 16px;
    font-family: 'Didact Gothic', sans-serif;
    color: #444C58;
    background-color: #fff !important;
    line-height: 1.6;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.goTop-link {
    background: #4db3a4;
    border: 0 none;
    bottom: 0;
    color: #fff;
    display: none;
    font-size: 25px;
    height: 45px;
    line-height: 45px;
    position: fixed;
    right: 0;
    text-align: center;
    text-decoration: none;
    width: 45px;
    z-index: 20;
    cursor: pointer;
}

    .goTop-link i.fa-arrow-up {
        height: 45px;
        line-height: 45px;
    }

/*General Styles*/
.clear {
    clear: both;
    background-color: white;
}

#wrap {
    min-height: 100%;
    margin-bottom: -200px;
}

#content-wrap {
    min-height: 100%;
    height: 100%;
}

.full-height-block .inner-wrap.centered {
    position: relative;
}

.visible-sm-block {
    display: none !important;
}

.full-size-bg {
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}


.base-block-white {
    background: url('/Content/img/backgrounds/white-bg-overlay.png');
}

/*General Text Styles*/
.text.green {
    color: #58b8a9;
}

span.bordered-top-green {
    border-top: 6px solid #58b8a9;
    padding-top: 20px;
}

span.bordered-bottom-grey {
    border-bottom: 4px solid #444d58;
    padding-bottom: 20px;
}

span.contact-hint {
    color: #d63737;
}

/*Heared styles*/
header#site-header {
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
}

header#site-header:after {
    content: "";
    clear: both;
}

/*Section Styles*/


#welcome:hover {
    cursor: pointer;
}

#welcome .inner-bg {
    background-image: url('/Content/img/backgrounds/dockyard_main1600.jpg');
    background-position: 0px 0px;
}

.landing-welcome-area {
    width: 100%;
    position: relative;
    top: 30%;
    z-index: 2;
}

    .landing-welcome-area .landing-welcome-inner {
        width: 100%;
    }

#logotext {
    margin-top: 100px;
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    line-height: 2.5rem;
    text-shadow: 0px 0px 10px black;
}

    #logotext h1 {
        text-align: center;
        font-size: 8rem;
        color: #fff;
        line-height: 5rem;
        margin: 0;
        padding: 0 0 2.5rem;
    }

    #logotext p {
        font-weight: bold;
        font-size: 3rem;
    }

    #logotext h2 {
        text-align: center;
        font-size: 5rem;
        color: #58b8a9;
        line-height: 5rem;
        margin: 0;
        padding: 0 0 2.5rem;
    }

.landing-welcome-area .next-page-bnt {
    text-align: center;
    padding-top: 5rem;
}


/* Services Page Styles*/
#services .inner-bg {
    background-image: url('/Content/img/backgrounds/services-bg.jpg');
}

#services .container {
    position: relative;
    z-index: 2;
    text-align: center;
}

#services .base-block-white {
    padding: 2rem;
    font-size: 1.25rem;
}

    #services .base-block-white.title-block {
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }

.base-block-white.button-block {
    margin-top: 32px;
    margin-bottom: 64px;
}

#services .base-block-white.content-block {
    display: inline-block;
    padding: 2rem 6rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

#services a {
    color: #697882;
}

    #services a:hover {
        color: #58b8a9;
    }

#services p {
    padding: 0;
    margin: 0;
}

/* About Us Page Styles*/
#aboutus {
    font-size: 2rem;
}

    #aboutus .inner-bg {
        background-image: url('/Content/img/backgrounds/about-bg.jpg');
    }

    #aboutus .container {
        position: relative;
        z-index: 2;
        text-align: center;
    }

        #aboutus .container p {
            margin-bottom: 4rem;
        }

    #aboutus span.bordered-top-green {
        border-top-width: 4px;
        padding-top: 0.5rem;
    }

    #aboutus span.bordered-bottom-grey {
        padding-bottom: 0.5rem;
        border-bottom-color: #697882;
    }

/*Company Page Style*/
.company h2 {
    font-family: 'Francois One', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
}

/* Counteracts Material styles */
.company p {
    letter-spacing: inherit;
    line-height: inherit;
    font-weight: inherit;
    padding: inherit;
}

.company .base-block-white {
    padding: 2em;
}

.company .inner-bg {
    background-image: url('/Content/img/backgrounds/welocome-bg.jpg');
    opacity:0.65;
}

.company-page-background {
    background-color: rgb(38, 165, 153);
}

.company h2 {
  font-size: 3em;
  color: #26A599;
}

.company .base-block-white p {
  font-size: 1.7em;
  color: #444C58;
}

/*Vision Section*/

#vision .container {
    position: relative;
    z-index: 2;
    text-align: center;
}

/* Support Page Style*/
.support .inner-bg {
    background-image: url('/Content/img/backgrounds/welocome-bg.jpg');
    opacity: 0.65;
}

.support-page-background {
    background-color: rgb(30,70,140);
}

.support h2 {
    font-size: 3em;
    color: #1E468C;
}

.support .base-block-white.title-block {
    padding: 2em 2em 1em 2em;
}

.support .base-block-white.content-block {
    padding: 0 2em 2em 2em;
}

.support h2 {
    font-family: 'Francois One', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
}

#support .container {
    position: relative;
    z-index: 2;
    text-align: center;
}

/*Team Section*/
.bio {
    font-size: 0.75em;
    text-align: left;
}

.top-buffer {
    margin-top: 20px;
}

.team-member {
    height: 100%;
    display: inline-block;
    background-color: white;
}

    .team-member .col-xs-2 img {
        max-width: 100%;
        float: right;
    }

    .team-member h3 {
        text-align: left;
        font-size: 1.2em;
    }

    .team-member span {
        font-style: italic;
    }

#team .container {
    position: relative;
    z-index: 2;
    text-align: center;
}

#team .base-block-white {
    padding: 2rem;
    font-size: 1.25rem;
}

    #team .base-block-white.title-block {
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }

/*Location Section*/

#location .container {
    position: relative;
    z-index: 2;
    text-align: center;
}

/*Hiring Section*/
#hiring .inner-bg {
    background-image: url('/Content/img/backgrounds/contact-bg.jpg');
}

#hiring .container {
    position: relative;
    z-index: 2;
    text-align: center;
}

#hiring .base-block-white {
    padding: 2rem;
    font-size: 1.25rem;
}

    #hiring .base-block-white.title-block {
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }

/* Contact Page Styles*/
#contacts .inner-bg {
    background-image: url('/Content/img/backgrounds/contact-bg.jpg');
}

#contacts .container {
    position: relative;
    z-index: 2;
    text-align: center;
}

#contacts h2 {
    padding: 0 0 1rem;
    margin: 0;
    font-size: 2.5rem;
    color: #4db3a4;
}

#contacts h3 {
    padding: 0 0 2rem;
    margin: 0;
    text-align: center;
}

.contact-form input[type = text], .contact-form input[type = email], .contact-form textarea, .row-fluid .contact-form textarea[class*="span"] {
    margin: 0;
    padding: 0 10px;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border: 0 none;
}

.row-fluid .contact-form textarea[class*="span"] {
    height: 100px;
    resize: none;
}

.contact-form .submit-btn {
    height: 50px;
    width: 250px;
    color: #4db3a4;
    text-align: center;
    background: #444d58;
    border-radius: 0;
    font-size: 1.1rem;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.contact-form .submit-btn:hover {
    background: #4db3a4;
    color: #444d58;
}

.contact-form textarea {
    max-height: 250px;
}

.inner-pages .inner-wrap {
    margin-top: -30px;
}


.inner-pages .inner-bg {
    background-image: url('/Content/img/backgrounds/services-bg.jpg');
}

.inner-pages .container {
    position: relative;
    z-index: 2;
    text-align: center;
}

.inner-pages .base-block-white {
    padding: 2rem;
    font-size: 1rem;
}

.inner-pages .base-block-white p.subtitle {
    font-size: 1.25rem;
    padding-bottom: 1.25rem;
    color: #46a597;
}

.inner-pages .base-block-white.title-block {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

    .inner-pages .base-block-white.content-block {
        display: inline-block;
        padding: 2rem 6rem;
        line-height: 2rem;
        margin-bottom: 2rem;
    }

.inner-pages a {
    color: #697882;
}

    .inner-pages a:hover {
        color: #58b8a9;
    }

.inner-pages p {
    padding: 0;
    margin: 0;
}

.inner-pages .email-section {
    padding: 0;
    margin: 0;
}

    .inner-pages .email-section input[type = "email"] {
        border: 2px solid #46a597;
    }

.inner-pages .contact-form .submit-btn {
    background: #46a597;
    color: #fff;
}

    .inner-pages .contact-form .submit-btn:hover {
        background: #444d58;
        color: #46a597;
    }


ul.bordered-list li {
    list-style: none;
    padding: 1rem 0;
    border-bottom: 1px solid #46a597;
}

    ul.bordered-list li:first-child {
        border-top: 1px solid #46a597;
    }

#footer {
  padding-top: 20px;
  padding-bottom: 10px;
}

.copyright {
  font-size: 0.8em;
  line-height: 36px;
  text-align: center;
}

@media (max-width: 991px) and (min-width: 768px) {
    .visible-sm-block {
        display: block !important;
    }
}

@media (max-width: 767px) {

    html {
        font-size: 8px;
    }

    .full-size-bg {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: -20px;
        margin-right: -20px;
    }

    #welcome .container, #services .container, #aboutus .container, #contacts .container, .inner-pages .container {
        padding-left: 0;
        padding-right: 0;
    }

}

#site-header .sign-signup {
    margin-top: 37px;
}

.login-container {
    margin-top: 60px;
}

.login-block {
    border-right: 1px solid #A5A5A5;
}

.auth-error-page {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 40px;
}

.auth-error-page-body {
    font-size: 15px;
    font-family: sans-serif;
}

.auth-error-header {
    padding: 9px 15px;
    display: inline-block;
}

.howitworks-h2 {
    padding: 0 0 1rem;
    margin: 0;
    font-size: 2.5rem;
    color: #4db3a4;
}

.howitworks-steps {
    text-align: left;
    margin-left: 30px !important;
}

.howitworks-margin-top {
    margin-top: 30px !important;
}

.howitworks-h3 {
    padding: 0 0 1rem;
    margin: 0;
    font-size: 1.8rem;
    color: #4db3a4;
}

.howitworks-h4 {
    padding: 0 0 1rem;
    margin: 0;
    font-size: 1.5rem;
    color: #4db3a4;
}

.base-block-white.button-block.bottom-margin {
    margin-bottom: 40px;
}

.solution-body {
    color: #000000;
    font: bold;
}

.solution-header {
    color: #fff;
    /*background-color: #b84d45;*/
    background-color: #58b8a9;
    background-image: url('/Content/img/backgrounds/solution-bg.png');
}

.solution-docusion {
    height: 10rem;
}

.btn-sln-turquoise {
    color: #ffffff;
    background-color: #58b8a9;
    border-color: #58b8a9;
}
