<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>All Action Lists</title>
    <link href="../../bower_components/DataTables/media/css/jquery.dataTables.min.css" rel="stylesheet" />
</head>
<body>
<table id="tblallactionlists" class="data-table dataTable">
	<thead>
	<tr>
		<th width="20%">Name</th>
	</tr>
	</thead>
</table>

    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/DataTables/media/js/jquery.dataTables.min.js"></script>
	<script>
		//Document ready function, will run after page is ready and all elements are loaded.
		$( document ).ready( function() {
			var uri = '/api/actionlist';

			//Inserts retrieved booking request json into DataTable Widget
			function showActionLists( response ) {
				//This configuration supports several columns of data
				$( '#tblallactionlists' ).dataTable( {
					data: response,
					columns: [
						{ "data": "Name" }
					]
				} );
			}

			//Ajax call to get all unprocessed booking request from server.
			$.get( uri, {}, showActionLists, 'json' );
		} );
	</script>
</body>
</html>