@{
    Layout = null;
}
@model Fr8Data.DataTransferObjects.AuthenticateResponse
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Authentication succeeded</title>
</head>
<body>
    <script type="text/javascript">
        window.opener.postMessage(
            {
                type: 'external-auth-success',
                terminalId: @Model.AuthorizationToken.TerminalID,
                authTokenId: '@Model.AuthorizationToken.Id.ToString()'
            },
            '*'
        );
    </script>
</body>
</html>
