<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="healthMonitor" type="HealthMonitor.Configuration.HealthMonitorConfigurationSection, HealthMonitor" />
  </configSections>

  <appSettings>
    <add key="OutboundFromAddress" value="fr8ops@fr8.company" />
    <add key="OutboundEmailHost" value="smtp.sendgrid.net" />
    <add key="OutboundEmailPort" value="587" />
    <add key="OutboundUserName" value="sendgrid_admin_dockyard" />
    <add key="OutboundUserPassword" value="photon23" />
    <add key="SlackChannelsListUrl" value="https://slack.com/api/channels.list?token=%TOKEN%" />
    <add key="terminalDocuSignUrl" value="http://localhost:53234/" />
    <add key="terminalPapertrailUrl" value="http://localhost:30701/" />
    <add key="terminalExcelUrl" value="http://localhost:46283/" />
    <add key="terminalGoogleUrl" value="http://localhost:25923/" />
    <add key="terminalDropboxUrl" value="http://localhost:19760/" />
    <add key="terminalSlackUrl" value="http://localhost:39504/" />
    <add key="terminalSalesforceUrl" value="http://localhost:51234/" />
    <add key="terminalSendGrid" value="http://localhost:10601/" />
    <add key="terminalAzure" value="http://localhost:46281/" />
    <add key="terminalQuickBooksUrl" value="http://localhost:48317/" />
  </appSettings>

  <healthMonitor>
    <notifiers>
      <add email="y.gnusin@gmail.com" />
    </notifiers>

    <testSuites>
      <add type="terminalPapertrailTests.Integration.Write_To_Log_v1Tests, terminalPapertrailTests" />
      <add type="terminalPapertrailTests.Integration.Terminal_Discover_v1_Tests, terminalPapertrailTests" />
      <add type="terminalDocuSignTests.Integration.Monitor_DocuSign_v1_Tests, terminalDocuSignTests" />
      <add type="terminalDocuSignTests.Integration.Record_DocuSign_Events_v1_Tests, terminalDocuSignTests" />
      <add type="terminalDocuSignTests.Integration.Terminal_Discover_v1Tests, terminalDocuSignTests" />
      <add type="terminalFr8CoreTests.Integration.Terminal_Discover_v1Tests, terminalFr8CoreTests" />
      <add type="terminalFr8CoreTests.Integration.MapFields_v1_Tests, terminalFr8CoreTests" />
      <add type="terminalFr8CoreTests.Integration.ConnectToSql_v1_Tests, terminalFr8CoreTests" />
      <add type="terminalFr8CoreTests.Integration.ExecuteSql_v1_Tests, terminalFr8CoreTests" />
      <add type="terminalExcelTests.Integration.Terminal_Discover_v1Tests, terminalExcelTests" />
      <add type="terminalGoogleTests.Unit.Receive_Google_Form_v1_Tests, terminalGoogleTests" />
      <add type="terminalGoogleTests.Unit.Extract_Spreadsheet_Data_v1Tests, terminalGoogleTests" />
      <add type="terminalGoogleTests.Integration.Terminal_Discover_v1_Tests, terminalGoogleTests" />
      <add type="terminalDropboxTests.Integration.Terminal_Discover_v1Tests, terminalDropboxTests" />
      <add type="terminalSlackTest.Integration.Terminal_Discover_v1Test, terminalSlackTests" />
      <add type="terminalSlackTest.Integration.Monitor_Channel_v1Test, terminalSlackTests" />
      <add type="terminalSalesforceTests.Integration.Terminal_Discover_v1Tests, terminalSalesforceTests" />
      <add type="terminalSendGridTests.Integration.Terminal_Discover_v1Tests, terminalSendGridTests" />
      <add type="terminalSendGridTests.Integration.SendEmailViaSendGrid_v1Tests, terminalSendGridTests" />
      <add type="terminalAzureTests.Integration.Write_To_Sql_Server_v1_Tests, terminalAzureTests" />
      <add type="terminalQuickBooksTests.Integration.Terminal_Discover_v1Test, terminalQuickBooksTests" />
    </testSuites>
  </healthMonitor>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Threading.Tasks.Extensions.Desktop" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.168.0" newVersion="1.0.168.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>