<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="healthMonitor" type="HealthMonitor.Configuration.HealthMonitorConfigurationSection, HealthMonitor" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!-- Fr8Hub settings-->
  <connectionStrings>
    <!-- If you change connection string name, change it also in Program.cs -->
    <add name="Fr8LocalDB" connectionString="Data Source=.;Initial Catalog=Fr8LocalDB;Integrated Security=SSPI;Transaction Binding=Explicit Unbind;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- End Fr8Hub settings-->
  <appSettings file="..\..\Config\Settings.config">
    <!-- Common terminal settings -->
    <add key="TerminalEndpoint" value="https://localhost/" />
    <add key="DefaultHubUrl" value="http://localhost:30643/" />

    <add key="HubApiBaseUrl" value="http://localhost:30643/api/v1/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SystemAccount" value="system1@fr8.co" />
    <add key="GoogleFormEventWebServerUrl" value="http://localhost:25923/terminals/terminalGoogle/events" />
    <!-- Plan Directory settings -->

    <add key="PlanDirectorySecret" value="5116B620-A497-4462-B036-E9DDEBA48DDE" />
    <add key="AzureSearchServiceName" value="fr8" />
    <add key="AzureSearchApiKey" value="8BECB1D404347BFC7BF536D03999CFE7" />
    <add key="AzureSearchIndexName" value="plan-template-test-index" />
  </appSettings>
  <!-- log4net section is required for terminalPapertrail to operate correctly -->
  <log4net configSource="log4net.tests.healthMonitor.config" />

  <healthMonitor>
    <notifiers>
      <add email="y.gnusin@gmail.com" />
      <add email="bahadir.bb@gmail.com" />
      <add email="alexavrutin@gmail.com" />
    </notifiers>
    <selfHostedApps>
      <add type="terminalAsana.SelfHostFactory, terminalAsana" name="terminalAsana" />
      <add type="terminalAtlassian.SelfHostFactory, terminalAtlassian" name="terminalAtlassian" />
      <add type="terminalAzure.SelfHostFactory, terminalAzure" name="terminalAzure" />
      <add type="terminalDocuSign.SelfHostFactory, terminalDocuSign" name="terminalDocuSign" />
      <add type="terminalDropbox.SelfHostFactory, terminalDropbox" name="terminalDropbox" />
      <add type="terminalExcel.SelfHostFactory, terminalExcel" name="terminalExcel" />
      <add type="terminalFr8Core.SelfHostFactory, terminalFr8Core" name="terminalFr8Core" />
      <add type="terminalGoogle.SelfHostFactory, terminalGoogle" name="terminalGoogle" />
      <add type="terminalPapertrail.SelfHostFactory, terminalPapertrail" name="terminalPapertrail" />
      <add type="terminalQuickBooks.SelfHostFactory, terminalQuickBooks" name="terminalQuickBooks" />
      <add type="terminalSalesforce.SelfHostFactory, terminalSalesforce" name="terminalSalesforce" />
      <add type="terminalSendGrid.SelfHostFactory, terminalSendGrid" name="terminalSendGrid" />
      <add type="terminalSlack.SelfHostFactory, terminalSlack" name="terminalSlack" />
      <add type="terminalTwilio.SelfHostFactory, terminalTwilio" name="terminalTwilio" />
      <add type="terminalYammer.SelfHostFactory, terminalYammer" name="terminalYammer" />
      <add type="terminalFacebook.SelfHostFactory, terminalFacebook" name="terminalFacebook" />
      <add type="terminalStatX.SelfHostFactory, terminalStatX" name="terminalStatX" />
      <add type="terminalInstagram.SelfHostFactory, terminalInstagram" name="terminalInstagram" />

      <!--Keep Hub after all terminals-->
      <add type="HubWeb.SelfHostFactory, HubWeb" name="Hub" />

    </selfHostedApps>
  </healthMonitor>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.diagnostics>
    <switches>
      <add name="ADALLegacySwitch" value="Warning" />
    </switches>
  </system.diagnostics>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Threading.Tasks.Extensions.Desktop" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.168.0" newVersion="1.0.168.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.1011" newVersion="1.2.0.1011" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1507.118" newVersion="4.2.1507.118" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.13.1.0" newVersion="1.13.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.13.1.0" newVersion="1.13.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.13.1.0" newVersion="1.13.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
