<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <log4net xdt:Transform="Replace" configSource ="log4net.tests.healthMonitor.Dev.config"/>
  <appSettings>
    <add key="DefaultHubUrl" value="http://dev.fr8.co/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="HubApiBaseUrl" value="http://dev.fr8.co/api/v1/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <add key="AzureSearchIndexName" value="plan-template-dev-index" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="GoogleFormEventWebServerUrl" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="http://dev-terminals.fr8.co:25923/terminals/terminalGoogle/events" />
    <!-- KeyVaultClientSecret is set by Set-HealthMonitorSettings.ps1 script during deployment. See FR-2974 for details -->
    <add key="KeyVaultClientSecret" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Fr8LocalDB" connectionString="Data Source=.;Initial Catalog=Fr8LocalDB;Integrated Security=SSPI;Transaction Binding=Explicit Unbind;" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.diagnostics>
    <switches>
      <add name="ADALLegacySwitch" value="Warning"/>
    </switches>
  </system.diagnostics>
  
</configuration>