<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="HubApiBaseUrl" value="http://localhost:30643/api/v1/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- KeyVaultClientSecret is set by Set-HealthMonitorSettings.ps1 script during deployment. See FR-2974 for details -->
    <add key="KeyVaultClientSecret" value="" />
  </appSettings>
  <connectionStrings>
  </connectionStrings>
</configuration>