<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="healthMonitor" type="HealthMonitor.Configuration.HealthMonitorConfigurationSection, HealthMonitor" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!-- Fr8Hub settings-->
  <connectionStrings>
    <!-- If you change connection string name, change it also in Program.cs -->
    <add name="DockyardDB" connectionString="Data Source=.;Initial Catalog=DockyardDB2;Integrated Security=SSPI;Transaction Binding=Explicit Unbind;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- End Fr8Hub settings-->
  <appSettings>
    <!-- This value is used by various terminals but actually can be any fake value -->
    <add key="TerminalEndpoint" value="https://localhost/" />
    <add key="CoreWebServerUrl" value="http://localhost:30643/" />
    <add key="HubApiVersion" value="v1" />
    <add key="AuthorizationTokenStorageMode" value="KeyVault" />
    <add key="KeyVaultClientId" value="472bbcb2-b99a-4ba9-812f-a9f90d1aa47f" />
    <add key="KeyVaultClientSecret" value="UaqUni5KaywTeOh8UEj8zpz+qAnlxIRTi50bTSKer6Y=" />
    <add key="KeyVaultUrl" value="https://fr8Dev2KV.vault.azure.net:443" />
    <add key="AzureStorageDefaultConnectionString" value="DefaultEndpointsProtocol=https;AccountName=yardstore1;AccountKey=Or8iJLqkutxYCSKHiOo8iwSwyALCdFfR/RUTWSEZ9BPhLY4+L2QKVEean0bYSmVzCNSNSqBt2/zVA5HMgkwayg==" />
    <add key="DefaultAzureStorageContainer" value="default-container-dev" />

    <add key="terminalAzure.TerminalEndpoint" value="http://localhost:46281" />
    <add key="terminalDocuSign.TerminalEndpoint" value="http://localhost:53234" />
    <add key="terminalFr8Core.TerminalEndpoint" value="http://localhost:50705" />
    <add key="terminalSlack.TerminalEndpoint" value="http://localhost:39504" />
    <add key="terminalSalesforce.TerminalEndpoint" value="http://localhost:51234" />
    <add key="terminalExcel.TerminalEndpoint" value="http://localhost:47011" />
    <add key="terminalTwilio.TerminalEndpoint" value="http://localhost:30699" />
    <add key="terminalGoogle.TerminalEndpoint" value="http://localhost:25923" />
    <add key="terminalSendGrid.TerminalEndpoint" value="http://localhost:10601" />
    <add key="terminalDropbox.TerminalEndpoint" value="http://localhost:19760" />
    <add key="terminalPapertrail.TerminalEndpoint" value="http://localhost:30701" />
    <add key="terminalAtlassian.TerminalEndpoint" value="http://localhost:39768" />
    <add key="terminalQuickBooks.TerminalEndpoint" value="http://localhost:48317" />
    <add key="terminalYammer.TerminalEndpoint" value="http://localhost:39555" />
    <add key="terminalBox.TerminalEndpoint" value="http://localhost:54642" />
  

    <!-- terminalDocuSign -->
    
    <add key="DocuSignIntegratorKey" value="DOCK-3ad2ea30-001c-4564-bd5a-1f4c128eb6ef" />
    <add key="environment" value="https://eu.docusign.net/" />
    
    <add key="DocuSignLoginEmail_DEMO" value="64684b41-bdfd-4121-8f81-c825a6a03582" />
    <add key="DocuSignLoginPassword_DEMO" value="grolier34" />
    <add key="DocuSignIntegratorKey_DEMO" value="TEST-4057de18-b5ae-43be-a408-565be7755cef" />
    <add key="environment_DEMO" value="https://demo.docusign.net/" />
    
    <!-- terminalSalesforce -->
    <add key="SalesforceConsumerKey" value="3MVG9KI2HHAq33RzZO3sQ8KU8JCwRRKbH4DLnWtqpm2aImV9QGoAeJcnVpnv1.yYcdUqX6jCd.pXQaYhN5irV" />
    <add key="SalesforceConsumerSecret" value="6672944505544272112" />
    <add key="SalesforceAuthURL" value="https://login.salesforce.com/services/oauth2/authorize" />
    <add key="SalesforceAuthCallbackURLDomain" value="https://13ff1cc4.ngrok.io/AuthenticationCallback/ProcessSuccessfulOAuthResponse?" />
    <add key="TokenRequestEndpointUrl" value="https://login.salesforce.com/services/oauth2/token" />
    <add key="salesforceTerminalNameQueryParam" value="terminalName=terminalSalesforce" />
    <add key="salesforceTerminalVersionQueryParam" value="terminalVersion=1" />
    <!-- terminalSendGrid -->
    <add key="OutboundFromAddress" value="fr8ops@fr8.company" />
    <add key="OutboundEmailHost" value="pop.gmail.com" />
    <add key="OutboundEmailPort" value="587" />
    <add key="OutboundUserName" value="sendgrid_dev_dockyard" />
    <add key="OutboundUserPassword" value="thales123" />

    <!-- terminalTwilio -->
    <add key="TwilioSid" value="AC41fe8b0846d9faee5f73787b19f53caf" />
    <add key="TwilioToken" value="6e062d64ccbe3113f2e076c7552e6bba" />
    <add key="TwilioFromNumber" value="+15005550006" />
    <!-- terminalQuickBooks -->
    <add key="QuickBooksAppToken" value="0521313ebb211b4718bb6fdb25a06b2a3232" />
    <add key="QuickBooksConsumerKey" value="qyprdPouFbM4GizeBxEmgDFJSP2IHA" />
    <add key="QuickBooksConsumerSecret" value="KTuj54AcVMvzwSmHRXCvGnjVsHww4E3y877fhLgI" />
    <add key="QuickBooksRequestTokenUrl" value="https://oauth.intuit.com/oauth/v1/get_request_token" />
    <add key="QuickBooksOAuthAccessUrl" value="https://oauth.intuit.com/oauth/v1/get_access_token" />
    <add key="QuickBooksOAuthAuthorizeUrl" value="https://workplace.intuit.com/Connect/Begin?oauth_token=%REQUEST_TOKEN%&amp;oauth_callback=http://localhost:30643/AuthenticationCallback/ProcessSuccessfulOAuthResponse?terminalName=terminalQuickBooks%26terminalVersion=1" />
    <!-- terminalYammer -->
    <add key="YammerOAuthUrl" value="https://www.yammer.com/oauth2/authorize?client_id=hI1kmJ9Kq5mFFoMCndxqqA&amp;response_type=code&amp;redirect_uri=http://localhost:30643/AuthenticationCallback/ProcessSuccessfulOAuthResponse?terminalName=terminalYammer%26terminalVersion=1&amp;state=%STATE%" />
    <add key="YammerOAuthAccessUrl" value="https://www.yammer.com/oauth2/access_token?client_id=hI1kmJ9Kq5mFFoMCndxqqA&amp;client_secret=X91uZIIsE0rbxXOkHK8NQz4quH52WBkufNrrP7No&amp;code=%CODE%&amp;grant_type=authorization_code" />
    <add key="YammerGroupListUrl" value="https://www.yammer.com/api/v1/groups.json?mine=1" />
    <add key="YammerPostMessageUrl" value="https://www.yammer.com/api/v1/messages" />
    <add key="YammerOAuthCurrentUserUrl" value="https://www.yammer.com/api/v1/users/current.json" />
    <!-- Test email -->
    <add key="TestEmail" value="fr8.testing@yahoo.com" />
    <add key="TestEmail_Name" value="fr8 testing" />
    <add key="TestEmail_Pop3Server" value="pop.mail.yahoo.com" />
    <add key="TestEmail_Port" value="995" />
    <add key="TestEmail_UseSsl" value="true" />
    <add key="TestEmail_Username" value="fr8.testing@yahoo.com" />
    <add key="TestEmail_Password" value="I6HmXEbCxNN" />
    <!-- terminalGoogle -->
    <add key="GoogleClientId" value="318751972844-osu7cku2cc7u81dalmbqrkatesnhuch5.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="_JnhajhbGtpZN8gyfBjvCDOV" />
    <add key="GoogleScope" value="https://spreadsheets.google.com/feeds https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/drive.file https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/forms https://www.googleapis.com/auth/script.external_request https://www.googleapis.com/auth/script.scriptapp https://www.googleapis.com/auth/userinfo.email" />
    <add key="GoogleRedirectUri" value="http://localhost:30643/AuthenticationCallback/ProcessSuccessfulOAuthResponse?terminalName=terminalGoogle&amp;terminalVersion=1" />
    <add key="GoogleUserProfileUrl" value="https://www.googleapis.com/oauth2/v1/userinfo?alt=json&amp;access_token=%TOKEN%" />
    <add key="GoogleTokenInfo" value="https://www.googleapis.com/oauth2/v3/tokeninfo?access_token=%TOKEN%" />
    <add key="GoogleFormEventWebServerUrl" value="http://localhost:25923/terminals/terminalGoogle/events" />
    <add key="Fr8TriggerScript" value="M_snhqvaPfe7gMc5XhGu52ZK7araUiK37" />
    <add key="GoogleAppScriptWebApp" value="https://script.google.com/macros/s/AKfycbzOmYZtRQp4F-yo6MG0KPC4dj8QqiTM0QMcVZhEK5mpd2QS-bXy/exec" />
    <add key="GoogleMailAccount" value="g_admin@dockyard.company" />
    <!-- terminalSlack -->
    <add key="SlackChannelsListUrl" value="https://slack.com/api/channels.list?token=%TOKEN%" />
    <add key="SlackUserListUrl" value="https://slack.com/api/users.list?token=%TOKEN%" />
    <!-- Terminal Secret-Id -->
    <add key="terminalAtlassianTerminalSecret" value="f747e49c-63a8-4a1b-8347-dd2e436c3b36" />
    <add key="terminalAtlassianTerminalId" value="d770ec3c-975b-4ca8-910e-a55ac43af383" />
    <add key="terminalAzureTerminalSecret" value="8d3d33d9-a260-46e2-b25a-121f2aba2a54" />
    <add key="terminalAzureTerminalId" value="e134e36f-9f63-4109-b913-03498d9356b1" />
    <add key="terminalDocuSignTerminalSecret" value="cc426e06-a42a-4193-9b90-d1122be979a3" />
    <add key="terminalDocuSignTerminalId" value="ee29c5bc-b9e7-49c5-90e1-b462c7e320e9" />
    <add key="terminalDropboxTerminalSecret" value="f6e4a687-fc0b-462a-87de-9cb2729d2bc1" />
    <add key="terminalDropboxTerminalId" value="c471e51e-1b2d-4751-b155-4af03ef51c3a" />
    <add key="terminalExcelTerminalSecret" value="36392f9d-c3c0-4b6a-a54a-142ba1ce312f" />
    <add key="terminalExcelTerminalId" value="551acd9b-d91d-4de7-a0ba-8c61be413635" />
    <add key="terminalFr8CoreTerminalSecret" value="9b4a97f3-97ea-42d7-8b02-a208ea47d760" />
    <add key="terminalFr8CoreTerminalId" value="2db48191-cda3-4922-9cc2-a636e828063f" />
    <add key="terminalGoogleTerminalSecret" value="ee7a622b-4a12-4dd6-ac09-03caf0da0f25" />
    <add key="terminalGoogleTerminalId" value="1a170d44-841f-4fa2-aae4-b17ad6c469ec" />
    <add key="terminalPapertrailTerminalSecret" value="42783cd2-d5e1-4d5a-9ea8-b63922ce2e20" />
    <add key="terminalPapertrailTerminalId" value="9b21279b-efb4-493a-a02b-fe8694262cc8" />
    <add key="terminalQuickBooksTerminalSecret" value="749f5c59-1bf1-4cb6-9275-eb1d489d9a05" />
    <add key="terminalQuickBooksTerminalId" value="75ec4967-6113-43b5-bb4c-6b3468696e57" />
    <add key="terminalSalesforceTerminalSecret" value="3b685a89-314d-48ce-91c6-7b1cfa29aa21" />
    <add key="terminalSalesforceTerminalId" value="d814af88-72b3-444c-9198-8c62292f0be5" />
    <add key="terminalSendGridTerminalSecret" value="a3a65c3c-6d75-4fd6-bd76-e66047affe09" />
    <add key="terminalSendGridTerminalId" value="7eab0e81-288c-492b-88e5-c49e9aae38da" />
    <add key="terminalSlackTerminalSecret" value="aa43d09e-a0dd-4433-8b05-4485e57738c6" />
    <add key="terminalSlackTerminalId" value="8783174f-7fb7-4947-98af-4f1cdd8b394f" />
    <add key="terminalTwilioTerminalSecret" value="3a772e7d-1368-4173-b081-91a7318910c7" />
    <add key="terminalTwilioTerminalId" value="2dd73dda-411d-4e18-8e0a-54bbe1aa015b" />
    <add key="terminalYammerTerminalSecret" value="d14aaa44-22a1-4d2c-b14b-be559c8941b5" />
    <add key="terminalYammerTerminalId" value="f2b999be-be3f-42b5-b0d5-611d0606723b" />
    <add key="PlanDirectorySecret" value="5116B620-A497-4462-B036-E9DDEBA48DDE"/>
    <!-- End of Terminal Secret-Id -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- Hub settings -->
    <add key="HubApiBaseUrl" value="http://localhost:30643/api/v1/" />
    <add key="SystemAccount" value="system1@fr8.co" />
    
    <!-- Plan Service settings -->
    <add key="PlanDirectoryBaseApiUrl" value="http://localhost:64879/api/" />
    <add key="AzureSearchServiceName" value="fr8" />
    <add key="AzureSearchApiKey" value="8BECB1D404347BFC7BF536D03999CFE7" />
    <add key="AzureSearchIndexName" value="plan-template-test-index" />
  </appSettings>
  <!-- log4net section is required for terminalPapertrail to operate correctly -->
  <log4net configSource="log4net.tests.healthMonitor.config" />

  <!--<log4net >
    <appender name="PapertrailRemoteSyslogAppender" type="log4net.Appender.RemoteSyslogAppender">
      <facility value="Local6" />
      <identity value="%date{yyyy-MM-ddTHH:mm:ss.ffffffzzz} %P{log4net:HostName} TerminalPapertrail" />
      <layout type="log4net.Layout.PatternLayout" value="%level - %message%newline" />
      <remoteAddress value="logs.papertrailapp.com" />
      <remotePort value="00000" />
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="PapertrailRemoteSyslogAppender" />
    </root>
    <appender name="aiAppender" type="Microsoft.ApplicationInsights.Log4NetAppender.ApplicationInsightsAppender, Microsoft.ApplicationInsights.Log4NetAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
  </log4net>-->
  
  <healthMonitor>
    <notifiers>
      <add email="y.gnusin@gmail.com" />
      <add email="bahadir.bb@gmail.com" />
      <add email="alexavrutin@gmail.com" />
    </notifiers>
    <selfHostedApps>
      <add type="HubWeb.SelfHostFactory, HubWeb" name="Hub" />
      
      <add type="PlanDirectory.SelfHostFactory, PlanDirectory" name="PlanDirectory" />

      <add type="terminalAtlassian.SelfHostFactory, terminalAtlassian" name="terminalAtlassian" />
      <add type="terminalAzure.SelfHostFactory, terminalAzure" name="terminalAzure" />
      <add type="terminalDocuSign.SelfHostFactory, terminalDocuSign" name="terminalDocuSign" />
      <add type="terminalDropbox.SelfHostFactory, terminalDropbox" name="terminalDropbox" />
      <add type="terminalExcel.SelfHostFactory, terminalExcel" name="terminalExcel" />
      <add type="terminalFr8Core.SelfHostFactory, terminalFr8Core" name="terminalFr8Core" />
      <add type="terminalGoogle.SelfHostFactory, terminalGoogle" name="terminalGoogle" />
      <add type="terminalPapertrail.SelfHostFactory, terminalPapertrail" name="terminalPapertrail" />
      <add type="terminalQuickBooks.SelfHostFactory, terminalQuickBooks" name="terminalQuickBooks" />
      <add type="terminalSalesforce.SelfHostFactory, terminalSalesforce" name="terminalSalesforce" />
      <add type="terminalSendGrid.SelfHostFactory, terminalSendGrid" name="terminalSendGrid" />
      <add type="terminalSlack.SelfHostFactory, terminalSlack" name="terminalSlack" />
      <add type="terminalTwilio.SelfHostFactory, terminalTwilio" name="terminalTwilio" />
      <add type="terminalYammer.SelfHostFactory, terminalYammer" name="terminalYammer" />
    </selfHostedApps>
    <testSuites>
      <add type="HealthMonitor.Jobs.MetricMonitor" />  
      <add type="HubTests.Integration.WebServicesControllerTests, HubTests" />  
      
      <!-- Please keep MonitorAllDocuSignEvents_Tests first in the list of DocuSign tests. -->
      <add type="terminalDocuSignTests.Integration.MonitorAllDocuSignEvents_Tests, terminalDocuSignTests" />
      <add type="terminalDocuSignTests.Integration.MonitorAllDocuSignEventsLocal_Tests, terminalDocuSignTests" />
      <add type="terminalDocuSignTests.Integration.Extract_Data_From_Envelopes_v1_EndToEnd_Tests, terminalDocuSignTests" />     
      
      <!-- Commented out due to FR-2845, Generate_DocuSign_Report activity is no longer available for discovery -->
      <!--<add type="terminalDocuSignTests.Integration.Generate_DocuSign_Report_v1_EndToEnd_Tests, terminalDocuSignTests" />-->      
      
      <add type="terminalDocuSignTests.Integration.Track_DocuSign_Recipients_v1_EndToEnd_Tests, terminalDocuSignTests" />
      <add type="terminalDocuSignTests.Integration.Mail_Merge_Into_DocuSign_v1_EndToEnd_Tests, terminalDocuSignTests" />
      <add type="terminalDocuSignTests.Integration.Monitor_DocuSign_v1_Tests, terminalDocuSignTests" />
      <add type="terminalDocuSignTests.Integration.Prepare_DocuSign_Events_For_Storage_v1_Tests, terminalDocuSignTests" />
      <add type="terminalDocuSignTests.Integration.Terminal_Discover_v1Tests, terminalDocuSignTests" />
      <add type="terminalDocuSignTests.Integration.Mail_Merge_Into_DocuSign_v1_Tests, terminalDocuSignTests" />
      <add type="terminalDocuSignTests.Integration.Extract_Data_From_Envelopes_v1_Tests, terminalDocuSignTests" />
      <add type="terminalDocuSignTests.Integration.Track_DocuSign_Recipients_v1_Tests, terminalDocuSignTests" />
      <add type="HubTests.Integration.ActivityController_EndToEnd_Tests, HubTests" />
      <add type="terminalPapertrailTests.Integration.Write_To_Log_v1Tests, terminalPapertrailTests" />
      <add type="terminalPapertrailTests.Integration.Terminal_Discover_v1_Tests, terminalPapertrailTests" />
      <add type="terminalFr8CoreTests.Integration.Terminal_Discover_v1Tests, terminalTests" />
      <add type="terminalFr8CoreTests.Integration.SaveToFr8Warehouse_v1_Tests, terminalTests" />
      <add type="terminalFr8CoreTests.Integration.MapFields_v1_Tests, terminalTests" />
      <add type="terminalFr8CoreTests.Integration.ConnectToSql_v1_Tests, terminalTests" />
      <add type="terminalFr8CoreTests.Integration.ExecuteSql_v1_Tests, terminalTests" />
      <add type="terminalFr8CoreTests.Integration.GetDataFromFr8Warehouse_v1_Tests, terminalTests" />
      <add type="terminalFr8CoreTests.Integration.Loop_v1_Tests, terminalTests" />
      <add type="terminalExcelTests.Integration.Terminal_Discover_v1Tests, terminalExcelTests" />
      <add type="terminalExcelTests.Integration.Terminal_Authentication_v1_Tests, terminalExcelTests" />
      <add type="terminalExcelTests.Integration.Load_Excel_File_v1_Tests, terminalExcelTests" />
      <add type="terminalGoogleTests.Integration.Terminal_Discover_v1_Tests, terminalGoogleTests" />
      <add type="terminalDropboxTests.Integration.Terminal_Discover_v1Tests, terminalDropboxTests" />
      <add type="terminalDropboxTests.Integration.Get_File_List_v1_Tests, terminalDropboxTests" />
      <add type="terminalDropboxTests.Integration.Get_File_List_v1_EndToEnd_Tests, terminalDropboxTests" />
      <add type="terminalSlackTests.Integration.Terminal_Discover_v1Tests, terminalSlackTests" />
      <add type="terminalSlackTests.Integration.Monitor_Channel_v1Tests, terminalSlackTests" />
      <add type="terminalSlackTests.Integration.Publish_To_Slack_v1_Tests, terminalSlackTests" />
      <add type="terminalSalesforceTests.Integration.Terminal_Discover_v1Tests, terminalSalesforceTests" />
      <add type="terminalSalesforceTests.Intergration.Post_To_Chatter_v1Tests, terminalSalesforceTests" />      
      <add type="terminalSalesforceTests.Intergration.GetSalesforceData_Into_SendEmail_EndToEnd_Tests, terminalSalesforceTests" />
      <add type="terminalSalesforceTests.Intergration.SaveToSalesforce_And_GetSalesforceData_EndToEnd_Tests, terminalSalesforceTests" />
      <add type="terminalSendGridTests.Integration.Terminal_Discover_v1Tests, terminalSendGridTests" />
      <add type="terminalSendGridTests.Integration.SendEmailViaSendGrid_v1Tests, terminalSendGridTests" />
      <add type="terminalAzureTests.Integration.Write_To_Sql_Server_v1_Tests, terminalAzureTests" />
      <add type="terminalTwilioTests.Integration.Terminal_Discover_v1Tests, terminalTwilioTests" />
      <add type="terminalTwilioTests.Integration.Send_Via_Twilio_v1Tests, terminalTwilioTests" />
      <add type="terminalFr8CoreTests.Integration.Monitor_Fr8_Events_v1_Tests, terminalTests" />
      <add type="terminalGoogleTests.Integration.Get_Google_Sheet_Data_v1Tests, terminalGoogleTests" />
      <add type="terminalGoogleTests.Integration.Monitor_Form_Responses_v1_Tests, terminalGoogleTests" />
      <add type="terminalQuickBooksTests.Integration.Create_Journal_Entry_v1_Tests, terminalQuickBooksTests" />
      <add type="terminalQuickBooksTests.Integration.Terminal_Discover_v1_Tests, terminalQuickBooksTests" />
      <add type="terminalQuickBooksTests.Integration.Terminal_Authentication_v1_Tests, terminalQuickBooksTests" />
      <add type="terminalQuickBooksTests.Integration.Convert_TableData_To_AccountingTransactions_v1_Tests, terminalQuickBooksTests" />
      <add type="terminalYammerTests.Integration.Terminal_Discover_v1_Tests, terminalYammerTests" />
      <add type="terminalYammerTests.Integration.Post_To_Yammer_v1_Tests, terminalYammerTests" />
      <add type="terminalYammerTests.Integration.Terminal_Authentication_v1_Tests, terminalYammerTests" />

      <add type="terminalAtlassianTests.Integration.Get_Jira_Issue_v1_Tests, terminalAtlassianTests" />
      
      <add type="terminalIntegrationTests.EndToEnd.Query_DocuSign_Into_Google_Sheet_Tests, terminalIntegrationTests" />
      <add type="terminalIntegrationTests.EndToEnd.GoogleIntoGoogleTests, terminalIntegrationTests" />
      <add type="terminalIntegrationTests.EndToEnd.MailMergeFromSalesforceTests, terminalIntegrationTests" />
      <add type="terminalIntegrationTests.EndToEnd.WarehouseSearch_Tests, terminalIntegrationTests" />
      
      <add type="terminalIntegrationTests.Integration.MonitorTerminalSubmissionPlanTest, terminalIntegrationTests" />
      <add type="terminalIntegrationTests.Integration.PlanDirectory_Tests, terminalIntegrationTests" />
      <add type="terminalIntegrationTests.Integration.ManifestRegistryMonitorTests, terminalIntegrationTests" />
    </testSuites>
  </healthMonitor>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <system.diagnostics>
    <switches>
      <add name="ADALLegacySwitch" value="Warning" />
    </switches>
  </system.diagnostics>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Threading.Tasks.Extensions.Desktop" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.168.0" newVersion="1.0.168.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.1011" newVersion="1.2.0.1011" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
