@{
    Layout = null;
}
<!-- BEGIN HEADER TOP -->
<div class="page-header-top">
    <div class="container">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="#/"><img src="/Content/img/dockyard_logo.png" alt="logo" class="logo-default"></a>
        </div>
        <!-- END LOGO -->


    </div>
</div>
<!-- END HEADER TOP -->
<!-- BEGIN HEADER MENU -->
<div class="page-header-menu">
    <div class="container">
        <div class="hor-menu">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#/All">Home</a>
                </li>
                <li class="active">
                    <a href="#/All">Register</a>
                </li>
                <li class="active">
                    <a href="#/signIn">Log In</a>
                </li>

            </ul>
        </div>
        <!-- END MEGA MENU -->
    </div>
</div>
<!-- END HEADER MENU -->