<h2>Booking Request</h2>
<script src="~/Scripts/DataTables-1.10.7/media/js/jquery.dataTables.js"></script>
<link href="~/Content/DataTables-1.10.7/media/css/jquery.dataTables.css" rel="stylesheet" />

<table id="tblbookingrequest" class="data-table table-with-action">
    <thead>
        <tr>
            <th width="10%">Date Received</th>
            <th width="15%">From</th>
            <th width="15%">Subject</th>
            <th width="45%">Body</th>
            <th class="action-cell">Action</th>
        </tr>
    </thead>
</table>

<script type="text/javascript">
    //Document ready function, will run after page is ready and all elements are loaded.
    $(document).ready(function () {
        //Ajax call to get all unprocessed booking request from server.
        $.post("/BookingRequest/GetAllBookingRequests", {}, showRequests, 'json');

        //Inserts retrieved booking request json into DataTable Widget
        function showRequests(response) {
            //This configuration supports two buttons (Invalid and Details) and several columns of data
            var table = $('#tblbookingrequest').DataTable({
                data: JSON.parse(response),
                order: [0, 'desc'],

                columns: [
                    { data: 'date_received' },
                    { data: 'from_address' },
                    { data: 'subject' },
                    { data: 'body' },
                    {
                        data: null,
                        defaultContent: "<button value='detail' class='custom-btn glyphicon glyphicon-folder-open'>Details</button><button value='invalid' class='custom-btn glyphicon glyphicon-remove'>Invalid</button>"
                    }
                ],
            });

            //This function will bind a click function on every button in table "tblbookingrequest"
            $('#tblbookingrequest tbody').on('click', 'button', function () {

                var data = table.row($(this).parents('tr')).data();
                var parentcontrol = this;
                //checking clicked button value for appropriate action this will be either "detail" or "invalid"
                switch ($(this).val()) {
                    case "detail":
                        //redirecting to main calendar view for details
                        window.location.href = '@Url.Action("Details")' + "/" + data.id;
                        break;
                    case "invalid":
                        //setting status of booking request to "INVALID" and removing the row
                        $.post("/BookingRequest/Invalidate?curBRId=" + data.id, function (response) {
                            if (response.Name == 'Success')
                                $(parentcontrol).parents('tr').remove();
                            else if (response.Name == 'DifferentBooker')
                                ShowBookerOwnershipAlert(response.Message, data.id);
                            else if (response.Name == 'error')
                                alert(response.Message);
                            else
                                alert('An error occured on the server. Your changes have not been saved.');
                        }, 'json');
                        break;
                    default:
                        //generates an alert for invalid selection, generally it won't happen.
                        alert("Not a valid action!");
                }
            });
        }
    });

  
</script>
