<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TestDB" connectionString="Data Source=.\SQL2012;Initial Catalog=TestDB;Integrated Security=SSPI;Transaction Binding=Explicit Unbind;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>