@{
    Layout = "~/Views/Shared/_HomePageNew.cshtml";
}
@{
    ViewBag.Title = "Add Note";
}
@model List<Fr8.Infrastructure.Data.DataTransferObjects.DocumentationResponseDTO>
<section id="solution" data-section="welcome">
    <div class="solution-header jumbotron">
        <div id="logotext" class="text">
            <img class="solution-docusion" src="/Content/img/welcome/DocuSign_Logo_Purple_Yellow.png">
            <p class="descr"><span>Cloud Fr8 Services for DocuSign</span></p>
        </div>
    </div>
</section>
<h2 class="container" style="margin-bottom:30px">Fr8 Solutions for DocuSign</h2>
@Html.Partial("SolutionListTemplate", Model)
<script type="text/javascript">
    if (window.analytics != null) {
        window.analytics.page('Visited Page - DocuSign Solutions');
    }
</script>