@{
    Layout = "~/Views/Shared/_HomePageNew.cshtml";
}
@{
    ViewBag.Title = "Salesforce.com";
}
@model List<Fr8.Infrastructure.Data.DataTransferObjects.DocumentationResponseDTO>
<section id="solution" data-section="welcome">
    <div class="solution-header jumbotron">
        <div id="logotext" class="text">
            <img class="solution-docusion" src="/Content/img/salesforce.png">
            <p class="descr"><span>Cloud Fr8 Services for Salesforce</span></p>
        </div>
    </div>
</section>
<h2 class="container" style="margin-bottom:30px">Fr8 Solutions for Salesforce</h2>
@Html.Partial("SolutionListTemplate", Model)