<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>All Actions</title>
	<link href="../../Content/DataTables-1.10.7/media/css/jquery.dataTables.css" rel="stylesheet"/>
</head>
<body>
<table id="tblallactions" class="data-table dataTable">
	<thead>
	<tr>
		<th width="20%">Name</th>
	</tr>
	</thead>
</table>
	<script src="../../Scripts/jquery-2.1.4.min.js"></script>
	<script src="../../Scripts/DataTables-1.10.7/media/js/jquery.dataTables.js"></script>
<script>
	//Document ready function, will run after page is ready and all elements are loaded.
	$( document ).ready( function() {
		var uri = '/api/action';

		//Inserts retrieved booking request json into DataTable Widget
		function showActions( response ) {
			//This configuration supports several columns of data
			$( '#tblallactions' ).dataTable( {
				data: response,
				columns: [
					{ "data": "Name" }
				]
			} );
		}

		//Ajax call to get all unprocessed booking request from server.
		$.get( uri, {}, showActions, 'json' );
	} );
</script>
</body>
</html>