.auth-dialog .field-group {
    margin-left: 10px;
    margin-bottom: 10px;
}

.auth-dialog button {
    margin-bottom: 5px;
}

.auth-dialog .auth-link-account {
    display: block;
    color: black;
}

.auth-dialog .auth-link-account i {
    margin-right: 2px;
}
