.fr8-collapse-content {
    min-height: 0 !important;
    max-height: 1000px;
    overflow: hidden;
    opacity: 1;
    transition: max-height 2s linear;
    -webkit-transform: translate(0,0) scale(1);
    transform: translate(0,0) scale(1);
}

.fr8-collapse-content.fr8-collapse-collapsed {
    max-height: 0;
    height: 0 !important;
    transition: all .2s linear;
    -webkit-transform: translate(0,0) scale(1);
    transform: translate(0,0) scale(1);
}

.fr8-collapse-heading {
    background-color: rgba(158,158,158,0.2);
}

.fr8-collapse-heading.fr8-collapse-collapsed {
    background-color: transparent;
}

.fr8-collapse-heading .fr8-collapse-marker {
    color: white;
    height: auto;
    transform: translate3d(0,-50%,0) rotate(-180deg) !important;
    transition: all 0.5s;
}

.fr8-collapse-heading.fr8-collapse-collapsed .fr8-collapse-marker {
    color: rgba(0,0,0,0.54);
    transform: translate3d(0,-50%,0) rotate(0deg) !important;
}
