/* Query Builder */

.query-builder-table {
    margin-left: 27px;
    margin-bottom: 5px;
    width: calc(100% - 25px);
}

    .query-builder-table td:first-of-type,
    .query-builder-table th:first-of-type {
        padding-left: 0;
    }

    .query-builder-table tbody,
    .query-builder-table thead {
        display: block;
    }

        .query-builder-table tbody tr.no-border td {
            border-top: none;
            padding: 0;
        }

    .query-builder-table input[type=text].invalid {
        border: 1px solid red;
    }

    .query-builder-table div.invalid-hint {
        font-size: 1em;
        color: red;
        text-align: right;
    }

.query-builder-table .form-control {
    padding: 0;
    height: 25px;
}

.query-builder-table date-picker .btn.btn-default {
    padding: 1px 3px 2px 3px;
    border: 1px solid #acacac;
}
