<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Docusign_IntegratorKey" value="TEST-34d0ac9c-89e7-4acc-bc1d-24d6cfb867f2" />
    <add key="Docusign_DocuSignAddress" value="http://demo.docusign.net" />
    <add key="Docusign_WebServiceUrlRestVersionPart" value="/restapi/v2" />
  </appSettings>
</configuration>
