.table-linkrows > tbody > tr {
    cursor: pointer;
}

.table-process-templates td button {
    float: right;
}

/* 
    This one is for Angular Bootstrap.
    More info: https://angular-ui.github.io/bootstrap/
*/
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.form-horizontal .control-label {
    text-align: left;
}

.portlet.light > .portlet-title {
    min-height: 38px;
}

.criteria-warning {
    opacity: 0.7;
    font-size: 16px;
    text-align: center;
    padding: 15px; 
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.noclick-background {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 2;
    margin: 0;
    top: 0;
    left:0;
    padding:0;
    pointer-events: none;
}

.grayed-out {
    z-index: 3;
    opacity: 0.5;
}

/* Added for Showing Steps in Activity Pane*/
.processActionStep
{
    background-image: URL("/Content/img/ProcessBuilder/circle.png");
    display: inline-flex;;
    width: 80px;
    height: 50px;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 14px;    
    font-weight: 900;
    margin-left: 5px;
    margin-right: 5px;
}

.processActionStepSelected
{
    background-image: URL("/Content/img/ProcessBuilder/circle-selected.png");
    display: inline-flex;
    width: 75px;
    height: 50px;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 14px;    
    font-weight: 900;
    margin-left: 5px;
    margin-right: 5px;
}

.processActionStepsRightArrow{
        padding-left: 15px;    
    margin-top: -15px;
}

/* Process Builder */

.process-builder-container {
    overflow-y: auto;
    white-space: nowrap;
}

.action-arrow {
    background-image: url('https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_arrow_forward_48px-512.png');
    background-size: contain;
    display: inline-block;
    height: 50px;
    margin-top: 120px;
    width: 50px;
}

.action {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px,
                rgba(0, 0, 0, 0.137255) 0px 1px 1px 0px,
                rgba(0, 0, 0, 0.117647) 0px 2px 1px -1px;
    cursor: pointer;
    display: inline-block;
    height: 300px;
    margin: 10px;
    padding: 5px;
    vertical-align: top;
    width: 330px;
}

.action.selected {    
    cursor: default;
}

.action-name {
    margin-top: 10px;
    text-align: center;
}

.action-to-add {
    opacity: 0.5;
}

.action-to-add:hover {
    border-color: black;
    opacity: 1;
}

.action .pane-configure-action {    
    height: 250px;
    display: block;
    width: 100%;
}

/* Select Action */
.select-action-modal .modal-dialog {
    width: 1000px;
}

.select-action-category {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
}

.select-action-list {
    border: 2px solid black;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

.select-action-row {
    cursor: default;
    border-bottom: 1px solid black;
    padding: 8px;
}

.select-action-row:hover {
    color: white;
    background-color: black;
}

/* Filter Pane */
.filter-pane .radio:last-of-type {
    margin-bottom: 0;
}

/* Query Builder */
.query-builder-table {
    margin-left: 27px;
    margin-bottom: 5px;
    width: calc(100% - 25px);
}

.query-builder-table td:first-of-type,
.query-builder-table th:first-of-type {
    padding-left: 0;
}

.query-builder-table tbody,
.query-builder-table thead {
    display: block;
}

.query-builder-table tbody {
    max-height: 125px;
    overflow-y: auto;
}

.query-builder-add-button {
    margin-left: 27px;
}

.query-builder-table .form-control {
    padding: 0;
    height: 25px;
}

.query-builder-delete-button {
    cursor: pointer;
    margin-top: 4px;
}

form.internal-authenticate-form {
    padding: 10px;
}