.table-linkrows > tbody > tr {
    cursor: pointer;
}

.table-process-templates td button {
    float: right;
}

.table-without-pagination .dataTables_length,
.table-without-pagination .dataTables_filter,
.table-without-pagination .dataTables_info,
.table-without-pagination .dataTables_paginate {
    display: none;
}

/* 
    This one is for Angular Bootstrap.
    More info: https://angular-ui.github.io/bootstrap/
*/
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.form-horizontal .control-label {
    text-align: left;
}

.portlet.light > .portlet-title {
    min-height: 38px;
}

.criteria-warning {
    opacity: 0.7;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.noclick-background {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 2;
    margin: 0;
    top: 0;
    left: 0;
    padding: 0;
    pointer-events: none;
}

.grayed-out {
    z-index: 3;
    opacity: 0.5;
}

/* Added for Showing Steps in Activity Pane*/
.processActionStep {
    background-image: URL("/Content/img/ProcessBuilder/circle.png");
    display: inline-flex;
    width: 80px;
    height: 50px;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 14px;
    font-weight: 900;
    margin-left: 5px;
    margin-right: 5px;
}

.processActionStepSelected {
    background-image: URL("/Content/img/ProcessBuilder/circle-selected.png");
    display: inline-flex;
    width: 75px;
    height: 50px;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 14px;
    font-weight: 900;
    margin-left: 5px;
    margin-right: 5px;
}

.processActionStepsRightArrow {
    padding-left: 15px;
    margin-top: -15px;
}

/* Process Builder */

.designer-header {
    background-color: #58b8a9;
    margin-bottom: 20px;
    padding: 20px;
}

.process-template-name {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    vertical-align: top;
    min-width: 300px;
}

.switch-btn {
    background-color: lightgrey;
    width: 80px;
}

    .switch-btn.active {
        background-color: #428bca;
    }

.process-builder-container {
    height: 800px;
    overflow-y: auto;
    position: relative;
    white-space: nowrap;
}

.action-arrow-right {
    background-image: url('/Content/img/site/arrow_blue_ic_arrow_forward_48px-512.png');
    background-size: contain;
    display: inline-block;
    height: 50px;
    margin: 125px 10px 0 7px;
    width: 50px;
}

.action-arrow-bottom {
    background-color: #58B8A9;
    position: absolute;
    width: 16px;
}

    .action-arrow-bottom::after {
        content: '';
        border-right: 14px solid transparent;
        border-left: 14px solid transparent;
        border-top: 20px solid #58B8A9;
        display: block;
        bottom: -13px;
        left: -6px;
        position: absolute;
    }

.action {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.137255) 0px 1px 1px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 1px -1px;
    display: inline-block;
    height: auto;
    min-height: 330px;
    margin-bottom: 5px;
    vertical-align: top;
    width: 330px;
    white-space: initial;
    min-width: 200px;
    max-width: 450px;
}

.action-name {
    text-align: center;
}

.action-menu {
    bottom: 5px;
    position: absolute;
    right: 5px;
    color: white;
}

    .action-menu:hover {
        color: #bab7b7;
    }

.action-header {
    padding-top: 15px;
    padding-right: 10px;
    background-color: #1eac48;
    margin-top: 0px;
    padding-bottom: 10px;
    border-bottom: 1px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
}

    .action-header p {
        font-weight: 800;
        font-size: 22px;
        color: white;
    }

.action-to-add {
    cursor: pointer;
    opacity: 0.5;
    margin-left: -3px;
    height: 300px;
}

    .action-to-add:hover {
        border-color: black;
        opacity: 1;
    }

.action .pane-configure-action {
    padding: 5px;
    height: auto;
    min-height: 224px;
    max-height: 330px;
    display: block;
    overflow: auto;
    width: 100%;
}

.action-group {
    display: inline-block;
    position: absolute;
}

/* Select Action */
.select-action-modal .modal-dialog {
    width: 1000px;
}

.select-action-category {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
}

    .select-action-category th {
        background-color: #EBE9F1;
    }

    .select-action-category td,
    .select-action-category th {
        border: 1px solid #ddd;
        padding: 5px;
        width: 200px;
    }

        .select-action-category td:hover {
            background-color: #f9f9f9;
            cursor: pointer;
        }

.select-action-list {
    border: 2px solid black;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}


.select-action-row {
    cursor: default;
    border-bottom: 1px solid black;
    padding: 8px;
}

    .select-action-row:hover {
        color: white;
        background-color: black;
    }

/* Filter Pane */
.filter-pane .radio:last-of-type {
    margin-bottom: 0;
}

/* Query Builder */
.query-builder-table {
    margin-left: 27px;
    margin-bottom: 5px;
    width: calc(100% - 25px);
}

    .query-builder-table td:first-of-type,
    .query-builder-table th:first-of-type {
        padding-left: 0;
    }

    .query-builder-table tbody,
    .query-builder-table thead {
        display: block;
    }

    .query-builder-table tbody {
        max-height: 125px;
        overflow-y: auto;
    }

.query-builder-add-button {
    margin-left: 27px;
}

.query-builder-table .form-control {
    padding: 0;
    height: 25px;
}

.query-builder-delete-button {
    cursor: pointer;
    margin-top: 4px;
}

.table-delete-button {
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-top: 10px;
}

form.internal-authenticate-form {
    padding: 10px;
}

/* Configure Action Pane */
.nested-controls {
    margin-left: 20px;
}

input[type=radio] ~ div.nested-controls {
    display: none;
}

input[type=radio]:checked ~ div.nested-controls {
    display: block;
}

.page-header-top, .page-header-menu {
    padding-left: 10px;
    padding-right: 2%;
}

.page-header .container {
    width: 100%;
    margin: 0;
}

.nested-controls {
    margin: 0;
}

.ui-select-match > span, .nested-controls input {
    height: 26px;
    padding-top: 3px;
    padding-bottom: 3px;
}

/*Class to display the text block properly*/
.TextBlockClass {
    display: block;
    width: 100%;
    height: auto;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
}

.readOnlyTextArea div.ta-editor {
    min-height: initial;
    border-style: none;
    height: auto;
    overflow: auto;
    padding: initial;
    box-shadow: none;
}

.radio-button-group-content {
    margin-left: 20px;
}

.readOnlyTextArea .ta-scroll-window.form-control {
    height: auto;
    min-height: initial !important;
    padding: initial !important;
}

.readOnlyTextArea .ta-editor.ta-html {
    min-height: initial !important;
}

.readOnlyTextArea .ta-scroll-window > .ta-bind {
    min-height: initial !important;
    padding: initial !important;
}

.container.app-container {
    width: 100%;
}